{% load dsfr_tags qfdmd_tags %}
{% block wrapper %}
<header class="qf-text-green-menthe-main-548 {% block wrapper_classes %}qf-py-8w qf-pt-3w md:qf-pt-4w{% endblock %}">
    <div class="
        qf-flex fr-container
        ">
    <div class="
    max-md:qf-order-1
    qf-flex qf-flex-col qf-items-start qf-gap-3w {% block header_classes %}{% endblock %}">
        {% block content %}
        <a
            href="{% url 'qfdmd:home' %}"
            class="qf-flex qf-gap-1v qf-justify-center qf-items-center
            qf-text-green-menthe-sun-373-moon-652 qf-bg-none
            fr-btn fr-btn--sm fr-icon-corner-up-left-fill fr-btn--icon-left fr-btn--tertiary
            qf-bg-white
            md:qf-hidden qf-mr-auto"
        >
            {{ ASSISTANT.nouvelle_recherche }}
        </a>
        {% get_search_term_name as search_term_name %}
        {% if search_term_name %}
            {% block synonyme %}
                {# TODO : appliquer la bonne couleur depuis le Figma #}
                <div class="qf-text-black qf-text-lg">
                {# TODO: revoir wording #}
                Votre recherche {% dsfr_tag label=search_term_name %} correspond aux recommandations de la fiche suivante :
                </div>
            {% endblock synonyme %}
        {% endif %}

        <h1 class="qf-m-0 {% block title_classes %}{% endblock %}">
            {% block title_content %}
                {% firstof label title as title %}
                <span class="qf-text-black">Que faire de {{ pronom|default:"mon" }}</span> <span class="qf-text-green-menthe-sun-373-moon-652">
                    {{ title }} ?
                </span>
            {% endblock title_content %}
        </h1>
        {% if infotri %}
            <div class="{% block infotri_wrapper_classes %}{% endblock %} mr-auto">
            {% include "ui/components/produit/_infotri.html" with infotri=infotri %}
            </div>
        {% endif %}
        {% endblock content %}
    </div>
    {% include "ui/snippets/share_and_embed_produit.html" with extra_classes="max-md:qf-hidden qf-ml-auto qf-mr-0 max-md:qf-order-last md:qf-min-w-[17rem] md:qf-row-start-1 md:qf-col-start-2" %}
</header>
{% endblock wrapper %}
