{% load dsfr_tags wagtailcore_tags %}

{# TODO: check spacing #}
<div class="qf-flex qf-flex-col qf-gap-2 {{ extra_classes }}">
    {% if bon_etat and mauvais_etat %}
        <div class="fr-tabs fr-tabs--noborder-mobile">
            <ul class="fr-tabs__list" role="tablist" aria-label="État du produit {{ produit }}">
                <li role="presentation">
                    <button
                        id="mauvais-etat-tab"
                        class="fr-tabs__tab fr-icon-thumb-down-line fr-tabs__tab--icon-left"
                        tabindex="0"
                        role="tab"
                        aria-selected="true"
                        aria-controls="mauvais-etat-panel"
                    >
                        Mauvais état
                    </button>
                </li>
                <li role="presentation">
                    <button
                        id="bon-etat-tab"
                        class="fr-tabs__tab fr-icon-thumb-up-line fr-tabs__tab--icon-left"
                        tabindex="-1"
                        role="tab"
                        aria-selected="false"
                        aria-controls="bon-etat-panel"
                    >
                        Bon état
                    </button>
                </li>
            </ul>
            <div id="mauvais-etat-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="mauvais-etat-tab" tabindex="0">
                {% include "./_detail.html" with content=mauvais_etat id="mauvais_etat" carte_config_slug="mauvais-etat" %}
            </div>
            <div id="bon-etat-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="bon-etat-tab" tabindex="0">
                {% include "./_detail.html" with content=bon_etat id="bon_etat" carte_config_slug="bon-etat" %}
            </div>
        </div>
    {% else %}
        <div>
            {% include "./_detail.html" with id="carte" %}
        </div>
    {% endif %}

    <div class="qf-flex qf-flex-col qf-gap-4w qf-mt-2w">
    {% for section in produit.content_display %}
    <div id="{{ section.id }}">
        <h2>
        {{ section.title }}
        </h2>

        <div>
        {{ section.content|richtext }}
        </div>
    </div>
    {% endfor %}
    </div>
</div>
