{% extends "ui/layout/assistant.html" %}

{% load dsfr_tags %}
{% block main %}
    {% if form %}
        <form method="post" class="qf-flex qf-flex-col qf-gap-2w qf-group">
            {% csrf_token %}
            {{ form.errors }}
            {{ form }}
            {% dsfr_button label="Valider" %}
            {% include "ui/components/carte/shared/disclaimers/loading_solutions.html" %}
        </form>
    {% else %}
    Merci pour vos modifications, elles seront prises en compte sous 30 minutes environ.
    {% endif %}
</turbo-frame>

{% endblock main %}
