{% load carte_tags %}
<div class="qf-space-y-1w qf-pb-1w" data-testid="acteur-detail-labels">
    {% with label=object.labels_display|first %}
        {% if label.bonus %}
            {% include "qfdmo/acteur/_labels/bonus.html" %}
        {% else %}
            {% get_non_enseigne_labels_count object as non_enseigne_count %}
            {% if non_enseigne_count > 1 %}
                {% include "qfdmo/acteur/_labels/multiple_labels.html" %}
            {% else %}
                {% include "qfdmo/acteur/_labels/generic.html" %}
            {% endif %}
        {% endif %}
    {% endwith %}
</div>
