<div
    class="{% if border %}qf-border qf-border-grey-900 qf-border-solid{% endif %}"
>
    <a
        class="{% if border %}fr-p-2w{% endif %} fr-link fr-link--no-underline
        qf-w-full qf-flex fr-text--sm qf-gap-1w
        qf-no-external-link-icon"
        href="{{ source_or_label.url if source_or_label.url else '#' }}"
        target="_blank"
        rel="noreferrer"
    >
        {% if source_or_label.logo_file %}
            <img
                src="{{ source_or_label.logo_file.url }}"
                alt="Ademe - Agence de la transition écologique"
                class="qf-cursor-pointer"
                width=32
                height=32
            >
        {% endif %}
        <span class="qf-inline-flex qf-items-center">{{ source_or_label.libelle }}</span>
        <span class="qf-flex qf-items-center fr-icon fr-icon-arrow-right-line"></span>
    </a>
</div>
