<div class="fr-tabs fr-tabs--noborder qf-h-full">
    <ul
        class="fr-tabs__list qfdmo"
        role="tablist"
        aria-label="Informations détaillées de la solution {{ adresse }}"
    >
        {% include "qfdmo/acteur/tabs/_tab.html" with text="Présentation" target="aboutPanel" %}

        {% if object.labels_without_enseigne_display %}
            {% include "qfdmo/acteur/tabs/_tab.html" with text="Labels" target="labelsPanel" %}
        {% endif %}

        {% include "qfdmo/acteur/tabs/_tab.html" with text="Sources" target="sourcesPanel" %}
    </ul>

    {% include "qfdmo/acteur/tabs/about_panel.html" %}
    {% include "qfdmo/acteur/tabs/labels_panel.html" %}
    {% include "qfdmo/acteur/tabs/sources_panel.html" %}
</div>
