{% extends "qfdmo/acteur/tabs/_section.html" %}

{% block title %}
Services disponibles
{% endblock title %}

{% block content %}
<div class="qf-space-y-1w">
    {% for service in object.sorted_proposition_services %}
        <div class="qf-space-y-1v">
            {% with text=service.action.libelle %}
                {% if is_carte %}
                    {% with action=service.action.groupe_action %}
                        {% include "qfdmo/acteur/tabs/_service_tag.html" %}
                    {% endwith %}
                {% else %}
                    {% with action=service.action,extra_classes="qf-bg-opacity-30" %}
                        {% include "qfdmo/acteur/tabs/_service_tag.html" %}
                    {% endwith %}
                {% endif %}
            {% endwith %}

            <p class="qf-m-0 qf-text-sm">
            {{ service.sous_categories_display }}
            </p>
        </div>
    {% endfor %}

    {% if object.reprise == "1 pour 1" %}
    <div class="fr-callout fr-callout--sm !qf-p-2w">
        <h3 class="fr-callout__title qf-text-base">
            Information importante
        </h3>
        <p class="fr-callout__text fr-text--sm">
            Cet établissement ne reprend vos objets que dans le cadre d’un achat neuf.
        </p>
    </div>
    {% endif %}
    <div>
    </div>
</div>
{% endblock content %}
