<a
    class="
    qf-flex qf-flex-col qf-items-center
    qf-bg-none qf-no-external-link-icon
    qf-space-y-1v
    {% if mobile_only %}
    md:qf-hidden
    {% endif %}
    "
    href="{% block href %}{{ url }}{% endblock href %}"
    {% if title %}title="{{ title }}"{% endif %}
    target="_blank"
    rel="noreferrer"
    {% block data_action %}data_action="click -> analytics#captureInteractionWithSolutionDetails"{% endblock data_action %}
>
    <span class="
        fr-btn fr-btn--sm
        qf-rounded-full
        {% if icon %}{{ icon }}{% endif %}
        {% if extra_classes %}{{ extra_classes }}{% endif %}">
    </span>
    <span class="fr-text--xs fr-mb-0 qf-whitespace-nowrap">{{ text }}</span>
</a>
