<a
    class="
    qfdmo-flex qfdmo-flex-col qfdmo-items-center
    qfdmo-bg-none qfdmo-no-external-link-icon
    "
    href="{% block href %}{{ url }}{% endblock href %}"
    title="{{ title }}"
    target="_blank"
    rel="noreferrer"
    {% block data_action %}data_action="click -> analytics#captureInteractionWithSolutionDetails"{% endblock data_action %}
>
    <span class="fr-btn {{ icon }} qfdmo-rounded-full {{ extra_classes }}"></span>
    <span class="fr-text--xs fr-mb-0">{{ text }}</span>
</a>
