<div class="fr-tabs fr-tabs--noborder">
    <ul
        class="fr-tabs__list qfdmo"
        role="tablist"
        aria-label="Informations détaillées de la solution {{ adresse }}"
    >
        {% with text="Présentation",target="aboutPanel" %}
            {% include "qfdmo/acteur/tabs/_tab.html" %}
        {% endwith %}
        {% if object.labels_display %}
            {% with text="Labels",target="labelsPanel" %}
                {% include "qfdmo/acteur/tabs/_tab.html" %}
            {% endwith %}
        {% endif %}
        {% with text="Sources",target="sourcesPanel" %}
            {% include "qfdmo/acteur/tabs/_tab.html" %}
        {% endwith %}
    </ul>

    {% include "qfdmo/acteur/tabs/about_panel.html" %}
    {% include "qfdmo/acteur/tabs/labels_panel.html" %}
    {% include "qfdmo/acteur/tabs/sources_panel.html" %}
</div>
