@import "./dsfr-overrides.css";
@import "./maplibre-overrides.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  font-family: Marianne, arial, sans-serif;
  font-weight: 500;
}

/*
Style the autocomplete container:
*/

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  z-index: 10001;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.active-pinpoint [data-animated] {
  @apply qf-animate-wave qf-fill-mode-forwards;
}

.map-grid {
  @apply max-nolegend:qf-flex qf-flex-col;
  @apply qf-h-full nolegend:qf-grid;
  /* keep min width value in sync with tailwind breakpoints config (nolegend) */
  @media (min-width: 1024px) {
    grid-template-rows: auto 1.5fr var(--footer-height);
    grid-template-areas:
      "header"
      "map"
      "footer";
  }

  > header {
    grid-area: header;
  }

  > aside,
  > section {
    grid-area: map;
  }
}

:root {
  --footer-height: 0;
}

:root[data-formulaire] {
  --footer-height: 100px;
}

.formulaire-grid {
  @apply qf-h-full qf-flex qf-flex-col;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-rows: auto 1fr var(--footer-height);
    grid-template-areas:
      "header"
      "map"
      "footer";
  }

  > header {
    grid-area: header;
  }

  > section {
    grid-area: map;
  }

  > footer {
    grid-area: footer;
  }
}
