{% extends "qfdmo/acteur/tabs/_section.html" %}

{% block title %}
Adresse
{% endblock title %}

{% block content %}
<address class="qfdmo-not-italic">
    {{ object.adresse }}
</address>

{# TODO: Ce champ n'est pas implémenté. Lorsqu'il sera implémenté, adapter le nom du champ à celui utilisé en base de données. #}
{% if object.services_a_domicile %}
<div class="fr-highlight qfdmo-ml-0 qfdmo-pl-2w">
    <p class="qfdmo-text-sm">
    Cet établissement propose des services à domicile.
    </p>
</div>
{% endif %}
{% endblock content %}
