{% extends "qfdmo/acteur/tabs/_section.html" %}

{% block title %}
Services disponibles
{% endblock title %}

{% block content %}
<div class="qfdmo-space-y-1w">
    {% for service in object.sorted_proposition_services %}
        <div class="qfdmo-space-y-1v">
            {% if is_carte %}
                {% with action=service.action.groupe_action %}
                    {% include "qfdmo/acteur/tabs/_service_tag.html" %}
                {% endwith %}
            {% else %}
                {% with action=service.action,extra_classes="qfdmo-bg-opacity-30" %}
                    {% include "qfdmo/acteur/tabs/_service_tag.html" %}
                {% endwith %}
            {% endif %}

            <p class="qfdmo-m-0 qfdmo-text-sm">
            {{ service.sous_categories_display }}
            </p>
        </div>
    {% endfor %}

    {% if object.reprise == "1 pour 1" %}
    <div class="fr-callout fr-callout--sm !qfdmo-p-2w">
        <h3 class="fr-callout__title qfdmo-text-base">
            Information importante
        </h3>
        <p class="fr-callout__text fr-text--sm">
            Cet établissement ne reprend vos objets que dans le cadre d’un achat neuf.
        </p>
    </div>
    {% endif %}
    <div>
    </div>
</div>
{% endblock content %}
