{% extends base_template %}

{% block content %}
<turbo-frame id="mapContainer">
    {# Controleur général de gestion de la navigation et du formulaire #}
    <form
        id='search_form'
        data-controller="search-solution-form"
        data-search-solution-form-target="searchForm"
        data-search-solution-form-is-iframe-value="{{ is_embedded }}"
        data-turbo-frame="addressesPanel"
        data-action="map:displayActeur->search-solution-form#displayActeur
        map:updateBbox->search-solution-form#updateBboxInput
        search-solution-form:captureInteraction->analytics#captureInteractionWithMap
        address-autocomplete:formSubmit->search-solution-form#advancedSubmit
        ss-cat-object-autocomplete:formSubmit->search-solution-form#advancedSubmit
        ss-cat-object-autocomplete:optionSelected->search-solution-form#checkSsCatObjetErrorForm
        {% block form_controller_data_actions %}{% endblock form_controller_data_actions %}"
        class="
        qf-group
        qf-h-full qf-max-h-svh qf-max-h-screen md:qf-overflow-hidden
        qf-m-0
        qf-flex qf-flex-col qf-flex-auto
        qf-relative"
        data-search-form-visible
    >
        <section class="map-grid">
            <header
                class="max-md:qf-sticky qf-top-0
                {% block header_classes %}qf-z-40{% endblock header_classes %}
                "
            >
                <div
                    class="
                    qf-bg-white
                    qf-flex qf-flex-row sm:qf-items-center"
                >
                {% block form_header %}
                {% endblock form_header %}
                </div>
            </header>

            <main
                class="
                qf-flex
                max-md:qf-h-main-svh
                {# Is useful for digital view so that the users can scrol in the results #}
                qf-overflow-scroll
                "
            >
                {% block form_result %}
                    <turbo-frame id="addressesPanel"
                        data-search-solution-form-target="addressesPanel"
                        class="qf-relative qf-z-10
                            qf-flex qf-flex-col
                            max-md:qf-fixed
                            max-md:qf-top-header max-md:qf-bottom-footer
                            max-md:qf-left-0 max-md:qf-right-0
                            data-[visible=true]:qf-flex-grow
                            data-[visible=false]:qf-invisible data-[visible=false]:qf-h-0"
                        data-visible={{"true" if is_carte else "false"}}
                        tabindex="0"
                    >
                        {% include 'qfdmo/shared/results.html' %}
                    </turbo-frame>
                {% endblock form_result %}

                {% block form_fields %}
                    {% include "qfdmo/partials/featureflip_inputs.html" %}
                    {{ form.bounding_box }}
                {% endblock form_fields %}
            </main>

            {# Part of this tag' style is defined in qfdmo.css because it would have been a bit unreadable as tailwind classes #}
            <aside class="
                qf-relative qf-z-30
                aria-[hidden=false]:qf-flex qf-hidden qf-flex-col
                {% if is_carte %}md:qf-h-[calc(100vh_-_120px)]{% else %}md:qf-h-[calc(100vh_-_250px)]{% endif %}
                max-md:qf-snap-y md:qf-overflow-scroll qf-scroll-mt-[65vh]
                max-md:qf-snap-mandatory
                qf-bg-white
                qf-px-2w
                max-md:qf-drop-shadow-[0_0_100px_rgba(0,0,0,0.3)]
                max-md:qf-rounded-t-xl
                aria-[hidden=true]:max-md:qf-animate-out
                aria-[hidden=true]:max-md:qf-fade-out
                aria-[hidden=true]:data-[exit-animation-ended=true]:qf-hidden
                aria-[hidden=false]:max-md:qf-min-h-[calc(100vh_-_200px)]"
            tabindex="0"
            id="acteurDetailsPanel"
            data-search-solution-form-target="acteurDetailsPanel"
            aria-hidden="true"
            >
                {% include "qfdmo/carte/panels/acteur_detail.html" %}
            </aside>

            <footer
                class="max-md:qf-fixed
                qf-bottom-0 qf-left-0 qf-right-0"
            >
            {% block content_footer %}
            {% endblock content_footer %}
            </footer>
        </section>

        {% block form_modals %}
        {% endblock form_modals %}
    </form>
</turbo-frame>
{% endblock content %}

{% block modals %}
    {% include 'qfdmo/reparacteur_modale.html' %}
{% endblock modals %}
