{% extends base_template %}

{% block content %}
<turbo-frame id="mapContainer">
    {# Controleur général de gestion de la navigation et du formulaire #}
    <form
        id='search_form'
        data-controller="search-solution-form"
        data-search-solution-form-target="searchForm"
        data-search-solution-form-is-iframe-value="{{ is_embedded }}"
        data-turbo-frame="addressesPanel"
        data-action="map:displayActeur->search-solution-form#displayActeur
        map:updateBbox->search-solution-form#updateBboxInput
        search-solution-form:captureInteraction->analytics#captureInteractionWithMap
        address-autocomplete:formSubmit->search-solution-form#advancedSubmit
        ss-cat-object-autocomplete:formSubmit->search-solution-form#advancedSubmit
        ss-cat-object-autocomplete:optionSelected->search-solution-form#checkSsCatObjetErrorForm
        {% block form_controller_data_actions %}{% endblock form_controller_data_actions %}"
        class="
        qf:group
        qf:h-full qf:max-h-svh qf:max-h-screen qf:md:overflow-hidden
        qf:m-0
        qf:flex qf:flex-col qf:flex-auto
        qf:relative"
        data-search-form-visible
    >
        <section class="map-grid">
            <header
                class="qf:max-md:sticky qf:top-0
                {% block header_classes %}qf:z-40{% endblock header_classes %}
                "
            >
                <div
                    class="
                    qf:bg-white
                    qf:flex qf:flex-row qf:sm:items-center"
                >
                {% block form_header %}
                {% endblock form_header %}
                </div>
            </header>

            <main
                class="
                qf:flex
                qf:max-md:h-main-svh
                {# Is useful for digital view so that the users can scrol in the results #}
                qf:overflow-auto
                "
                tabindex="0"
            >
                {% block form_result %}
                    <turbo-frame id="addressesPanel"
                        data-search-solution-form-target="addressesPanel"
                        class="qf:relative qf:z-10
                            qf:flex qf:flex-col
                            qf:max-md:fixed
                            qf:max-md:top-header qf:max-md:bottom-footer
                            qf:max-md:left-0 qf:max-md:right-0
                            qf:data-[visible=true]:grow
                            qf:data-[visible=false]:invisible qf:data-[visible=false]:h-0"
                        data-visible={{"true" if is_carte else "false"}}
                        tabindex="0"
                    >
                        {% include 'qfdmo/shared/results.html' %}
                    </turbo-frame>
                {% endblock form_result %}

                {% block form_fields %}
                    {% include "qfdmo/partials/featureflip_inputs.html" %}
                    {{ form.bounding_box }}
                {% endblock form_fields %}
            </main>

            {# Part of this tag' style is defined in qfdmo.css because it would have been a bit unreadable as tailwind classes #}
            <aside class="
                qf:relative qf:z-30
                qf:aria-[hidden=false]:flex qf:hidden qf:flex-col
                {% if is_carte %}qf:md:h-[calc(100vh-120px)]{% else %}qf:md:h-[calc(100vh-250px)]{% endif %}
                qf:max-md:snap-y qf:md:overflow-auto qf:scroll-mt-[65vh]
                qf:max-md:snap-mandatory
                qf:bg-white
                qf:px-2w
                qf:max-md:drop-shadow-[0_0_100px_rgba(0,0,0,0.3)]
                qf:max-md:rounded-t-xl
                qf:max-md:aria-hidden:animate-out
                qf:max-md:aria-hidden:fade-out
                qf:aria-hidden:data-[exit-animation-ended=true]:hidden
                qf:max-md:aria-[hidden=false]:min-h-[calc(100vh-200px)]"
            tabindex="0"
            id="acteurDetailsPanel"
            data-search-solution-form-target="acteurDetailsPanel"
            aria-hidden="true"
            >
                {% include "qfdmo/carte/panels/acteur_detail.html" %}
            </aside>

            <footer
                class="qf:max-md:fixed
                qf:bottom-0 qf:left-0 qf:right-0"
            >
            {% block content_footer %}
            {% endblock content_footer %}
            </footer>
        </section>

        {% block form_modals %}
        {% endblock form_modals %}
    </form>
</turbo-frame>
{% endblock content %}

{% block modals %}
    {% include 'qfdmo/reparacteur_modale.html' %}
{% endblock modals %}
