<footer
    class="max-md:qf-fixed
    qf-bottom-0 qf-left-0 qf-right-0"
>
    <div
        class="qf-px-2w sm:qf-px-0 qf-duration-300 sm:qf-h-fit sm:qf-mr-1w qf-flex qf-flex-row-reverse
        group-data-[search-form-visible]:qf-hidden"
    >
        <a class="fr-my-1w fr-btn fr-btn--tertiary qf-whitespace-nowrap qf-w-full sm:qf-w-max qf-flex qf-justify-center"
            href="{% url 'qfdmo:address-suggestion-form' %}"
            target="_blank"
            rel="noreferrer"
            aria-label="Proposer une adresse - Nouvelle fenêtre"
            data-testid="formulaire-proposer-une-adresse"
        >
            Proposer une adresse
        </a>
    </div>
    {# Liens de pieds de page pour iframe #}
    {% include "ui/components/formulaire/iframe_footer_links.html" %}
</footer>
