{% load acteur_tags turbo_tags %}
{% if href %}
<a
    class="qf-w-[34px] qf-h-[45px] !qf-bg-none"
    data-latitude="{{ latitude }}"
    data-longitude="{{ longitude }}"
    data-map-target="acteur"
    href="{{ href }}"
    data-turbo-frame="{% acteur_frame_id %}"
    data-controller="pinpoint"
    data-action="analytics#captureInteractionWithMap pinpoint#setActive"
>
{% else %}
<div
    class="qf-w-[34px] qf-h-[45px] !qf-bg-none"
    data-latitude="{{ latitude }}"
    data-longitude="{{ longitude }}"
    data-map-target="acteur"
    data-draggable="{{ draggable|yesno:"true,false" }}"
    data-marker-key="{{ mask_id }}"
>
{% endif %}
    <div data-animated="" class="qf-scale-75">
        {% if marker_icon_file %}
            <img class="qf--translate-y-2/4" height="61" width="46" src="{{ marker_icon_file }}">
        {% else %}
            <div class="qf--translate-y-2/4" style="color: {{ marker_couleur }};">
                {% if marker_fill_background %}
                    {% include "ui/components/carte/pinpoints/svg/pin-background-fill.html" %}
                {% else %}
                    {% include "ui/components/carte/pinpoints/svg/pin-background.html" %}
                {% endif %}
                {% if marker_bonus %}
                    <span class="qf-absolute qf-right-[-16] qf-top-[-6] qf-z-10">
                        {% include "ui/components/carte/pinpoints/svg/bonus-icon.svg" %}
                    </span>
                {% endif %}
                <span class="qf-absolute qf-top-[10] qf-left-[10.5] qf-margin-auto {{ marker_icon }} {{ marker_icon_extra_classes }}">
                    {% if text %}<span class="qf-text-2xl qf-pl-1v">{{ text }}</span>{% endif %}
                </span>
            </div>
        {% endif %}

    </div>
{% if href %}
</a>
{% else %}
</div>
{% endif %}
