<div class="
    {% comment %}
    For an odd reason, 90vh does not play well with map here so we use percents instead.
    This is less reliable as this does not guarantee that the maps takes 90% of the viewport height
    but is enough in most cases.
    {% endcomment %}
    max-md:qf-min-h-[45rem]
    max-sm:qf-min-h-[40rem]
    qf-min-h-[50rem]
    qf-w-full
    qf-overflow-x-hidden
">
    <turbo-frame
        id="{{ id }}"
        allow="geolocation; clipboard-write"
        class="qf-h-full qf-w-full"
        src="{{ url }}{% if request.GET.epci %}&epci_codes={{ request.GET.epci }}{% endif %}">
    </turbo-frame>
</div>
