{% extends "../action.html" %}

{% load dsfr_tags %}

{% block icon %}
{% include "./icon.html" %}
{% endblock icon %}

{% block button_text %}
Nous contacter
{% endblock button_text %}

{% block modal_title %}
Nous contacter
{% endblock modal_title %}

{% block modal_content %}
<turbo-frame id="contact-form"
        src="{% url 'qfdmd:nous-contacter' %}"
>
</turbo-frame>
{% endblock modal_content %}

{% block modal_wrapper_for_id %}
    {% with id="nous-contacter" %}
    {{ block.super }}
    {% endwith %}
{% endblock modal_wrapper_for_id %}
