<div class='fr-container
            qfdmo-px-0
            qfdmo-fixed qfdmo-z-[10010] qfdmo-top-auto qfdmo-left-0 qfdmo-right-0 qfdmo-mt-auto
            qfdmo-hidden
            qfdmo-h-[90vh] qfdmo-h-[90svh] {# Keep both values help keep support for vh in firefox #}
            qfdmo-drop-shadow-[0_0_100px_rgba(0,0,0,0.5)]
            qfdmo-inset-0 qfdmo-font-black qfdmo-bg-white
            qfdmo-flex-col
            data-[visible=true]:qfdmo-animate-in
            data-[visible=true]:qfdmo-flex
            data-[visible=true]:qfdmo-slide-in-from-bottom-15w
            data-[visible=exit]:qfdmo-flex
            data-[visible=exit]:qfdmo-animate-out
            data-[visible=exit]:qfdmo-slide-out-to-bottom-full
           '
     data-visible="false"
     {% block wrapper_attrs %}
     {% endblock wrapper_attrs %}
>
    <div class="fr-container fr-container--fluid qfdmo-h-full">
        {% block content %}
        {% endblock content %}
    </div>
</div>
