<div data-search-solution-form-target="sousCategoryObjetGroup" class="fr-mt-3w fr-px-1v fr-input-group {% if hidden %}qfdmo-hidden{% endif %}">
    <div data-controller='ss-cat-object-autocomplete'
        data-ss-cat-object-autocomplete-max-option-displayed-value=5
        data-ss-cat-object-autocomplete-nb-char-to-search-value=1
        data-with-controls={{"false" if is_carte(request) else "true"}}
        data-without-zone={{"false" if is_carte(request) else "true"}}
        data-with-dynamic-form-panel={{"false" if is_carte(request) else "true"}}
    >
        <div class="form-group">
            {{ form.sous_categorie_objet.label_tag() }}
            {% if form.sous_categorie_objet.help_text %}
                <span class="fr-hint-text fr-mt-1v" id="{{ form.sous_categorie_objet.id_for_label }}_helptext">
                    {{ form.sous_categorie_objet.help_text }}
                </span>
            {% endif %}
            {{ form.sous_categorie_objet }}
            {{ form.sc_id }}
        </div>
    </div>
    <p class="fr-error-text fr-mt-1v qfdmo-hidden" data-search-solution-form-target="sousCategoryObjetError">
        Veuillez indiquer puis sélectionner un objet dans la liste déroulante
    </p>
</div>
