{% if icon %}
    <div
        class="qfdmo-flex qfdmo-flex-row qfdmo-items-center"
    >
{% endif %}
<fieldset class="fr-fieldset" aria-labelledby="{{ field.id_for_label }}_legend">
    <legend class="qfdmo-hidden" id="{{ field.id_for_label }}_legend">{{ legend }}</legend>
    <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div
            class="fr-checkbox-group qfdmo-flex qfdmo-flex-row qfdmo-items-center"
        >
            {{ field }}
            {{ field.label_tag() }}
        </div>
        <span class="fr-hint-text" id="{{ field.help_text }}_helptext">{{ field.help_text }}</span>
    </div>
</fieldset>
{% if icon %}
    {% include icon %}
    </div>
{% endif %}
