{% extends 'qfdmo/_addresses_partials/filters/panel_filters.html' %}

{% block filters_title %}
    <h2 class="fr-h4 fr-mt-3w qfdmo-text-center">
        Filtres
    </h2>
{% endblock %}

{% block filters_content %}
    <input
        id="{{ form.direction.id_for_label}}"
        name="{{ form.direction.html_name}}"
        value="{{ form.direction.value() or '' }}"
        type="hidden"
        data-search-solution-form-target="direction"
    >
    {% with hidden=hide_object_filter(request) %}
        {% include 'qfdmo/_addresses_partials/filters/_object_filter.html' %}
    {% endwith %}
    {% include 'qfdmo/_addresses_partials/filters/_labels_filters.html' %}
{% endblock %}

{% block filters_footer_links %}
    {# Liens de pieds de page pour iframe #}
    {% include 'qfdmo/_addresses_partials/iframe_footer_links.html' %}
{% endblock %}
