# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "06:00" # UTC
    cooldown:
      default-days: 7
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "06:00" # UTC
    cooldown:
      default-days: 7
    groups:
      parcel:
        patterns:
          - "@parcel/*"
          - "parcel"
      jest:
        patterns:
          - "*jest*"
      eslint:
        patterns:
          - "*eslint*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "06:00" # UTC
    cooldown:
      default-days: 7
  - package-ecosystem: "terraform"
    directory: "/infrastructure"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "06:00" # UTC
    cooldown:
      default-days: 7
