{% extends "data/_partials/suggestion_details.html" %}
{% load custom_filters %}

{% block suggestion_title %}
📦 Cluster: {{ cluster_id }}
{% endblock suggestion_title %}</h3>

{% block suggestion_details %}
<table>
    <thead>
    <tr>
        <th>Ordre</th>
        <th>Changement</th>
        <th>Type d'entité</th>
        <th>ID de l'entité</th>
        <th>Raison</th>
        <th>Données</th>
    </tr>
    </thead>
    <tbody>
    {% for change in changes %}
        <tr>
            <td>{{ change.order }}</td>
            <td>{{ change.model_name }}</td>
            <td>{{ change.entity_type }}</td>
            <td>{% if change.entity_type == "acteur_displayed" %}
                    <a href="{% url 'admin:qfdmo_displayedacteur_change' change.model_params.id|quote %}" target="_blank" rel="noreferrer">{{ change.model_params.id }}</a>
                {% elif change.entity_type == "acteur_revision" %}
                    <a href="{% url 'admin:qfdmo_revisionacteur_change' change.model_params.id|quote %}" target="_blank" rel="noreferrer">{{ change.model_params.id }}</a>
                {% elif change.entity_type == "acteur_base" %}
                    <a href="{% url 'admin:qfdmo_acteur_change' change.model_params.id|quote %}" target="_blank" rel="noreferrer">{{ change.model_params.id }}</a>
                {% else %}
                    {{ change.model_params.id }}
                {% endif %}
            </td>
            <td>{{ change.reason }}</td>
            <td>{% if change.model_params.data %}
                <ul>
                {% for key, value in change.model_params.data.items %}
                <li><strong>{{ key }}:</strong> {{ value }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock suggestion_details %}
