{% extends "data/_partials/suggestion_details.html" %}
{% load custom_filters %}

{% block suggestion_title %}
📦 Cluster: {{ cluster_id }}
{% endblock suggestion_title %}</h3>

{% block suggestion_details %}
<table>
    <thead>
    <tr>
        <th>Ordre</th>
        <th>Changement</th>
        <th>ID de l'entité</th>
        <th>Raison</th>
    </tr>
    </thead>
    <tbody>
    {% for change in changes %}
        <tr>
            <td>{{ change.change_order }}</td>
            <td>{{ change.change_model_name }}</td>
            <td><a href="{% url 'admin:qfdmo_displayedacteur_change' change.identifiant_unique|quote %}" target="_blank" rel="noreferrer">{{ change.identifiant_unique }}</a></td>
            <td>{{ change.change_reason }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock suggestion_details %}
