<p>
    {% if id %}
        <a href="{% url 'admin:qfdmo_acteur_change' id %}" target="_blank" rel="noreferrer">{{ id }}</a>
    {% endif %}
    {% if ids %}
        <ul>
            {% for identifiant in ids %}
                <li><a href="{% url 'admin:qfdmo_acteur_change' identifiant %}" target="_blank" rel="noreferrer">{{ identifiant }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</p>
{% if contexte %}
    <details>
        <summary>Details</summary>
        {% include "data/_partials/value_details.html" with value=contexte %}
    </details>
{% else %}
    -
{% endif %}
