{# Turns data:list[dict] into a table #}
<table border="1">
    <thead>
        <tr>
            {% for key in data.0.keys %}
                <th>{{ key|capfirst }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                {% for value in row.values %}
                    <td>
                        {% if value|valuetype == "dict" %}
                            {% include "data/_partials/value_details.html" with value=value %}</p>
                            {% if 'data' in value %}
                            {% if "nom" in value.data and "adresse" in value.data and "ville" in value.data and "code_postal" in value.data %}
                                <br>
                                <a href="https://www.google.com/maps/search/?api=1&query={{ value.data.nom|urlencode }}+{{ value.data.adresse|urlencode }}+{{ value.data.code_postal|urlencode }}+{{ value.data.ville|urlencode }}" target="_blank">
                                    🗺️ Voir sur Google Maps
                                </a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
