{% extends "data/_partials/suggestion_details.html" %}

{% load admin_data_tags %}

{% block suggestion_title %}Champs modifiés:{% endblock %}</h3>

{% block suggestion_details %}
    <ul>
        {% for field, value in updated_fields.items %}
            <li>
                <strong>{{ field }}</strong> :{% display_diff_value field value suggestion_contexte %}<br>
            </li>
        {% endfor %}
    </ul>
    {{ block.super }}
{% endblock suggestion_details %}

{% block suggestion_summary %}
    Champs inchangés:
{% endblock suggestion_summary %}

{% block suggestion_content %}
    {% include "data/_partials/value_details.html" with value=unchanged_fields %}
{% endblock suggestion_content %}
