{% load admin_data_tags %}

{% if editable %}
✏
{% endif %}
<div
    contentEditable="{{ editable|yesno:"true,false" }}"
    class='qf-inline-block'
    data-suggestion-groupe-id="{{ suggestion_groupe.id }}"
    data-model-name="{{ model_name }}"
    data-champs="{{ champs|join:" | " }}"
    data-action="blur->suggestion-groupe-row#editSuggestionGroupeRow">
    {% for value, by_state in values.items %}
        {% display_diff_value_details None by_state.new_value by_state.old_value %}
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
</div>
