<turbo-frame id="suggestion_groupe_usefull_links_{{ suggestion_groupe.id }}">
    <a href="{% url 'data:suggestion_groupe_usefull_links' suggestion_groupe.id 'localisation' %}">Localisation</a>
    <a href="{% url 'data:suggestion_groupe_usefull_links' suggestion_groupe.id 'displayedacteur' %}">Acteur affiché</a>
    <a href="{% url 'data:suggestion_groupe_usefull_links' suggestion_groupe.id 'annuaire_entreprise' %}">Annuaire entreprise</a>
    <div>
        {% if localisation %}


        <div>
            <p>Localisation</p>
            <p>{{ latitude }}, {{ longitude }}</p>
        </div>

            <iframe
                width="300"
                height="170"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                src="{{ google_maps_url }}"
            >
            </iframe>
            <br />
            <small>
            <a
                href="{{ google_maps_url }}"
                style="color:#0000FF;text-align:left"
                target="_blank"
            >
                Voir la carte en plus grand
            </a>
            </small>

        {% endif %}
        {% if displayedacteur %}
            Affichage de l'acteur comme affiché sur la carte
        {% endif %}
        {% if annuaire_entreprise %}
            Affichage de l'annuaire entreprise de l'acteur
        {% endif %}
    </div>
</turbo-frame>
