{% extends "data/_partials/suggestion_groupe.html" %}

{% load share_tags %}

{% block suggestion_details %}

    <input type="hidden" name="fields_values" value='{{ fields_values|tojson }}' data-suggestion-groupe-row-target="fieldsValues">
    <input type="hidden" name="fields_groups" value='{{ fields_groups|tojson }}' data-suggestion-groupe-row-target="fieldsGroups">
    <div class="fr-table fr-table--bordered">
        <table>
            <thead>
                <tr>
                    <th class="qf-w-1/4">
                        <div class="qf-truncate"></div>
                    </th>
                    <th class="qf-w-1/4">
                        <div class="qf-truncate">Importé</div>
                    </th>
                    <th class="qf-text-center qf-text-2xl">
                        <div data-action="click->suggestion-groupe-row#updateAllDisplayed" class="qf-cursor-pointer">
                            ➡️
                        </div>
                    </th>
                    <th class="qf-w-1/4">
                        <div class="qf-truncate">Affiché</div>
                        {% if acteur_overridden_by.nombre_enfants %}
                            <div class="qf-truncate">{{ acteur_overridden_by.nombre_enfants }} enfants impactés</div>
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for fields in fields_groups %}
                    <tr>
                        <td>{{ fields|join:", " }}</td>
                        <td>
                            {% for field in fields %}
                                {% with values=fields_values|get_item:field %}
                                    {% display_diff_value_details None values.new_value values.old_value %}
                                {% endwith %}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td class="qf-text-center qf-cursor-pointer qf-text-2xl">
                            <div class="qf-cursor-pointer" data-action="click->suggestion-groupe-row#updateFieldsDisplayed" data-fields='{{ fields|join:"|" }}'>
                            ➡️
                            </div>
                        </td>
                        <td>
                            <div class="qf-flex qf-flex-row qf-items-center qf-gap-1">
                                {% for field in fields %}
                                    <div
                                        contentEditable="true"
                                        data-field="{{ field }}"
                                        data-action="blur->suggestion-groupe-row#fieldDisplayedBlur
                                        focus->suggestion-groupe-row#fieldDisplayedFocus">
                                        {% with values=fields_values|get_item:field %}
                                            {% if values.updated_displayed_value and values.updated_displayed_value != values.displayed_value %}
                                                {% display_diff_value_details None values.updated_displayed_value values.displayed_value %}
                                            {% else %}
                                                {{ values.displayed_value }}
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    {% if not forloop.last %}<span>&nbsp;,&nbsp;</span> {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



    <ul class="tabs">
        <li {% if tab == "acteur" %}class="active"{% endif %}><a href="{% url 'data:suggestion_groupe_details' id %}?tab=acteur">Acteur affiché</a></li>
        <li {% if tab == "localisation" %}class="active"{% endif %}><a href="{% url 'data:suggestion_groupe_details' id %}?tab=localisation">Localisation</a></li>
        <li {% if tab == "annuaire_entreprise" %}class="active"{% endif %}><a href="{% url 'data:suggestion_groupe_details' id %}?tab=annuaire_entreprise">Annuaire entreprise</a></li>
        <li ><a href="{% url 'data:suggestion_groupe_details' id %}">❌ Cacher les détails</a></li>
    </ul>

    <div>
        {% if tab == "acteur" %}
            <div>
                {% if uuid %}
                    <iframe
                        id="acteur-detail-iframe-{{ uuid }}"
                        src="{% url 'qfdmo:acteur-detail' uuid %}?iframe=1"
                        width="100%"
                        height="600px"
                        style="border: none; overflow: hidden;">
                    </iframe>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.6/iframeResizer.min.js" integrity="sha512-f0wd6UIvZbsjPNebGx+uMzHmg6KXr1jWvumJDYSEDmwYJYOptZ0dTka/wBJu7Tj80tnCYMKoKicqvZiIc9GJgw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> {# pragma: allowlist secret #}
                    <script>
                        (function() {
                            const iframeId = 'acteur-detail-iframe-{{ uuid }}';
                            const iframe = document.getElementById(iframeId);
                            if (iframe && typeof iFrameResize !== 'undefined') {
                                iframe.onload = function() {
                                    iFrameResize({
                                        log: false,
                                        checkOrigin: false,
                                        heightCalculationMethod: 'lowestElement'
                                    }, '#' + iframeId);
                                };
                            }
                        })();
                    </script>
                {% else %}
                    <p>Aucun acteur affiché</p>
                {% endif %}
            </div>
        {% elif tab == "localisation" %}
            <div>
                <p>Localisation</p>
                <p>{{ latitude }}, {{ longitude }}</p>
            </div>
        {% elif tab == "annuaire_entreprise" %}
            <div>
                <p>Annuaire entreprise</p>
                <p>{{ annuaire_entreprise }}</p>
            </div>
        {% endif %}
    </div>

{% endblock suggestion_details %}
