{% if suggestion_unitaires|length > 0 and suggestion_unitaires[0].change_type == 'UPDATE_ACTOR' %}
    <thead>

        <tr>
            <th scope="col">change_type</th>
            <th scope="col">meta_data</th>
            <th scope="col">Identifiant Unique</th>
            <th scope="col">Candidats</th>
            <th scope="col">suggestion</th>
        </tr>

    </thead>
    <tbody>
        {% for suggestion_unitaire in suggestion_unitaires if suggestion_unitaire.change_type == 'UPDATE_ACTOR' %}
            <tr>
                <td>{{ suggestion_unitaire.get_change_type_display() }}</td>
                <td>{{ suggestion_unitaire.meta_data if suggestion_unitaire.meta_data else "-" }}</td>
                <td>
                    {% with identifiant_unique=suggestion_unitaire.display_acteur_details().identifiant_unique %}
                        <a href="{{ url('admin:qfdmo_displayedacteur_change', args=[identifiant_unique]) }}" target="_blank" rel="noreferrer">{{ identifiant_unique }}</a>
                    {% endwith %}
                </td>
                <td>
                    {% with candidat=candidat, index=loop.index, suggestion_cohorte=request.GET.suggestion_cohorte,
                    identifiant_unique=suggestion_unitaire.display_acteur_details().identifiant_unique %}
                    {% include 'qfdmo/partials/candidat_row.html' %}

        {% endwith %}
    </td>
    <td>
        <details>
            <summary>Données brutes</summary>
            <pre class="qf-text-wrap">{{ suggestion_unitaire.suggestion }}</pre>
        </details>
    </td>
    </tr>
{% endfor %}
</tbody>
{% if suggestion_unitaires.has_other_pages %}
    <form method="get" action="">
        <label for="page-select">Go to page:</label>
        <select id="page-select" class="fr-select" name="page" onchange="this.form.submit()">
            {% for num in suggestion_unitaires.paginator.page_range %}
                <option value="{{ num }}" {% if suggestion_unitaires.number == num %}selected{% endif %}>
                    {{ num }}
                </option>
            {% endfor %}
        </select>
        <input type="hidden" name="suggestion_cohorte" value="{{ request.GET.suggestion_cohorte }}">
        <noscript>
            <input type="submit" value="Go">
        </noscript>
    </form>
{% endif %}
{% endif %}
