# Keep in sync with .prettierignore until we can use several prettierignore files
# https://github.com/prettier/prettier/issues/8048
__pycache__
.DS_Store
.env
.parcel-cache
.venv
*.bak

# DB
pgdata

# JS
static/collected
static/compiled
node_modules
