# Caches
__pycache__
.DS_Store
*.bak
*.swp

# DB
pgdata
webapp_dbdata
warehouse_dbdata
airflow_dbdata

# Environment
.env
webapp/.venv

# Others
.cursor
_build
.obsidian
*.pem

tmpbackup*
__screenshots__

# Translations
*.mo

# Notebooks
.ipynb_checkpoints
data-platform/notebooks/deduplication/datasets/Clusterisation comme Data-inclusion - par département - deduplication_clusters_26_p_90.csv
data-platform/notebooks/deduplication/datasets/Clusterisation comme Data-inclusion - par département - deduplication_clusters_26_p_95.csv
data-platform/notebooks/deduplication/datasets/Clusterisation comme Data-inclusion - par département - deduplication_clusters_44_P_90.csv
data-platform/notebooks/deduplication/datasets/Clusterisation comme Data-inclusion - par département - deduplication_clusters_56_p_90.csv
data-platform/notebooks/deduplication/datasets/Clusterisation comme Data-inclusion - par département - deduplication_clusters_56_p_95.csv
