# Keep in sync with .prettierignore until we can use several prettierignore files
# https://github.com/prettier/prettier/issues/8048
__pycache__
.DS_Store
.env
.parcel-cache
.venv
*.bak
*.swp
local_iframe.html

# DB
pgdata

# JS
static/collected
static/compiled
node_modules

# compiled
staticfiles
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests-examples/
e2e_tests/*-snapshots

# airflow
airflow_settings.yaml
logs
airflow-pgdata/

media

_build
