# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-added-large-files
    - repo: https://github.com/ambv/black
      rev: 24.10.0
      hooks:
          - id: black
    - repo: https://github.com/astral-sh/ruff-pre-commit
      # Ruff version.
      rev: v0.7.0
      hooks:
          - id: ruff
    -   repo: https://github.com/adamchainz/djade-pre-commit
        rev: "1.3.1"  # Replace with the latest tag on GitHub
        hooks:
        -   id: djade
            args: [--target-version, "5.1"]
    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        - id: detect-secrets
          name: Detect secrets
          language: python
          entry: detect-secrets-hook
          args: ['--baseline', '.secrets.baseline']
    - repo: https://github.com/pycqa/isort
      rev: 5.13.2
      hooks:
        - id: isort
          name: isort (python)
          args: ["--profile", "black", "--filter-files"]
