apache-airflow==2.10.0
apache-airflow-providers-postgres
fuzzywuzzy
# related to https://github.com/pandas-dev/pandas/issues/57049 because sqlalchemy & numpy should be < 2.0
pandas==2.1.4
pyproj
python-decouple
ratelimit
