--constraint=requirements.txt --constraint=airflow-requirements.txt

beautifulsoup4
black
django-browser-reload
django-debug-toolbar
factory_boy
honcho
pre-commit
ptpython
pytest
pytest-django
pytest-dotenv
apache-airflow==2.10.2
apache-airflow-providers-postgres
shapely
ratelimit
ruff
fuzzywuzzy
python-Levenshtein
django-stubs
