--constraint=requirements.txt --constraint=airflow-requirements.txt

apache-airflow-providers-postgres
apache-airflow==2.10.4
beautifulsoup4
black
django-browser-reload
django-debug-toolbar
django-stubs
factory_boy
fuzzywuzzy
honcho
pre-commit
ptpython
pytest
pytest-django
pytest-dotenv
pytest-mock
python-Levenshtein
ratelimit
ruff
shapely
myst-parser
sphinx
furo
