version: "3"
services:
  postgres:
    image: postgis/postgis:15-3.3-alpine
    environment:
      - POSTGRES_USER=qfdmo
      - POSTGRES_PASSWORD=qfdmo
      - POSTGRES_DB=qfdmo
      - POSTGRES_MULTIPLE_EXTENSIONS=postgis
    volumes:
      - ./pgdata:/var/lib/postgresql/data:delegated
    ports:
      - 6543:5432
