[project]
name = "quefairedemesobjets"
version = "1.57.0"
description = ""
requires-python = ">=3.12,<3.13"
readme = "README.md"
license = "MIT"
dependencies = [
    "api-insee~=1.6",
    "boto3<1.42",
    "dj-database-url>=3.0.1,<4",
    "django<=5.2.8",
    "django-extensions~=4.1",
    "django-import-export[xls, xlsx]>=4.3.8,<5",
    "django-ninja>=1.4.3,<2",
    "django-storages>=1.14.6,<2",
    "gunicorn>=23.0.0,<24",
    "opening-hours-py>=1.1.3,<2",
    "orjson>=3.11.1,<4",
    "pillow>=11.2.1,<12",
    "psycopg",
    "python-decouple~=3.8",
    "requests>=2.32.4,<3",
    "sentry-sdk>=2.37.0,<3",
    "shortuuid>=1.0.13,<2",
    "tqdm>=4.67.1,<5",
    "unidecode>=1.4.0,<2",
    "whitenoise>=6.8.2,<7",
    "django-widget-tweaks>=1.5.0,<2",
    "django-cors-headers>=4.6.0,<5",
    "django-colorfield>=0.14.0,<0.15",
    "django-dsfr>=3,<4",
    "rapidfuzz>=3.13.0,<4",
    "sites-faciles-experiment~=2.1.0rc9",
    "wagtail-honeypot @ git+https://github.com/Luzzzi/wagtail-honeypot@feature/i18n-required-honeypot",
    "diff-match-patch>=20241021,<20241022",
    "django-lookbook>=1.0.2,<2",
    "queryish>=0.2,<0.3",
    "detect-secrets>=1.5.0",
    "djangoql>=0.18.1",
    "pydantic[email]>=2.11.7",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "core.test_settings"
env_files = [".env.template"]
addopts = "--reuse-db --ignore=scripts"
filterwarnings = [
  # Because of django-ninja package, cf. https://github.com/vitalik/django-ninja/issues/1266
  "ignore::pydantic.warnings.PydanticDeprecatedSince20",
  "ignore::django.utils.deprecation.RemovedInDjango60Warning",
]

[dependency-groups]
dev = [
    "black>=25.1.0,<26",
    "django-browser-reload>=1.17.0,<2",
    "django-debug-toolbar>=6.0.0,<7",
    "factory-boy>=3.3.1,<4",
    "honcho>=2.0.0,<3",
    "pre-commit>=4.3.0,<5",
    "ptpython>=3.0.30,<4",
    "beautifulsoup4>=4.13.5,<5",
    "pytest>=8.4.2,<9",
    "pytest-django>=4.9.0,<5",
    "pytest-dotenv>=0.5.2,<0.6",
    "pytest-mock>=3.14.1,<4",
    "ruff>=0.12.10,<0.13",
    "shapely>=2.1.1,<3",
    "djade>=1.6.0,<2",
    "dslr>=0.6.0,<0.7",
]
docs = [
    "myst-parser>=4.0.0,<5",
    "sphinx>=8.1.3,<9",
    "furo>=2025.7.19,<2026",
    "detect-secrets>=1.5.0,<2",
    "sphinxcontrib-mermaid>=1.0.0,<2",
]
airflow = [
    "boto3<1.41,>=1.37.2",
    "apache-airflow-providers-postgres>=6.2.2,<7",
    "apache-airflow-providers-standard>=1.8.0",
    "apache-airflow-providers-fab>=2.4.3",
    "apache-airflow-providers-amazon>=9.14.0",
    "fuzzywuzzy>=0.18.0,<0.19",
    "python-decouple~=3.8",
    "ratelimit>=2.2.1,<3",
    "shortuuid>=1.0.13,<2",
    "unidecode>=1.4.0,<2",
    "scikit-learn==1.7.2",
    "apache-airflow>=3.0,<4.0",
    "pandas==2.1.4",
    "numpy<2.0",
    "dbt-core>=1.10.9,<2",
    "dbt-postgres>=1.9.1,<2",
]

[tool.pyright]
venvPath = "."
venv = ".venv"

[tool.uv]
package = false
default-groups = [
    "dev",
    "docs",
    "airflow",
]

[tool.ruff]
# Exclude a variety of commonly ignored directories.
exclude = [
  ".bzr",
  ".direnv",
  ".eggs",
  ".git",
  ".git-rewrite",
  ".hg",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  ".pytype",
  ".ruff_cache",
  ".svn",
  ".tox",
  ".venv",
  "__pypackages__",
  "_build",
  "buck-out",
  "build",
  "dist",
  "node_modules",
  "venv",
  "*/migrations/*",
  "*.ipynb",
]

# Same as Black.
line-length = 88

# Assume Python 3.10.
target-version = "py310"

[tool.ruff.lint]
# Enable the pycodestyle (`E`) and Pyflakes (`F`) rules by default.
# Unlike Flake8, Ruff doesn't enable pycodestyle warnings (`W`) or
# McCabe complexity (`C901`) by default.
select = ["E", "F"]
ignore = []

# Allow autofix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

per-file-ignores = {}

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "Ë†(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.mypy]
exclude = ["migrations/"]
ignore_missing_imports = true
warn_return_any = false
