[project]
name = "quefairedemesobjets-workspace"
version = "0.0.0"
requires-python = ">=3.12,<3.13"
readme = "README.md"
license = "MIT"
dependencies = [
    "boto3<1.43",
    "dj-database-url>=3.0.1,<4",
    "django>=5.2.11,<6",
    "django-extensions~=4.1",
    "django-import-export[xls, xlsx]>=4.3.8,<5",
    "django-ninja>=1.4.3,<2",
    "django-storages>=1.14.6,<2",
    "gunicorn>=23.0.0,<24",
    "opening-hours-py>=1.1.3,<2",
    "orjson>=3.11.1,<4",
    "pillow>=11.2.1,<13",
    "psycopg",
    "python-decouple~=3.8",
    "requests>=2.32.4,<3",
    "sentry-sdk>=2.37.0,<3",
    "shortuuid>=1.0.13,<2",
    "unidecode>=1.4.0,<2",
    "whitenoise>=6.8.2,<7",
    "django-widget-tweaks>=1.5.0,<2",
    "django-cors-headers>=4.6.0,<5",
    "django-colorfield>=0.14.0,<0.15",
    "django-dsfr>=3,<4",
    "rapidfuzz>=3.13.0,<4",
    "diff-match-patch>=20241021,<20241022",
    "django-lookbook>=1.0.2,<2",
    "queryish>=0.2,<0.4",
    "detect-secrets>=1.5.0",
    "djangoql>=0.18.1",
    "pydantic[email]>=2.11.7",
    "django-admin-sortable2>=2.2.8",
    "more-itertools>=10.7.0",
    "wagtail-honeypot>=1.2.1",
    # We use a temporary custom version of django modelsearch as we proposed changes upstream.
    # Once these changes will be merged, we will be able to go back to the main repo
    # through official pypi package.
    "modelsearch @ git+https://github.com/fabienheureux/django-modelsearch@add-fuzzy-postgres-search",
    "sites-conformes==2.5.2rc4",
    "wagtail==7.3",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.uv]
package = false

[tool.uv.workspace]
members = ["webapp", "data-platform"]

[tool.uv.sources]
django-dsfr = { git = "https://github.com/fabienheureux/django-dsfr", rev = "d26ab6f77014b04c43c4c54f694111179d1de0ef" } # pragma: allowlist secret

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "core.test_settings"
env_files = [".env.template"]
addopts = "--reuse-db --ignore=scripts"
filterwarnings = [
  "ignore::pydantic.warnings.PydanticDeprecatedSince20",
  "ignore::django.utils.deprecation.RemovedInDjango60Warning",
]

[tool.pyright]
venvPath = "."
venv = ".venv"
typeCheckingMode = "basic"
reportUnannotatedClassAttribute = "none"
reportMissingTypeStubs = "none"
reportUnknownMemberType = "none"
reportUnknownVariableType = "none"
reportUnknownArgumentType = "none"

[tool.ruff]
exclude = [
  ".bzr",
  ".direnv",
  ".eggs",
  ".git",
  ".git-rewrite",
  ".hg",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  ".pytype",
  ".ruff_cache",
  ".svn",
  ".tox",
  ".venv",
  "__pypackages__",
  "_build",
  "buck-out",
  "build",
  "dist",
  "node_modules",
  "venv",
  "**/migrations/*.py",
  "*.ipynb",
]

line-length = 88
target-version = "py312"

[tool.ruff.lint]
select = ["E", "F"]
ignore = []
exclude = [
  "**/migrations/*.py",
]

fixable = ["ALL"]
unfixable = []

per-file-ignores = {}

dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.mypy]
exclude = ["migrations/"]
ignore_missing_imports = true
warn_return_any = false
