api-insee
boto3
dj-database-url
dj-static
Django
django-extensions
django-import-export[xls, xlsx]
django-ninja
django-sql-explorer
django-storages
gunicorn
Jinja2
opening-hours-py
orjson
pandas<2.2.0
Pillow
# On remplace psycopg2 par psycopg3
# pour se mettre au goût du jour.
# On ne met pas psycopg3-binary pour
# des raisons de sécurité, voir airflow-scheduler.Dockerfile
# pour explications + installation dépendances
psycopg3
python-decouple
requests
sentry-sdk
shortuuid
tqdm
unidecode
uvicorn
whitenoise
django-widget-tweaks
django-cors-headers
django-dsfr
django-colorfield
rapidfuzz
