api-insee
boto3
dj-database-url
dj-static
Django
django-extensions
django-import-export[xls, xlsx]
django-ninja
django-sql-explorer
django-storages
gunicorn
Jinja2
opening-hours-py
orjson
pandas<2.2.0
Pillow
psycopg2
python-decouple
requests
sentry-sdk
shortuuid
tqdm
unidecode
uvicorn
whitenoise
django-widget-tweaks
django-cors-headers
django-dsfr
django-colorfield
rapidfuzz
wagtail
