
api-insee
boto3
dj-database-url
dj-static
Django
django-import-export[xls, xlsx]
django-ninja
django-sql-explorer
django-storages
gunicorn
Jinja2
opening-hours-py
orjson
pandas<2.2.0
Pillow
psycopg2
python-decouple
requests
sentry-sdk
tqdm
unidecode
uvicorn
whitenoise
django-cors-headers
