{% load admin_data_tags %}

<turbo-frame
    id="suggestion_groupe_{{ suggestion_groupe.id }}"
    data-fields-values='{{ fields_values|tojson }}'
    data-fields-groups='{{ fields_groups|tojson }}'
    data-update-suggestion-url="{% url 'data:suggestion_groupe' suggestion_groupe.id %}"
    >

    <h3>
        {% block suggestion_title %}
            <a href="{% url 'admin:data_suggestiongroupe_change' suggestion_groupe.id %}" rel="noreferrer" data-turbo="false">{{ suggestion_groupe.id }}</a> :
            {% if acteur %}{{ acteur }} - {% endif %}{{ identifiant_unique }}
            {% if acteur %}
                (
                <a href="{% url 'admin:qfdmo_acteur_change' acteur.identifiant_unique|quote %}" target="_blank" rel="noreferrer" data-turbo="false">importé</a>
                {% if revision_acteur %}
                    , <a href="{% url 'admin:qfdmo_revisionacteur_change' revision_acteur.identifiant_unique|quote %}" target="_blank" rel="noreferrer" data-turbo="false"> corrigé</a>
                {% endif %}
                {% if parent_revision_acteur %}
                    , <a href="{{ parent_revision_acteur.displayedacteur_change_url }}" target="_blank" rel="noreferrer" data-turbo="false">parent affiché</a>
                {% else %}
                    , <a href="{{ acteur.displayedacteur_change_url }}" target="_blank" rel="noreferrer" data-turbo="false">affiché</a>
                {% endif %}
                )
            {% endif %}
        {% endblock suggestion_title %}
    </h3>
    <div class="qf-flex qf-flex-col qf-items-left qf-gap-1v">
        <span class="qf-ml-3w qf-text-xs qf-italic">
            {% block suggestion_subtitle %}
                Cohorte :
                <a href="{% url 'admin:data_suggestioncohorte_change' suggestion_groupe.suggestion_cohorte.id %}" rel="noreferrer" data-turbo="false">{{ suggestion_groupe.suggestion_cohorte.id }} - {{ suggestion_groupe.suggestion_cohorte.get_type_action_display }}</a>
            {% endblock suggestion_subtitle %}
        </span>
        <div class="qf-flex qf-flex-row qf-gap-1w">
            <span class="qf-ml-3w qf-text-lg qf-italic">
                {{ suggestion_groupe.get_statut_display }}
            </span>
            <button
                type="button"
                data-controller="suggestion-status"
                data-suggestion-status-action-value="validate"
                data-suggestion-status-status-url-value="{% url 'data:suggestion_groupe_status' suggestion_groupe.id %}"
                data-action="click->suggestion-status#update">
                ✅ VALIDER la suggestion
            </button>
            <button
                type="button"
                data-controller="suggestion-status"
                data-suggestion-status-action-value="reject"
                data-suggestion-status-status-url-value="{% url 'data:suggestion_groupe_status' suggestion_groupe.id %}"
                data-action="click->suggestion-status#update">
                ❌ REJETER la suggestion
            </button>
            <button
                type="button"
                data-controller="suggestion-status"
                data-suggestion-status-action-value="to_process"
                data-suggestion-status-status-url-value="{% url 'data:suggestion_groupe_status' suggestion_groupe.id %}"
                data-action="click->suggestion-status#update">
                ⏳ Renvoyer à valider
            </button>
        </div>
    </div>
    <div class="qf-my-3w">
        {% block suggestion_details %}
        {% endblock suggestion_details %}
    </div>
</turbo-frame>
