<div
    class="qf-flex qf-flex-col qf-gap-5w"
>
    <section id="qu-est-ce-que-j-en-fais">
        <p class="qf-text-sm md:qf-text-lg">
            {{ content|default:produit.qu_est_ce_que_j_en_fais|safe }}
        </p>
    </section>

    {% if produit.sous_categorie_with_carte_display %}
    <section id="ou-l-apporter" class="qf-mb-4w">
        <h2>Où l'apporter</h2>
        <iframe
            class="qf-aspect-[9/16] md:qf-aspect-[4/3]
            qf-w-full
            max-md:qf-min-h-[80vh] md:qf-min-h-[46em] md:qf-max-h-[50em]"
            src="{{ url_carte|default:produit.sous_categories.first.url_carte }}"></iframe>
    </section>
    {% endif %}
</div>
