{% load wagtailimages_tags %}

{% if infotri %}
    <div class="qf-flex qf-flex-col qf-gap-1w">
        <ul class="qf-list-none qf-flex md:qf-flex-row qf-flex-col qf-gap-2w qf-m-0">
            {% for infotri in produit.infotri %}
                <li class="qf-h-[80px]">
                {% image infotri.value original preserve-svg height="80" width="auto" class="qf-object-left qf-max-w-full" alt="" %}
                </li>
            {% endfor %}
        </ul>

        <p class="qf-m-0">
            <a href="{{ ASSISTANT.infotri.lien }}" class="fr-link" rel="noopener external" target="_blank" title="Lien vers les infotris - Nouvelle fenêtre">{{ ASSISTANT.infotri.texte_du_lien }}</a>
        </p>
    </div>
{% endif %}
