{% load dsfr_tags wagtailimages_tags %}

<header class="qf-mt-3w md:qf-mt-5w">
    <h1 class="qf-m-0">
        {{ object.nom|capfirst }}
    </h1>

    {% if produit.infotri %}
        <div class="qf-flex qf-flex-col qf-gap-2v">
            <ul class="qf-list-none qf-h-[65px] qf-flex qf-gap-2v">
                {% for infotri in produit.infotri %}
                    <li>
                    {% image infotri.value original preserve-svg class="qf-w-auto qf-h-full" %}
                    </li>
                {% endfor %}
            </ul>

            <p>
                <a href="{{ infotri.lien }}">{{ infotri.texte_du_lien }}</a>
            </p>
        </div>
    {% endif %}
</header>
{% if bon_etat and mauvais_etat %}
    <div class="fr-tabs">
        <ul class="fr-tabs__list" role="tablist" aria-label="État du produit {{ produit }}">
            <li role="presentation">
                <button
                    id="mauvais-etat-tab"
                    class="fr-tabs__tab fr-icon-thumb-down-line fr-tabs__tab--icon-left"
                    tabindex="0"
                    role="tab"
                    aria-selected="true"
                    aria-controls="mauvais-etat-panel"
                >
                    Mauvais état
                </button>
            </li>
            <li role="presentation">
                <button
                    id="bon-etat-tab"
                    class="fr-tabs__tab fr-icon-thumb-up-line fr-tabs__tab--icon-left"
                    tabindex="-1"
                    role="tab"
                    aria-selected="false"
                    aria-controls="bon-etat-panel"
                >
                    Bon état
                </button>
            </li>
        </ul>
        <div id="mauvais-etat-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="mauvais-etat-tab" tabindex="0">
            {% include "./_detail.html" with content=mauvais_etat url_carte=produit.url_carte_mauvais_etat %}
        </div>
        <div id="bon-etat-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="bon-etat-tab" tabindex="0">
            {% include "./_detail.html" with content=bon_etat url_carte=produit.url_carte_bon_etat %}
        </div>
    </div>
{% else %}
    <div>
        {% include "./_detail.html" %}
    </div>
{% endif %}

{% dsfr_accordion_group produit.content_display %}
