<div
    {% block data_attributes %}{% endblock %}
    class="nolegend:qf-my-1w qf-flex-grow"
>
    <div>
        <div class="autocomplete">
            <input
                    data-action="
                    {% block data_action %}
                    input->{{ widget.data_controller }}#complete
                    focus->{{ widget.data_controller }}#complete
                    keydown.down->{{ widget.data_controller }}#keydownDown
                    keydown.up->{{ widget.data_controller }}#keydownUp
                    keydown.enter->{{ widget.data_controller }}#keydownEnter
                    keydown.esc->{{ widget.data_controller }}#hideAutocompleteList
                    blur->{{ widget.data_controller }}#blurInput
                    {% endblock data_action %}
                "
                data-{{ widget.data_controller }}-target="input"
                data-on-focus=true
                type="{{ widget.type }}"
                name="{{ widget.name }}"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                data-form-type="other"
                {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}
                {% include "django/forms/widgets/attrs.html" %}
            >
            {% include "ui/forms/widgets/_spinner.html" %}
        </div>
    </div>

    {% block error %}
    <p data-address-autocomplete-target="displayError" class="fr-error-text fr-mt-1w" style="display:none;">
        Texte d’erreur obligatoire
    </p>
    {% endblock error %}
</div>
