<p class="qf-inline-flex qf-gap-1w qf-m-0">
    <span class="fr-px-1v {{ groupe_action.icon }}
        qf-mb-auto
        fr-icon--sm qf-rounded-full
        {% if groupe_action.fill %}qf-text-white qf-bg-{{ groupe_action.primary }}
        {% else %}qf-text-{{ groupe_action.primary }} qf-bg-white{% endif %}
        qf-border-{{ groupe_action.primary }} qf-border-2 qf-border-solid"
        aria-hidden="true"></span>
        {% if libelle %}
        {{ libelle }}
        {% else %}
        {{ groupe_action.libelle }}
        {% endif %}
        {{ carte_config }}
</p>
