<main
    class="
    qf-flex
    qf-relative
    max-md:qf-h-main-svh
    {# Is useful for digital view so that the users can scrol in the results #}
    qf-overflow-auto
    "
    tabindex="0"
>
    {% block form_result %}
        <turbo-frame id="addressesPanel"
            data-search-solution-form-target="addressesPanel"
            class="qf-relative qf-z-10
                qf-flex qf-flex-col
                max-md:qf-fixed
                max-md:qf-top-header max-md:qf-bottom-footer
                max-md:qf-left-0 max-md:qf-right-0
                data-[visible=true]:qf-flex-grow
                data-[visible=false]:qf-invisible data-[visible=false]:qf-h-0"
            data-visible="false"
            tabindex="0"
        >
            {% include 'ui/components/formulaire/results.html' %}
        </turbo-frame>
    {% endblock form_result %}

    {% block form_fields %}
        {% include "ui/components/carte/partials/featureflip_inputs.html" %}
        {{ form.bounding_box }}
    {% endblock form_fields %}
</main>
