<div class="
    qf-relative
    qf-hidden qf-flex-row
    data-[visible=true]:qf-flex"
    data-visible="false"
    id="search_summary"
    data-search-solution-form-target="backToSearchPanel"
>
    <button
        type="button"
        class="fr-my-1w
               qf-flex-grow sm:qf-flex-grow-0
               fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-search-line
               qf-whitespace-nowrap qf-flex qf-justify-center"
        data-action="click -> search-solution-form#backToSearch"
        aria-label="Modifier ma recherche"
        data-testid="modifier-recherche"
    >Modifier ma recherche</button>
    <button
        class="fr-my-1w fr-ml-1w
               fr-btn fr-btn--tertiary"
        type="button"
        data-action="search-solution-form#toggleAdvancedFilters"
        aria-labelledby="backtoform-advanced-filters-button"
    >
        <span class="fr-icon-equalizer-line fr-icon--sm"></span>
        <span class="qf-hidden sm:qf-block qf-ml-1w" id="backtoform-advanced-filters-button">Filtres avancés</span>
    </button>

</div>
