<div class="fr-container qfdmo-flex qfdmo-flex-row sm:qfdmo-items-center">
    <div class="qfdmo-items-center qfdmo-hidden md:qfdmo-flex qfdmo-flex-row">
        {% include 'layout/_partials/header_logos.html' %}
    </div>

    <!-- Recherche adresse -->
    <div class="fr-my-1w qfdmo-flex-grow qfdmo-flex qfdmo-flex-col md:qfdmo-mr-2w">
        {% include 'qfdmo/_addresses_partials/adresse_input_form.html' %}

        <div class="sm:qfdmo-hidden fr-mt-1w qfdmo-flex qfdmo-flex-row-reverse">
            <button
                class="fr-btn fr-btn--secondary fr-ml-1w fr-btn--icon-left fr-icon-eye-line"
                type="button"
                data-action="click -> search-solution-form#toggleLegend"
                >
                Légende
            </button>
            <button
                class="fr-btn fr-btn--secondary fr-ml-1w fr-btn--icon-left fr-icon-equalizer-line"
                type="button"
                data-action="click -> search-solution-form#toggleAdvancedFiltersWithSubmitButton"
                >
                Filtres
            </button>
        </div>
    </div>
</div>
