{# Panel «Formulaire de recherche» #}
<div class="fr-container qfdmo-duration-300 qfdmo-overflow-hidden
    qfdmo-flex-grow"
    data-search-solution-form-target="searchFormPanel"
>
    <h1 class="qfdmo-hidden">Longue vie aux objets</h1>

    <div class="qfdmo-h-full qfdmo-flex qfdmo-flex-row" id='boo'>

        <div class="qfdmo-flex qfdmo-flex-col qfdmo-w-full sm:qfdmo-w-[604px] qfdmo-h-full" data-test-id="form-content">

            <div class="qfdmo-flex-grow qfdmo-overflow-y-auto qfdmo-overflow-x-hidden">
                {# Direction #}
                <fieldset class="fr-segmented fr-segmented--sm qfdmo-w-full fr-mt-3w">
                    <legend class="fr-segmented__legend qfdmo-hidden">
                        {{ form.direction.label }}
                    </legend>
                    {{ form.direction }}
                </fieldset>

                {{ form.action_displayed }}

                {{ form.action_list }}

                {# Recherche Objet #}
                {% include 'qfdmo/_addresses_partials/filters/_object_filter.html' %}

                {# Recherche adresse #}
                <div class="fr-mt-3w fr-px-1v fr-input-group">
                    {% include 'qfdmo/_addresses_partials/adresse_input_form.html' %}
                </div>

                {# Gestes #}
                <div class="fr-mt-3w fr-px-1v">
                    {% with action_direction='jai' %}
                        {% include "qfdmo/partials/action_list_by_direction.html" %}
                    {% endwith %}
                    {% with action_direction='jecherche' %}
                        {% include "qfdmo/partials/action_list_by_direction.html"  %}
                    {% endwith %}
                </div>


            </div>
            <div class="fr-my-1w qfdmo-w-full qfdmo-flex qfdmo-flex-col sm:qfdmo-max-w-[604px] qfdmo-mx-auto">

                {# Advanced filters #}
                <button
                    class="fr-my-1w qfdmo-w-full sm:qfdmo-w-fit fr-btn fr-btn--tertiary-no-outline qfdmo-flex qfdmo-justify-center sm:qfdmo-text-left"
                    type="button"
                    data-action="click -> search-solution-form#toggleAdvancedFiltersWithoutSubmitButton"
                    >
                    Filtres avancés
                </button>

                <button
                    class="fr-btn qfdmo-whitespace-nowrap qfdmo-float-left qfdmo-w-full sm:qfdmo-w-max qfdmo-flex qfdmo-justify-center"
                    data-action="click -> search-solution-form#advancedSubmit"
                    type="button"
                    data-with-controls="true"
                    data-without-zone="true"
                    data-with-dynamic-form-panel="true"
                    >
                    Rechercher des adresses
                </button>
            </div>
        </div>
        <div class="fr-p-3w qfdmo-my-auto qfdmo-flex-grow qfdmo-hidden sm:qfdmo-block">
            <img
                src="{{ static('france_map.svg') }}"
                alt=""
                class="qfdmo-max-w-[100%]"
            >
        </div>
    </div>
</div>
