{% extends "../action.html" %}

{% block icon %}
{% include "./icon.html" %}
{% endblock icon %}

{% block button_text %}
Intégrer
{% endblock button_text %}

{% block modal_title %}
Intégrer ce simulateur
{% endblock modal_title %}

{% block modal_content %}
<div class="qf-flex qf-flex-col qf-gap-1w">
    <p>
        Il vous suffit de copier/coller ce code dans votre site Internet. En cas de difficultés, de questions, ou pour tout autre échange, vous pouvez contacter notre équipe.
    </p>

    {% include "components/code/code.html" with script=iframe_script %}

    <p><strong>Vous souhaitez réutiliser le code du simulateur ?</strong>
        Ce simulateur est développé de manière ouverte (open source). L’ensemble du code est <a
            href="https://github.com/incubateur-ademe/quefairedemesobjets/"
            target="_blank"
            rel="noreferrer"
            title="Lien vers le dépôt GitHub - Nouvelle fenêtre"
        >disponible librement</a>.
    </p>
</div>
{% endblock modal_content %}

{% block modal_wrapper_for_id %}
    {% with id="integrer-le-simulateur" %}
    {{ block.super }}
    {% endwith %}
{% endblock modal_wrapper_for_id %}
