
{% if adresse.labels.filter(afficher=True, bonus=True, type_enseigne=False) %}
    <p class="fr-tag fr-tag--icon-left fr-icon-money-euro-box-line" data-testid='adresse_detail_header_tag'>Éligible au bonus réparation</p>
{% elif adresse.labels.filter(afficher=True, type_enseigne=False).count() == 1 %}
    {% with source_or_label=adresse.labels.filter(afficher=True, type_enseigne=False).first() %}
        {% if source_or_label.logo_file %}
            <img
                class="fr-mr-1w"
                src="{{ source_or_label.logo_file.url }}"
                alt="🏷️"
                class="qfdmo-cursor-pointer"
                width=16
                height=16
            >
        {% endif %}
        <span class="qfdmo-grow" data-testid='adresse_detail_header_tag'>{{ source_or_label.libelle }}</span>
    {% endwith %}
{% elif adresse.labels.filter(afficher=True, type_enseigne=False).count() >= 1 %}
    <p class="fr-tag fr-tag--icon-left fr-icon-shield-check-line" data-testid='adresse_detail_header_tag'>Cet établissement dispose de plusieurs labels</p>
{% elif adresse.labels.filter(afficher=True, type_enseigne=True).count() >= 1 %}
    {% with source_or_label=adresse.labels.filter(afficher=True, type_enseigne=True).first() %}
        <p class="fr-tag" data-testid='adresse_detail_header_tag'>
            {% if source_or_label.logo_file %}
                <img
                    class="fr-mr-1w"
                    src="{{ source_or_label.logo_file.url }}"
                    alt="🏷️"
                    class="qfdmo-cursor-pointer"
                    width=16
                    height=16
                >
            {% endif %}
            <span class="qfdmo-grow">{{ source_or_label.libelle }}</span>
        </p>
    {% endwith %}
{% endif %}

<h2 class='fr-my-1v fr-h6'>
    {{ adresse.libelle }}
</h2>

<p class="qfdmo-text-sm fr-mb-1w fr-mt-0 fr-text--xs">
    {% for acteur_service in adresse.acteur_services() %}
        {{ acteur_service }}{% if not loop.last %},&nbsp;{% endif %}
    {% endfor %}
    {{ distance_to_acteur(request, adresse) }}
</p>

<hr class="fr-pb-1v">
<div class="fr-my-1w qfdmo-flex qfdmo-justify-around">
    {% if latitude and longitude and not adresse.is_digital %}
        <div class="qfdmo-flex qfdmo-flex-col qfdmo-items-center">
            <a  class="fr-btn fr-icon-send-plane-line qfdmo-rounded-full"
                href="https://www.google.com/maps/dir/?api=1&origin={{latitude}},{{longitude}}&destination={{adresse.latitude}},{{adresse.longitude}}&travelMode=WALKING"
                target="_blank"
                title="itinéraire"
                rel='noopener'
            ></a>
            <span class="fr-text--xs fr-mb-0">Itinéraire</span>
        </div>
    {% endif %}
    {% if adresse.url %}
        <div class="qfdmo-flex qfdmo-flex-col qfdmo-items-center">
            <a class="fr-btn fr-btn--secondary-light fr-icon-global-line qfdmo-rounded-full" href="{{ adresse.url }}" target="_blank" title="Site Internet" rel='noopener'></a>
            <span class="fr-text--xs fr-mb-0">Site web</span>
        </div>
    {% endif %}
    {% if adresse.email and False %}
        <div class="qfdmo-flex qfdmo-flex-col qfdmo-items-center">
            <a class="fr-btn fr-btn--secondary-light fr-icon-mail-line qfdmo-rounded-full" href="mailto:{{ adresse.email }}" target="_blank" title="Courriel" rel='noopener'></a>
            <span class="fr-text--xs fr-mb-0">E-mail</span>
        </div>
    {% endif %}
    {% if adresse.telephone %}
        <div class="qfdmo-flex qfdmo-flex-col qfdmo-items-center">
            <a class="fr-btn fr-btn--secondary-light fr-icon-phone-line qfdmo-rounded-full" href="tel:{{ adresse.telephone }}" title="Téléphone" rel='noopener'></a>
            <span class="fr-text--xs fr-mb-0">Téléphone</span>
        </div>
    {% endif %}

    <div class="qfdmo-flex qfdmo-flex-col qfdmo-items-center">
        <button class="fr-btn fr-btn--secondary-light fr-icon-share-line qfdmo-rounded-full" aria-describedby="shareTooltip" type="button"></button>
        <span class="fr-tooltip fr-placement" id="shareTooltip" role="tooltip" aria-hidden="true">
            <div class="fr-share">
                {% with address_url=adresse.get_share_url(request) %}
                    <ul class="fr-btns-group">
                        <li>
                            <a  class="fr-btn--facebook fr-btn"
                                target="_blank"
                                rel="noopener"
                                title="partager {{ adresse }} sur Facebook - nouvelle fenêtre"
                                onclick="window.open(this.href,'Partager sur Facebook','toolbar=no,location=yes,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=450'); event.preventDefault();"
                                href="https://www.facebook.com/sharer.php?u={{ quote_plus(address_url) }}"
                            >
                                Partager sur Facebook
                            </a>
                        </li>
                        <li>
                            <!-- Les paramètres de la reqûete doivent être URI-encodés (ex: encodeURIComponent() en js) -->
                            <a  class="fr-btn--twitter-x fr-btn"
                                target="_blank"
                                rel="noopener"
                                title="partager {{ adresse }} sur X - nouvelle fenêtre"
                                onclick="window.open(this.href,'Partager sur X (anciennement Twitter)','toolbar=no,location=yes,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=420'); event.preventDefault();"
                                href="https://twitter.com/intent/tweet?url={{ quote_plus(address_url) }}&text=Super adresse trouvée grâce à l'ADEME&via=Longue+vie+aux+objets&hashtags=longuevieauxobjets,ademe"
                            >
                                Partager sur X (anciennement Twitter)
                            </a>
                        </li>
                        <li>
                            <a  class="fr-btn--linkedin fr-btn"
                                target="_blank"
                                rel="noopener"
                                title="partager {{ adresse }} sur LinkedIn - nouvelle fenêtre"
                                onclick="window.open(this.href,'Partager sur LinkedIn','toolbar=no,location=yes,status=no,menubar=no,scrollbars=yes,resizable=yes,width=550,height=550'); event.preventDefault();"
                                href="https://www.linkedin.com/shareArticle?url={{ quote_plus(address_url) }}&title=Super adresse trouvée grâce à l'ADEME"
                            >
                                Partager sur LinkedIn
                            </a>
                        </li>
                        <li>
                            <a  class="fr-btn--mail fr-btn"
                                target="_blank"
                                rel="noopener external"
                                title="partager {{ adresse }} par email - nouvelle fenêtre"
                                href="mailto:?subject=Super adresse trouvée grâce à l'ADEME&body=Super adresse trouvée grâce à l'ADEME : {{ quote_plus(address_url) }}"
                            >
                                Partager par email
                            </a>
                        </li>
                        <li>
                            <button class="fr-btn--copy fr-btn"
                                onclick="navigator.clipboard.writeText('{{address_url}}').then(function() {alert('Adresse copiée dans le presse papier.')});"
                                type="button"
                            >
                                Copier dans le presse-papier
                            </button>
                        </li>
                    </ul>
                {% endwith %}
            </div>
        </span>
        <span class="fr-text--xs fr-mb-0">Partager</span>
    </div>
</div>


<div class="fr-tabs fr-tabs--noborder">
    <ul class="fr-tabs__list" role="tablist" aria-label="[A modifier | nom du système d'onglet]">
        <li role="presentation">
            <button class="fr-tabs__tab fr-tabs__tab--noborder"
                tabindex="0"
                role="tab"
                aria-selected="true"
                aria-controls="aboutPanel"
                type="button"
            >
                À propos
            </button>
        </li>
        {% if display_infos_panel(adresse) %}
            <li role="presentation">
                <button class="fr-tabs__tab fr-tabs__tab--noborder"
                    tabindex="-1"
                    role="tab"
                    aria-selected="false"
                    aria-controls="infosPanel"
                    type="button"
                >
                    Adresse
                </button>
            </li>
        {% endif %}
        {% if display_labels_panel(adresse) %}
            <li role="presentation">
                <button class="fr-tabs__tab fr-tabs__tab--noborder"
                    tabindex="-1"
                    role="tab"
                    aria-selected="false"
                    aria-controls="labelsPanel"
                    type="button"
                >
                    Labels
                </button>
            </li>
        {% endif %}
        {% if display_sources_panel(adresse) %}
            <li role="presentation">
                <button class="fr-tabs__tab fr-tabs__tab--noborder"
                    tabindex="-1"
                    role="tab"
                    aria-selected="false"
                    aria-controls="sourcesPanel"
                    type="button"
                >
                    Sources
                </button>
            </li>
        {% endif %}
    </ul>
    <div id="aboutPanel"
        class="fr-tabs__panel fr-tabs__panel--selected"
        role="tabpanel"
        aria-labelledby="aboutPanel"
        tabindex="0"
    >

        {% if adresse.description %}
            <h3 class="fr-text--sm fr-m-0 qfdmo-text-grey-425">Description</h3>
            <p class="fr-mb-1w">{{adresse.description}}</p>
        {% endif %}

        <h3 class="fr-text--sm fr-m-0 qfdmo-text-grey-425">Services disponibles</h3>
        {% for service_proposition in  adresse.proposition_services_by_direction(direction) %}
            <div class="fr-px-1w fr-pb-1w fr-my-1w qfdmo-bg-grey-975">
                <p class="fr-my-1w fr-mr-1v fr-badge fr-badge--sm qfdmo-bg-{{ service_proposition.action.groupe_action.couleur if is_carte(request) else service_proposition.action.couleur }} qfdmo-bg-opacity-30">
                    {% if service_proposition.action.icon %}
                        <span class="{{ service_proposition.action.groupe_action.icon if is_carte(request) else service_proposition.action.icon }}" aria-hidden="true"></span>&nbsp;
                    {% endif %}
                    {{ service_proposition.action.libelle }}
                </p>
                <p class="fr-ml-3w fr-mb-1w qfdmo-line-clamp-3">
                    {% for sous_categorie in service_proposition.sous_categories.all() %}
                        {{ sous_categorie }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        {% endfor %}

        {% if adresse.labels.filter(afficher=True, bonus=True, type_enseigne=False) %}
            <div class="fr-card fr-enlarge-link fr-card--horizontal">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h3 class="fr-card__title fr-text--md">
                            <a href="https://www.ecologie.gouv.fr/bonus-reparation" target="_blank" rel="noopener">
                                <span class='fr-icon--sm fr-icon-money-euro-box-line'></span>&nbsp;Éligible au bonus réparation
                            </a>
                        </h3>
                        <p class="fr-card__desc">Découvrez les réparations pour lesquelles vous pouvez bénéficier d'une aide et faites des économies</p>

                    </div>
                </div>
            </div>
        {% endif %}

    </div>

    {% if display_infos_panel(adresse) %}
        <div id="infosPanel"
            class="fr-tabs__panel"
            role="tabpanel"
            aria-labelledby="infosPanel"
            tabindex="0"
        >
            {% if adresse.horaires_description %}
                <h3 class="fr-text--sm fr-m-0 qfdmo-text-grey-425">Horaires d'ouverture</h3>
                <div class="fr-p-1w fr-my-1w qfdmo-bg-grey-975">
                    {{ adresse.horaires_description.replace('\n', '<br>')|safe }}
                </div>
            {% endif %}

            {% if adresse.adresse %}
                <h3 class="fr-text--sm fr-m-0 qfdmo-text-grey-425">Adresse</h3>
                <div class="fr-p-1w fr-my-1w qfdmo-bg-grey-975">
                    {{ adresse.adresse|title }}<br>
                    {% if adresse.adresse_complement %}
                        {{ adresse.adresse_complement }}<br>
                    {% endif %}
                    {{ adresse.code_postal }} {{ adresse.ville|title }}
                </div>
            {% endif %}

            {% with source_or_label_list=adresse.labels.filter(afficher=True, type_enseigne=True) %}
                {% if source_or_label_list %}
                    <h3 class="fr-text--sm fr-m-0 qfdmo-text-grey-425">Type d'enseigne</h3>
                    {% with source_or_label_list=adresse.labels.filter(afficher=True, type_enseigne=True) %}
                        {% include "qfdmo/_address_card_partials/source_or_label_list.html" %}
                    {% endwith %}
                {% endif %}
            {% endwith %}

        </div>
    {% endif %}

    {% if display_labels_panel(adresse) %}
        <div id="labelsPanel"
            class="fr-tabs__panel"
            role="tabpanel"
            aria-labelledby="labelsPanel"
            tabindex="0"
        >

            {% with source_or_label_list=adresse.labels.filter(afficher=True, type_enseigne=False) %}
                {% include "qfdmo/_address_card_partials/source_or_label_list.html" %}
            {% endwith %}

        </div>
    {% endif %}

    {% if display_sources_panel(adresse) %}
        <div id="sourcesPanel"
            class="fr-tabs__panel"
            role="tabpanel"
            aria-labelledby="sourcesPanel"
            tabindex="0"
        >
            {% with source_or_label_list=[adresse.source] %}
                {% include "qfdmo/_address_card_partials/source_or_label_list.html" %}
            {% endwith %}
        </div>
    {% endif %}
</div>
<div class="qfdmo-flex qfdmo-flex-row-reverse">
    <div class="fr-m-0 fr-ml-1w fr-text--xs">
        Mis à jour le {{ adresse.modifie_le.strftime('%d/%m/%Y') }}
    </div>
</div>

<a class="fr-my-1w fr-btn fr-btn--tertiary qfdmo-whitespace-nowrap qfdmo-w-full qfdmo-justify-center"
    href="https://tally.so/r/3xMqd9?Nom={{adresse.nom}}&Ville={{adresse.ville}}&Adresse={{adresse.adresse}}"
    target="_blank" rel="noopener" title="Proposer une modification - Nouvelle fenêtre"
>
    Proposer une modification
</a>
