{% extends "dsfr/header.html" %}

{% load i18n %}

{% block header_search %}
  <div class="fr-header__search fr-modal" id="modal-search">
    <div class="fr-container fr-container-lg--fluid">
      {% translate "Close" as close_label %}
      <button class="fr-btn--close fr-btn"
              aria-controls="modal-search"
              title="{{ close_label }}">
        {{ close_label }}
      </button>
    <div class="fr-search-bar" id="search-bar" role="search">
        {% include "ui/components/search/autocomplete_header_view.html" with autocomplete_search_form=assistant.header_autocomplete_search_form %}
    </div>
  </div>
{% endblock header_search %}
