{% extends iframe|yesno:"ui/components/header/base.iframe.html,ui/components/header/base.html" %}

{% load i18n menu_tags static %}

{% block header_search %}
  <div class="fr-header__search fr-modal" id="modal-search">
    <div class="fr-container fr-container-lg--fluid">
      {% translate "Close" as close_label %}
      <button class="fr-btn--close fr-btn"
              aria-controls="modal-search"
              title="{{ close_label }}">
        {{ close_label }}
      </button>
    <div class="fr-search-bar" id="search-bar" role="search">
        {% include "ui/components/search/autocomplete_header_view.html" with autocomplete_search_form=assistant.header_autocomplete_search_form %}
    </div>
  </div>
{% endblock header_search %}

{% block burger_menu %}
  {% translate "Search" as search_label %}
  <div class="fr-header__navbar">
    <button class="fr-btn--search fr-btn"
            data-fr-opened="false"
            aria-controls="modal-search"
            id="fr-btn-search-mobile"
            title="{{ search_label }}">
    {{ search_label }}
    </button>
    <button class="fr-btn--menu fr-btn"
            data-fr-opened="false"
            aria-controls="fr-menu-mobile"
            id="fr-btn-menu-mobile"
            title="Menu">
            Menu
    </button>
  </div>
{% endblock burger_menu %}

{% block operator_logo %}
<div class="fr-header__operator max-md:qf-pl-0 max-sm:qf-pr-0">
    <div class="qf-grid qf-auto-cols-max qf-grid-flow-col qf-max-h-8w md:qf-max-h-9w qf-gap-1w md:qf-gap-2w">
        <div class="qf-w-8w qf-px-1v">
            {% include "./_logo_ademe.html" %}
        </div>
        <div class="max-xsm:qf-hidden">
        {% include "ui/components/logo/header.html" %}
        </div>
    </div>
</div>
{% endblock operator_logo %}

{% block header_tools_links %}
{% endblock header_tools_links %}

{% block service_title %}
{% endblock service_title %}

{% block service_tagline %}
{% endblock service_tagline %}

{% block main_menu %}
{% if request %}
{% main_menu max_levels=1 template="ui/components/header/header_menu.html" %}
{% endif %}
{% endblock main_menu %}
