<aside
    {# The z-index is used to prevent the search input overlapping with the sidebar #}
    class="lg:qf-fixed qf-z-20 qf-right-0 qf-top-1/4
    max-lg:qf-bg-grey-1000-50-hover
    max-lg:qf-pt-4w max-lg:qf-px-15w
    max-md:qf-hidden"
>
    <nav
        class="qf-flex lg:qf-flex-col qf-gap-3w
        qf-flex-row max-lg:qf-justify-between"
    >
        {% include "./embed/action.html" %}
        {% include "./share/action.html" %}
        {% if not assistant.is_iframe %}
            {% include "./email/action.html" %}
        {% endif %}
    </nav>
</aside>
