<div
    class="qf-flex qf-flex-col
    qf-grid-cols-1 lg:qf-grid md:qf-grid-cols-[minmax(0,576px)_1fr] qf-gap-7w"
    data-controller="autocomplete"
    data-autocomplete-endpoint-url-value="{{ extra_attrs.endpoint }}"
    data-autocomplete-empty-label-value="{{ extra_attrs.empty_label }}"
    {% if widget.value %}
    data-autocomplete-selected-items-value='["{{ widget.value|join:'","' }}"]'
    {% endif %}
>
    <div class="qf-flex qf-flex-col qf-gap-2w">
        <div class="qf-relative">
            {# search box #}
            <input
                data-action="autocomplete#search"
                data-autocomplete-target="input"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                data-form-type="other"
                type="text"
                name="search"
                class="fr-input"
            >
            {# This is automatically populated based on the input value #}
            {# Selected results displayed alongside the input #}
            <div
                data-autocomplete-target="searched"
                class="autocomplete-items qf-w-full empty:qf-hidden"
            >
            </div>
        </div>
        {{ extra_attrs.additionnal_info }}
    </div>
    <div class="qf-flex qf-flex-col qf-gap-1w -qf-mt-6w qf-w-full">
        <p class="qf-m-0">{{ extra_attrs.selected_label }} (<span data-autocomplete-target="counter">0</span>)</>
        <div
            class="fr-text--sm qf-p-2w
            qf-flex qf-gap-3v
            qf-flex-wrap
            qf-border qf-border-solid qf-border-grey-900"
            data-autocomplete-target="selected"
        ></div>
    </div>

    {# Hidden form that stores the submitted data #}
    <div class="qf-hidden">
        {% include hidden_template_name %}
    </div>
</div>
