{% load static %}
<section class="fr-container">
    <h2>Comment réduire ses déchets ?</h2>
    <p>Retrouvez tous les conseils de l’ADEME sur le site <a
        href="https://agirpourlatransition.ademe.fr/particuliers/maison/dechets"
        title="Agir pour la transitionNos gestes climat - Nouvelle fenêtre"
        target="_blank"
        rel="noreferrer"
    >
        Agir pour la transition
    </a>
    .</p>
    <p class="qf-text-center">
        <img src="{% static "assistant/agir-pour-la-transition.svg" %}" class="qf-h-15w">
    </p>
</section>
<section class="fr-container">
    <h2>D'où viennent ces données ?</h2>
    <p>
        Ce simulateur utilise les données de l'ADEME. Il s'agit de données à l'échelle nationale.
        Si vous souhaitez aller plus loin dans votre démarche, vous pouvez calculer votre empreinte sur le climat grâce à notre simulateur
        <a
            href="https://nosgestesclimat.fr"
            title="Nos gestes climat - Nouvelle fenêtre"
            target="_blank"
            rel="noreferrer"
        >
            Nos Gestes Climat
        </a>.
    </p>
</section>
<section class="fr-container">
    <h2>
        Comment intégrer ces données à mon site ou application ?</h2>

    <p>Vous souhaitez afficher ce simulateur sur votre site ? Personnalisez le et intégrez le facilement grâce à notre configurateur.
    Vous souhaitez réutiliser le code du simulateur ? Ce simulateur est développé de manière ouverte (open source). L’ensemble du code est 
    <a
        href="https://github.com/incubateur-ademe/quefairedemesdechets"
        title="Dépôt de code GitHub - Nouvelle fenêtre"
        target="_blank"
        rel="noreferrer"
    >
        disponible librement
    </a>.
    </p>
</section>
<section class="fr-container">
    <h2>
        Qui sommes-nous ?</h2>
    <p>
        <a href="https://quefairedemesdechets.ademe.fr">Que faire de mes déchets</a> est un service public gratuit, porté par l’<a
            href="https://www.ademe.fr"
            title="ADEME - Nouvelle fenêtre"
            target="_blank"
            rel="noreferrer"
        >
            ADEME
        </a> l’incubateur de la DINUM <a
            href="https://beta.gouv.fr"
            title="Beta Gouv - Nouvelle fenêtre"
            target="_blank"
            rel="noreferrer"
        >
            beta.gouv.fr
        </a>.
        Notre mission est de diffuser les informations et données environnementales en open-data de l’ADEME pour encourager l’amélioration continue et l’innovation. Pour cela, nous accompagnons toutes les applications & services dans leur démarche responsable par l'appropriation et l’intégration de ces données afin d’apporter l’information au plus près des citoyens.</p>
</section>
<section class="fr-container">
    <h2>Comment contribuer au développement de nos outils ?</h2>
    <p>
        Pour contribuer à la conception et au développement de nos outils, rien de plus simple, <a
            href="{% url 'qfdmd:assistant-survey-form' %}"
            title="Enquête, formulaire- Nouvelle fenêtre"
            target="_blank"
            rel="noreferrer"
        >
           à notre enquête
        </a> et renseignez votre adresse e-mail à la fin si vous le souhaitez, notre équipe vous recontactera pour vous présenter les dernières avancées et vous faire participer à des sessions de tests et de découvertes des fonctionnalités à venir ! Ce sera aussi l'occasion pour vous de nous faire part de vos retours d'expériences sur l'utilisation de nos outils. Votre participation est importante pour s'assurer que nous développons un outil pertinent et efficace pour vos besoins.
    </p>
</section>
