{% load static %}
<section class="fr-container">
    <h2>Comment réduire vos déchets ?</h2>
    <p>Retrouvez tous les conseils de l’ADEME sur le site <a
        href="https://agirpourlatransition.ademe.fr/particuliers/maison/dechets"
        title="Agir pour la transitionNos gestes climat - Nouvelle fenêtre"
        target="_blank"
        rel="noreferrer"
    >
        Agir pour la transition.
    </a>
        Si vous souhaitez aller plus loin dans votre démarche, vous pouvez calculer votre empreinte écologique avec
        <a
            href="https://nosgestesclimat.fr"
            title="Nos gestes climat - Nouvelle fenêtre"
            target="_blank"
            rel="noreferrer"
        >
            Nos Gestes Climat
        </a>.
    </p>
</section>
<section class="fr-container">
    <h2>D'où viennent nos données ?</h2>
    <p>
        Cet outil utilise les données agrégées par l'ADEME, il s'agit de données à l'échelle nationale.
    </p>
</section>
<section class="fr-container">
    <h2>
        Comment intégrer cet outil à votre site ou application ?</h2>

    <p>Cliquez sur le bouton "</> Intégrer" et copiez/collez le code proposé dans votre site Internet.
    Vous souhaitez réutiliser le code de cet outil ? Il est développé de manière ouverte (open source), le code est 
    <a
        href="https://github.com/incubateur-ademe/quefairedemesdechets"
        title="Dépôt de code GitHub - Nouvelle fenêtre"
        target="_blank"
        rel="noreferrer"
    >
        disponible librement
    </a>.
    </p>
</section>
<section class="fr-container">
    <h2>Comment contribuer au développement de cet outil ?</h2>
    <p>
        Vous pouvez répondre <a
            href="{% url 'qfdmd:assistant-survey-form' %}"
            title="Enquête, formulaire- Nouvelle fenêtre"
            target="_blank"
            rel="noreferrer"
        >
           à notre enquête
        </a>. Votre participation est importante pour s'assurer que nous développons un outil pertinent et répondant à vos besoins.
    </p>
</section>
