{% extends "dsfr/footer.html" %}
{% load menu_tags wagtail_cache %}

{% block footer_top %}
<div class="fr-footer__top">
    <div class="fr-container">
    {% if request %}
        {% wagtailcache 3600 "footer-top" %}
            {% flat_menu show_menu_heading=True handle="surfooter_assistant" template="ui/components/footer/footer-top-menu.html" %}
        {% endwagtailcache %}
    {% endif %}
    </div>
</div>
{% endblock footer_top %}

{% block footer_links %}
{% if request %}
{% wagtailcache 3600 "footer-links" %}
{% flat_menu handle="footer_assistant" template="ui/components/footer/footer-menu.html" %}
{% endwagtailcache %}
{% endif %}

{% endblock footer_links %}
{% load static %}
