{% extends base_template %}

{% block content %}
<div class="fr-container qf-py-2w">
    <turbo-frame id="acteur-detail">
        <article>
            <header class="qf-mb-2w">
                {% if object.labels_display %}
                    {% include "qfdmo/acteur/_labels.html" %}
                {% endif %}

                <h2 class="qf-text-lg qf-m-0 qf-max-w-[90%]" data-testid="acteur-title">{{ object.libelle|title }}</h2>
                <p class="qf-text-sm qf-m-0">
                    {{ object.acteur_services_display }} {{ distance }}
                </p>

                {% include "qfdmo/acteur/tabs/_separator.html" %}
                {% include "qfdmo/acteur/_actions.html" %}
            </header>
            {% include "qfdmo/acteur/_tabs.html" %}
        </article>
    </turbo-frame>
</div>
{% endblock content %}
