{% extends base_template %}

{% block content %}
<div class="fr-container">
  <div class="sm:qfdmo-w-[480] qfdmo-bg-white fr-mt-2w">
    <turbo-frame id="acteur-detail">
        <article>
        <header>
            <h2 class="qfdmo-text-lg qfdmo-m-0">{{ object.nom }}</h2>
            <p class="qfdmo-text-sm">
                {{ object.acteur_services_display }} {{ distance }}
            </p>

            {% with content="Cet établissement dispose de plusieurs labels",icon="fr-icon-shield-check-line" %}
                {% include "qfdmo/acteur/_tag.html" %}
            {% endwith %}

            {% for label in self.labels_display %}
                {% if label.bonus %}
                    {% include "qfdmo/acteur/labels/bonus.html" %}
                {% else %}
                    {% include "qfdmo/acteur/labels/generic.html" %}
                {% endif %}
            {% endfor %}

            <hr class="qfdmo-my-2w">
        </header>
        <div></div>
        </article>

    </turbo-frame>
  </div>
</div>
{% endblock content %}
