<div>
    <div class="fr-mb-1w">
        {% for action in acteur.acteur_actions(direction=direction) %}
            <p class="fr-badge fr-badge--sm  qfdmo-bg-{{action.couleur}} qfdmo-bg-opacity-30 fr-my-0">
                {% if action.icon %}
                    <span class="{{action.icon}}" aria-hidden="true"></span>&nbsp;
                {% endif %}
                {{action.nom_affiche}}
            </p>
        {% endfor %}
    </div>
    <div class="qfdmo-flex qfdmo-flex-row qfdmo-justify-start qfdmo-items-center fr-mb-1w">
        {% if acteur.label_reparacteur %}
            <img
                src="{{ static('reparacteurs_small.png') }}"
                alt="Repar'Acteur"
                class="fr-mr-1w"
                width=32
                height=32
                data-fr-opened="false"
                aria-controls="fr-modal-reparacteur"
            >
        {% endif %}
        <h3 class='fr-mb-0'>
            {{ acteur.nom_affiche|title }}
        </h3>
    </div>
    {% if acteur.url and acteur.url != '__nourl__'%}
        <p class="qfdmo-text-sm fr-mb-2w fr-mt-0">
            <a href="{{ acteur.url }}" target="_blank">{{ acteur.url }}</a>
        </p>
    {% endif %}
    <p class="qfdmo-text-sm fr-mb-2w fr-mt-0">
        {% for acteur_service in acteur.acteur_services() %}
            {{ acteur_service }}{% if not loop.last %}<br>{% endif %}
        {% endfor %}
    </p>
    {% if not acteur.is_digital %}
        <p class="qfdmo-text-sm fr-mb-2w fr-mt-0">
            {{ acteur.adresse|title }}<br>
            {% if acteur.adresse_complement %}
                {{ acteur.adresse_complement|title }}<br>
            {% endif %}
            {{ acteur.code_postal }} {{ acteur.ville|title }}
            {% if acteur.telephone %}
                <br> {{ acteur.telephone }}
            {% endif %}
        </p>
    {% endif %}
    <p class="qfdmo-text-sm fr-mb-2w fr-mt-0">
        <a class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-question-mark qfdmo-text-sm"
            href="https://tally.so/r/3xMqd9?Nom={{acteur.nom}}&Ville={{acteur.ville}}"
            target="_blank"
        >
            Proposer une modification
        </a>
    </p>
</div>
