{% extends 'layout/base.html' %}

{% block content %}

    <turbo-frame id="turboForm">
        <!-- Controleur général de gestion de la navigation et du formulaire -->


        <form data-controller="search-solution-form" id='search_form'
            data-search-solution-form-target="searchForm"
            data-search-solution-form-is-iframe-value="{{ is_embedded(request) }}"
            data-turbo-frame="addressesPanel"
            class="fr-container
            qfdmo-min-h-[700px] qfdmo-max-h-[800px]{%if is_embedded(request) %} qfdmo-h-screen{% else %} qfdmo-h-svh{% endif %}
            qfdmo-flex qfdmo-flex-col qfdmo-flex-auto
            qfdmo-relative"
            data-action="
            map:displayDetails->search-solution-form#displayDetails
            map:searchInZone->search-solution-form#updateSearchInZone
            map:setSrcDetailsAddress->search-solution-form#setSrcDetailsAddress
            ss-cat-object-autocomplete:optionSelected->search-solution-form#checkSsCatObjetErrorForm
            address-autocomplete:optionSelected->search-solution-form#checkAdresseErrorForm
            "
            >
            {% if is_carte(request) %}
                <div class="qfdmo-flex qfdmo-flex-col md:qfdmo-flex-row md:qfdmo-items-center">
                    <div class="qfdmo-items-center qfdmo-hidden md:qfdmo-flex qfdmo-flex-row">
                        {% include 'layout/_partials/header_logos.html' %}
                    </div>


                    {% include "qfdmo/partials/featureflip_inputs.html" %}

                    <!-- Recherche adresse -->
                    <div class="fr-mt-1w qfdmo-flex-grow qfdmo-max-w-[596px] qfdmo-items-center">
                        {% include 'qfdmo/_addresses_partials/adresse_input_form.html' %}
                    </div>

                    <div class="fr-mb-1w md:qfdmo-mt-4w qfdmo-float-right">

                        <button
                            class="fr-btn fr-ml-1w qfdmo-float-right"
                            data-action="click -> search-solution-form#advancedSubmit"
                            type="button"
                            data-without-zone="true"
                            >
                            Rechercher
                        </button>
                        <button
                            class="fr-btn fr-btn--secondary fr-ml-1w fr-btn--icon-left fr-icon-equalizer-line qfdmo-float-right"
                            type="button"
                            data-action="click -> search-solution-form#toggleAdvancedFiltersWithSubmitButton"
                            >
                            Filtres
                        </button>
                    </div>
                </div>
                <turbo-frame id="addressesPanel"
                    data-search-solution-form-target="addressesPanel"
                    class="qfdmo-relative qfdmo-h-0 qfdmo-duration-300 qfdmo-overflow-hidden qfdmo-z-1
                    qfdmo-flex qfdmo-flex-col qfdmo-flex-grow"
                >
                    <!-- Panel «Map» -->
                    {% include 'qfdmo/_addresses_partials/map_and_detail.html' %}
                </turbo-frame>

                <!-- Panel «Filtres avancés»
                TODO : update this panel with filters -->
                {% include 'qfdmo/_addresses_partials/filters/carte_filters.html' %}

            {% else %}
                <!-- Panel «Filtres avancés» -->
                {% include 'qfdmo/_addresses_partials/filters/iframe_advanced_filters.html' %}
                <!-- Panel «Modifier ma recherche» -->
                {% include 'qfdmo/_addresses_partials/iframe_back_to_form.html' %}
                <!-- Panel «Formulaire de recherche» -->
                {% include 'qfdmo/_addresses_partials/iframe_form.html' %}
                <!-- Panel «Résultats de la recherche» -->
                {% include 'qfdmo/_addresses_partials/iframe_result.html' %}
                <!-- Liens de pieds de page pour iframe -->
                {% include 'qfdmo/_addresses_partials/iframe_footer_links.html' %}
            {% endif %}

        </form>
    </turbo-frame>

    {% include 'qfdmo/reparacteur_modale.html' %}
{% endblock %}
