{% extends 'layout/base.html' %}

{% block content %}
    {# Controleur général de gestion de la navigation et du formulaire #}
    <form data-controller="search-solution-form" id='search_form'
        data-search-solution-form-target="searchForm"
        data-search-solution-form-is-iframe-value="{{ is_embedded(request) }}"
        data-turbo-frame="addressesPanel"
        class="
        qfdmo-min-h-[700px] qfdmo-max-h-[800px]{%if is_embedded(request) %} qfdmo-h-screen{% else %} qfdmo-h-svh{% endif %}
        qfdmo-flex qfdmo-flex-col qfdmo-flex-auto
        qfdmo-relative"
        data-action="
        map:displayDetails->search-solution-form#displayDetails
        map:updateBbox->search-solution-form#updateBboxInput
        map:setSrcDetailsAddress->search-solution-form#setSrcDetailsAddress
        ss-cat-object-autocomplete:optionSelected->search-solution-form#checkSsCatObjetErrorForm
        address-autocomplete:optionSelected->search-solution-form#checkAdresseErrorForm
        address-autocomplete:formSubmit->search-solution-form#advancedSubmit
        ss-cat-object-autocomplete:formSubmit->search-solution-form#advancedSubmit
        "
        >
        {% with form=advanced_filters_form %}
            {{ advanced_filters_form.errors }}
            {% include "qfdmo/forms/advanced_filters.html" %}
        {% endwith %}

        {{ form.errors }}
        {# Panel «Modifier ma recherche» #}
        {% include 'qfdmo/_addresses_partials/iframe_back_to_form.html' %}

        {# Panel «Formulaire de recherche» #}
        {{ form }}

        {% include 'qfdmo/_addresses_partials/iframe_footer_links.html' %}
        <div class="fr-my-1w qfdmo-w-full qfdmo-flex qfdmo-flex-col sm:qfdmo-max-w-[604px] qfdmo-mx-auto">
            {# Advanced filters #}
            <button
                class="fr-my-1w qfdmo-w-full sm:qfdmo-w-fit fr-btn fr-btn--tertiary-no-outline qfdmo-flex qfdmo-justify-center sm:qfdmo-text-left"
                type="button"
                data-action="click -> search-solution-form#toggleAdvancedFiltersWithoutSubmitButton"
                >
                Filtres avancés
            </button>

            <button
                class="fr-btn qfdmo-whitespace-nowrap qfdmo-float-left qfdmo-w-full sm:qfdmo-w-max qfdmo-flex qfdmo-justify-center"
                type="submit"
                data-with-controls="true"
                data-without-zone="true"
                data-with-dynamic-form-panel="true"
            >
                Rechercher des adresses
            </button>
        </div>
    </form>

    {% include 'qfdmo/reparacteur_modale.html' %}
{% endblock %}
