{% extends 'layout/base.html' %}

{% block content %}

    <turbo-frame id="turboForm">
        {# Controleur général de gestion de la navigation et du formulaire #}


        <form data-controller="search-solution-form" id='search_form'
            data-search-solution-form-target="searchForm"
            data-search-solution-form-is-iframe-value="{{ is_embedded(request) }}"
            data-turbo-frame="addressesPanel"
            class="
            {% if not is_carte(request) %}qfdmo-min-h-[700px] {% endif %}qfdmo-max-h-[800px]{%if is_embedded(request) %} qfdmo-h-screen{% else %} qfdmo-h-svh{% endif %}
            qfdmo-flex qfdmo-flex-col qfdmo-flex-auto
            qfdmo-relative"
            data-action="
            map:displayDetails->search-solution-form#displayDetails
            map:updateBbox->search-solution-form#updateBboxInput
            map:setSrcDetailsAddress->search-solution-form#setSrcDetailsAddress
            ss-cat-object-autocomplete:optionSelected->search-solution-form#checkSsCatObjetErrorForm
            address-autocomplete:optionSelected->search-solution-form#checkAdresseErrorForm
            address-autocomplete:formSubmit->search-solution-form#advancedSubmit
            ss-cat-object-autocomplete:formSubmit->search-solution-form#advancedSubmit
            "
            >
            {% include "qfdmo/partials/featureflip_inputs.html" %}
            {% if is_carte(request) %}

                {# Panel Header #}
                {% include 'qfdmo/_addresses_partials/carte_header.html' %}
                {# Panel Result #}
                {% include 'qfdmo/_addresses_partials/carte_result.html' %}
                {# Panel «Filtres» #}
                {% include 'qfdmo/_addresses_partials/filters/carte_filters.html' %}
                {# Panel «Legend» #}
                {% include 'qfdmo/_addresses_partials/filters/carte_legend.html' %}
                {# Panel À propos #}
                {% include 'qfdmo/_addresses_partials/filters/carte_apropos.html' %}

            {% else %}
                {# Panel «Filtres avancés» #}
                {% include 'qfdmo/_addresses_partials/filters/iframe_advanced_filters.html' %}
                {# Panel «Modifier ma recherche» #}
                {% include 'qfdmo/_addresses_partials/iframe_back_to_form.html' %}
                {# Panel «Formulaire de recherche» #}
                {% include 'qfdmo/_addresses_partials/iframe_form.html' %}
                {# Panel «Résultats de la recherche» #}
                {% include 'qfdmo/_addresses_partials/iframe_result.html' %}
                {# Liens de pieds de page pour iframe #}
                {% include 'qfdmo/_addresses_partials/iframe_footer_links.html' %}
            {% endif %}

        </form>
    </turbo-frame>
{% endblock %}
