{% extends 'layout/base.html' %}

{% block content %}
    <div class="qfdmo-content-center">
        <h1>Analyse de la base de données LVAO</h1>
        <a href="{{ reverse('qfdmo:analyse') }}">retour à la page d'analyse</a>

        <h2>{{ acteur_reemploi.nom }} ({{ acteur_reemploi.identifiant_unique }})</h2>
        <p>Nb occurences : {{ acteur_reemploi_revisions.count() }}</p>


        <div class="fr-table">
            <table>
                <caption>Diff de révision</caption>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        {% for acteur_reemploi_revision in acteur_reemploi_revisions %}
                            <th scope="col">{{ acteur_reemploi_revision.lvao_revision_id }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Nom<br>
                            siret<br>
                            Nom commercial<br>
                            Raison social
                        </td>
                        {% for acteur_reemploi_revision in acteur_reemploi_revisions %}
                            <td scope="col">
                                {{ acteur_reemploi_revision.nom }}<br>
                                {{ acteur_reemploi_revision.siret }}<br>
                                {{ acteur_reemploi_revision.nom_commercial }}<br>
                                {{ acteur_reemploi_revision.nom_officiel }}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Adresse</td>
                        {% for acteur_reemploi_revision in acteur_reemploi_revisions %}
                            <td scope="col">
                                {{ acteur_reemploi_revision.adresse }}<br>
                                {{ acteur_reemploi_revision.adresse_complement }}<br>
                                {{ acteur_reemploi_revision.code_postal }} {{ acteur_reemploi_revision.ville }}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>latitude / longitude</td>
                        {% for acteur_reemploi_revision in acteur_reemploi_revisions %}
                            <td scope="col">
                                lat {{ acteur_reemploi_revision.latitude }}<br>
                                long {{ acteur_reemploi_revision.longitude }}<br>
                                <a href="https://maps.google.com/maps?z=12&t=m&q=loc:{{ acteur_reemploi_revision.latitude }}+{{ acteur_reemploi_revision.longitude }}" target='blank'>GMap</a>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Action</td>
                        {% for acteur_reemploi_revision in acteur_reemploi_revisions %}
                            <td scope="col">
                                {% for action in acteur_reemploi_revision.actions.all() %}
                                    {{ action }}<br>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Categories / Sous-categories</td>
                        {% for acteur_reemploi_revision in acteur_reemploi_revisions %}
                            <td scope="col">
                                {% for sous_categories in acteur_reemploi_revision.sous_categories.all() %}
                                    {{ sous_categories.categorie }} / {{ sous_categories }}<br>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Type d'entité</td>
                        {% for acteur_reemploi_revision in acteur_reemploi_revisions %}
                            <td scope="col">{{ acteur_reemploi_revision.entite_type }} </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>identifiant externe</td>
                        {% for acteur_reemploi_revision in acteur_reemploi_revisions %}
                            <td scope="col">
                                {{ acteur_reemploi_revision.identifiant_externe }}<br>
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
