{% extends "qfdmo/shared/_layout.html" %}

{% block content_header %}
    {# Panel Header #}
    {# TODO: refacto turbo, should be moved outside of form #}
    {% include 'qfdmo/carte/header.html' %}
{% endblock content_header %}

{% block result %}
    {# Panel Result #}
    {% include 'qfdmo/carte/result.html' %}
{% endblock result %}

{% block everything_else %}
    {# Panel «Filtres» #}
    {% include 'qfdmo/carte/modals/filters.html' %}

    {# Panel «Legend» #}
    {# TODO: refacto turbo, should be moved outside of form #}
    {% include 'qfdmo/carte/panels/legend_mobile.html' %}

    {# Panel À propos #}

    {# TODO: refacto turbo, should be moved outside of form #}
    {% include 'qfdmo/carte/modals/a_propos.html' %}

    {{ form.epci_codes }}
{% endblock everything_else %}
