{% extends "qfdmo/shared/_main.html" %}

{% block header_classes %}
max-md:qfdmo-sticky qfdmo-top-0 qfdmo-left-0 qfdmo-right-0
{% endblock header_classes %}

{% block content_header %}
    {# Panel Header #}
    {# TODO: refacto turbo, should be moved outside of form #}
    {% include 'qfdmo/carte/header.html' %}
{% endblock content_header %}

{% block form_controller_data_actions %}address-autocomplete:optionSelected->search-solution-form#advancedSubmit{% endblock form_controller_data_actions %}

{% block main_classes %}
{#
We need to set a size on the map to help Leaflet size its content.
We do not want the map to be bigger than the height of its container
fdmo-top-[120px]
The values of 120px is determined empirically.
They need to match the css variables used for .grid-map selector in qfdmo.css
#}
qfdmo-top-[120px]
max-md:qfdmo-h-[calc(100vh_-_120px)]
{% endblock main_classes %}

{% block everything_else %}
    {# Panel «Legend» #}
    {# TODO: refacto turbo, should be moved outside of form #}
    {% include 'qfdmo/carte/panels/legend_mobile.html' %}
{% endblock everything_else %}

{% block content_modals %}
{# Panel «Filtres» #}
{% include 'qfdmo/carte/modals/filters.html' %}

{# Panel À propos #}
{# TODO: refacto turbo, should be moved outside of form #}
{% include 'qfdmo/carte/modals/a_propos.html' %}
{% endblock content_modals %}

{% block form %}
    {{ super() }}
    {{ form.epci_codes }}
{% endblock form %}
