{% extends base_template %}

 {% block content %}
     <turbo-frame id="turboForm">
         {# Controleur général de gestion de la navigation et du formulaire #}

         <form
            {% include "qfdmo/shared/_search_form_data-attributes.html" %}
            class="
                    qfdmo-max-h-[800px]{%if is_embedded(request) %} qfdmo-h-screen{% else %} qfdmo-h-svh{% endif %}
                    qfdmo-flex qfdmo-flex-col qfdmo-flex-auto
                    qfdmo-relative qfdmo-overflow-hidden"
         >
             {% include "qfdmo/partials/featureflip_inputs.html" %}

             {# Panel Header #}
             {# TODO: refacto turbo, should be moved outside of form #}
             {% include 'qfdmo/carte/_header.html' %}

             {# Panel Result #}
             {% include 'qfdmo/carte/_result.html' %}

             {# Panel «Filtres» #}
             {% include 'qfdmo/carte/_filters.html' %}

             {# Panel «Legend» #}
             {# TODO: refacto turbo, should be moved outside of form #}
             {% include 'qfdmo/carte/_legend_mobile.html' %}

             {# Panel À propos #}

             {# TODO: refacto turbo, should be moved outside of form #}
             {% include 'qfdmo/carte/_a_propos.html' %}

             {{ form.epci_codes }}
         </form>
     </turbo-frame>

     {% include 'qfdmo/reparacteur_modale.html' %}
 {% endblock %}
