{% extends 'layout/base.html' %}

{% block content %}
    <h1>Corrections</h1>
    <div class="fr-table">
        <table>
            <caption>Résumé du tableau (accessibilité)</caption>
            <thead>
                <tr>
                    <th scope="col">Acteur de l'économie solidaire</th>
                    <th scope="col">Actuellement</th>
                    <th scope="col">Correction proposée</th>
                    <th scope="col">Diff</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for correction in corrections %}
                    <tr>
                        <td>
                            {{ correction.final_acteur }}
                        </td>
                        <td>
                            SIRET : {{ correction.final_acteur.siret }}<br>
                        </td>
                        <td>
                            SIRET : {{ correction.siret }}<br>
                        </td>
                        <td>
                            SIRET : {{ str_diff(correction.siret, correction.final_acteur.siret)|safe }}<br>
                        </td>
                        <td>
                            <ul class="fr-btns-group fr-btns-group--inline-sm">
                                <li>
                                    <button type="button" class="fr-btn fr-icon-checkbox-circle-line" title="Valider la correction">
                                        Valider la correction
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="fr-btn fr-icon-error-line qfdmo-bg-red-500" title="Refuser la correction">
                                        Refuser la correction
                                    </button>
                                </li>
                                <li>
                                    Les actions des boutons restent à implémenter
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
