{% extends 'layout/base.html' %}

{% block content %}
    <div class="fr-container">
        <h1>Corrections</h1>
        <ul class="qfdmo-list-none qfdmo-flex qfdmo-flex-wrap">
            <li class="fr-ml-1w">
                <a class="fr-btn{% if source != 'INSEE' %} fr-btn--secondary{% endif %}" href="{{ reverse('qfdmo:display_corrections') }}?source=INSEE">INSEE</a>
            </li>
            <li class="fr-ml-1w">
                <a class="fr-btn{% if source != 'URL_SCRIPT' %} fr-btn--secondary{% endif %}" href="{{ reverse('qfdmo:display_corrections') }}?source=URL_SCRIPT">URL</a>
            </li>
        </ul>
        <!-- action pour valider tous les choix -->
        <form action="" method='POST'>
            {{ form }}
            {{ csrf_input }}
            <div class="fr-table">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Acteur de l'économie solidaire</th>
                            <th scope="col">Diff</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for correction in corrections %}
                            {% if source == 'URL_SCRIPT' %}
                                {% include 'qfdmo/corrections/url_row.html' %}
                            {% elif source == 'INSEE' %}
                                {% include 'qfdmo/corrections/insee_row.html' %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button class='fr-btn fr-mb-3w'>
                Valider tous les choix ci-dessus
            </button>
        </form>
    </div>
{% endblock %}
