{% if dagrun_lines|length > 0 and dagrun_lines[0].change_type == 'CREATE' %}
    <thead>

        <tr>
            <th scope="col">change_type</th>
            <th scope="col">meta_data</th>
            <th scope="col">Acteur</th>
            <th scope="col">Proposition de service</th>
            <th scope="col">row_updates</th>
        </tr>

    </thead>
    <tbody>
        {% for dagrun_line in dagrun_lines if dagrun_line.change_type == 'CREATE'  %}
            <tr>
                <td>{{ dagrun_line.get_change_type_display() }}</td>
                <td>{{ dagrun_line.meta_data if dagrun_line.meta_data else "-" }}</td>
                <td>
                    {% for key, value in dagrun_line.display_acteur_details().items() %}
                        <p><strong>{{ key }}</strong> : {{ value }}</p>
                    {% endfor %}
                </td>
                <td>
                    <table>
                        <tr>
                            <th>Action</th>
                            <th>Sous-Catégories</th>
                        </tr>
                        {% for service in dagrun_line.display_proposition_service() %}
                            <tr>
                                <td>{{ service.action }}</td>
                                <td>
                                    <ul>
                                        {% for sous_cat in service.pds_sous_categories %}
                                            <li>{{ sous_cat.souscategorie }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <details>
                        <summary>Données brutes</summary>
                        <pre class="qf-text-wrap">{{ dagrun_line.row_updates }}</pre>
                    </details>
                </td>
            </tr>
        {% endfor %}
    </tbody>

{% endif %}
