{% extends 'layout/base.html' %}

{% block content %}

    <div class="fr-m-3w">
        <h1>Interface déprécier</h1>

        La nouvelle interface est disponible à l'adresse suivante : <a href="{{ url('data:suggestions') }}">/data/suggestions</a>
        <h2>Validations des «DAGs»</h2>

        <p>
            Cette page permet de valider les données des «DAGs».
        </p>

        <form>
            {{ csrf_input }}
            {{ form }}
            <div class="fr-my-3w">
                <button type="submit" class="fr-btn" method='GET'>Afficher le résumé du dag</button>
            </div>

            {% if dagrun_instance %}
                <h2>Instance du DAG : {{ dagrun_instance }}</h2>
                <h3>Meta données</h3>
                {% for (meta_title, meta_data) in dagrun_instance.display_meta_data().items() %}
                    <p><strong>{{ meta_title }}</strong> : {{meta_data}}</p>
                {% endfor %}
                <details>
                    <summary>meta_data brutes</summary>
                    <pre class="qf-text-wrap">{{ dagrun_instance.meta_data }}</pre>
                </details>
                <h3>Exemples</h3>

                <div class="fr-table">
                    <table>
                        <caption>Résumé du tableau (accessibilité)</caption>
                        {% include 'qfdmo/update_actor_event.html' %}
                        {% include 'qfdmo/create_actor_event.html' %}

                    </table>
                </div>
                <div class="fr-my-3w">
                    <button type="submit" class="fr-btn" name='dag_valid' value='1' formmethod='POST'>Valider les modifications</button>
                    <button type="submit" class="fr-btn fr-btn--secondary" name='dag_valid' value='0' formmethod='POST'>Refuser</button>
                </div>
            {% endif %}
        </form>

    </div>

{% endblock %}
