{% extends 'layout/base.html' %}

 {% block content %}
     <turbo-frame id="turboForm">
         {# Controleur général de gestion de la navigation et du formulaire #}

         <form data-controller="search-solution-form" id='search_form'
               data-search-solution-form-target="searchForm"
               data-search-solution-form-is-iframe-value="{{ is_embedded(request) }}"
               data-turbo-frame="addressesPanel"
               class="
                      qfdmo-min-h-[700px] qfdmo-max-h-[800px]{%if is_embedded(request) %} qfdmo-h-screen{% else %} qfdmo-h-svh{% endif %}
                      qfdmo-flex qfdmo-flex-col qfdmo-flex-auto
                      qfdmo-relative qfdmo-overflow-hidden"
               data-action="
                            map:displayDetails->search-solution-form#displayDetails
                            map:updateBbox->search-solution-form#updateBboxInput
                            map:setSrcDetailsAddress->search-solution-form#setSrcDetailsAddress
                            ss-cat-object-autocomplete:optionSelected->search-solution-form#checkSsCatObjetErrorForm
                            address-autocomplete:optionSelected->search-solution-form#checkAdresseErrorForm
                            address-autocomplete:formSubmit->search-solution-form#advancedSubmit
                            ss-cat-object-autocomplete:formSubmit->search-solution-form#advancedSubmit
                           "
         >
             {% include "qfdmo/partials/featureflip_inputs.html" %}
             {# Ici on on a tout préfixé de iframe, mais en fait il aurait fallu préfixer de formulaire. Car la carte peut être dans une iframe, non ? #}
             {# Panel «Filtres avancés» #}
             {% include 'qfdmo/formulaire/_filters.html' %}
             {# Panel «Modifier ma recherche» #}
             {% include 'qfdmo/formulaire/_back_to_form.html' %}
             {# Panel «Formulaire de recherche» #}
             {% include 'qfdmo/formulaire/_iframe_form.html' %}
             {# Panel «Résultats de la recherche» #}
             {% include 'qfdmo/carte/_result.html' %}
             {# Liens de pieds de page pour iframe #}
             {% include 'qfdmo/_addresses_partials/iframe_footer_links.html' %}
         </form>
     </turbo-frame>

     {% include 'qfdmo/reparacteur_modale.html' %}
 {% endblock %}
