{% extends "qfdmo/shared/main.html" %}

{% block header_classes %}
qf-z-0 {# The header in Formulaire needs to be under the main tag #}
{% endblock header_classes %}

{% block form_header %}
    {# Panel Filtres avancés et modifier ma recherche #}
    {% include 'qfdmo/formulaire/header.html' %}
{% endblock form_header %}

{% block form_modals %}
    {# Panel «Formulaire de recherche» #}
    {% include 'qfdmo/formulaire/search_form.html' %}

    {# Panel «Filtres avancés» #}
    {% include 'qfdmo/formulaire/modals/advanced_filters.html' %}
{% endblock form_modals %}

{% block content_footer %}
    <div
        class="qf-px-2w sm:qf-px-0 qf-duration-300 sm:qf-h-fit sm:qf-mr-1w qf-flex qf-flex-row-reverse
        group-data-[search-form-visible]:qf-hidden"
    >
        <a class="fr-my-1w fr-btn fr-btn--tertiary qf-whitespace-nowrap qf-w-full sm:qf-w-max qf-flex qf-justify-center"
            href="{{ url('qfdmo:address-suggestion-form') }}"
            target="_blank"
            rel="noreferrer"
            aria-label="Proposer une adresse - Nouvelle fenêtre"
            data-testid="formulaire-proposer-une-adresse"
        >
            Proposer une adresse
        </a>
    </div>
    {# Liens de pieds de page pour iframe #}
    {% include 'qfdmo/_addresses_partials/iframe_footer_links.html' %}
{% endblock content_footer %}
