{% extends 'layout/base.html' %}

{% block content %}
    <div class="fr-container fr-my-3w">
        <form action='#iframe_view'>
            <h1>Configurateur d'Iframe</h1>
            <fieldset class="fr-segmented fr-segmented--sm qfdmo-w-full fr-mt-3w">
                <legend class="fr-segmented__legend">
                    {{ form.iframe_mode.label }}
                </legend>
                {{ form.iframe_mode }}
            </fieldset>
            <hr class="fr-my-1w">

            <div class="fr-grid-row">
                <div class="fr-col-12 fr-col-lg-6">
                    <fieldset class="fr-segmented fr-segmented--sm">
                        <legend class="fr-segmented__legend">
                            {{ form.direction.label }}
                        </legend>
                        {{ form.direction }}
                    </fieldset>
                </div>
                <div class="fr-col-12 fr-col-lg-6">
                    <fieldset class="fr-segmented fr-segmented--sm">
                        <legend class="fr-segmented__legend">
                            {{ form.first_dir.label }}
                            <span class="qfdmo-italic">{{ form.first_dir.help_text }}</span>
                        </legend>
                        {{ form.first_dir }}
                    </fieldset>
                </div>
            </div>
            <hr class="fr-my-1w">

            <p>
                <details>
                    <summary>
                        {{ form.action_displayed.label_tag() }}
                        {% if not form.initial.action_displayed %}
                            <br><span class="qfdmo-italic">Toutes les actions sont disponibles</span>
                        {% endif %}
                    </summary>
                    <span class="qfdmo-italic">{{ form.action_displayed.help_text }}</span>
                    {{ form.action_displayed }}
                </details>
            </p>
            <hr class="fr-my-1w">

            <p>
                <details>
                    <summary>
                        {{ form.action_list.label_tag() }}
                        {% if not form.initial.action_list %}
                            <br><span class="qfdmo-italic">Toutes les actions disponibles sont cochées</span>
                        {% endif %}
                    </summary>
                    <span class="qfdmo-italic">{{ form.action_list.help_text }}</span>
                    {{ form.action_list }}
                </details>
            </p>
            <hr class="fr-my-1w">

            <div class="fr-grid-row">
                <div class="fr-col-12 fr-col-lg-6 fr-pr-2w">
                    <p>
                        {{ form.max_width.label_tag() }}
                        <span class="qfdmo-italic">{{ form.max_width.help_text }}</span>
                        {{ form.max_width }}
                    </p>
                </div>
                <div class="fr-col-12 fr-col-lg-6 fr-pr-2w">
                    <p>
                        {{ form.height.label_tag() }}
                        <span class="qfdmo-italic">{{ form.height.help_text }}</span>
                        {{ form.height }}
                    </p>
                </div>
            </div>
            <hr class="fr-my-1w">

            {{ form.limit.label_tag() }}
            <span class="qfdmo-italic">{{ form.limit.help_text }}</span>
            {{ form.limit }}
            <hr class="fr-my-1w">

            {{ form.address_placeholder.label_tag() }}
            <span class="qfdmo-italic">{{ form.address_placeholder.help_text }}</span>
            {{ form.address_placeholder }}
            <hr class="fr-my-1w">

            <p>
                {{ form.iframe_attributes.label_tag() }}
                <span class="qfdmo-italic">{{ form.iframe_attributes.help_text }}</span>
                {{ form.iframe_attributes }}
            </p>
            <hr class="fr-my-1w">

            <p>
                {{ form.bounding_box.label_tag() }}
                <span class="qfdmo-italic">{{ form.bounding_box.help_text }}</span>
                {{ form.bounding_box }}
            </p>


            <button class="fr-btn fr-my-3w">
                Visualiser l'iframe
            </button>
        </form>
        <h2 id='iframe_view'>Visualisation de l'Iframe</h2>
        <pre class="qfdmo-w-full qfdmo-whitespace-pre-wrap" style="white-space: pre-wrap;">
            {{iframe_script}}
        </pre>
        {{ iframe_script|safe }}

    </div>
{% endblock %}
