{% extends 'layout/base.html' %}

{% block content %}
    <div>
        <form class="fr-my-3w" id='search_form'>
            {% include "qfdmo/partials/iframe_input.html" %}
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-md-3">
                    {{ form.direction }}
                </div>
                {% if request.GET.get("geste",None) %}
                    <input type="hidden" name="geste" id="geste" value=1>

                    <script>
                        function handleChange(src) {
                            var value = src.value;
                            var jecherche = document.getElementById("jecherche");
                            var jai = document.getElementById("jai");
                            if (value === "jai") {
                                jai.style.display = "block";
                                jecherche.style.display = "none";
                            } else {
                                jai.style.display = "none";
                                jecherche.style.display = "block";
                            }
                        }
                    </script>
                    <div class="fr-col-12 fr-col-md-9">
                        <div id="jecherche" style="display:none;">
                            <button type="button" class="fr-tag qfdmo-m-1v" aria-pressed="true">emprunter</button>
                            <button type="button" class="fr-tag qfdmo-m-1v" aria-pressed="true">louer</button>
                            <button type="button" class="fr-tag qfdmo-m-1v" aria-pressed="true">acheter d'occasion</button>
                            <button type="button" class="fr-tag qfdmo-m-1v" aria-pressed="true">échanger</button>
                        </div>

                        <div id="jai">
                            <button type="button" class="fr-tag qfdmo-m-1v" aria-pressed="true">revendre</button>
                            <button type="button" class="fr-tag qfdmo-m-1v" aria-pressed="true">donner</button>
                            <button type="button" class="fr-tag qfdmo-m-1v" aria-pressed="true">prêter</button>
                            <button type="button" class="fr-tag qfdmo-m-1v" aria-pressed="true">échanger</button>
                            <button type="button" class="fr-tag qfdmo-m-1v" title="mettre en location" aria-pressed="true">louer</button>
                            <button type="button" class="fr-tag qfdmo-m-1v" aria-pressed="true">réparer</button>
                        </div>
                    </div>
                {% endif %}
            </div>
            {{ form.sous_categorie_objet }}
            {{ form.adresse }}
        </form>
        <div
            class="fr-mb-3w"
            data-controller="map"
            data-map-location-value="{{ location }}"
            data-map-economiecirculaireacteurs-value="{{ economiecirculaireacteurs }}"
        >
            <div id="map" data-map-target="map"></div>
            {% for economie_circulaire_acteur in economie_circulaire_acteurs %}
                <script type="application/json" data-map-target="economiecirculaireacteur">
                    {{ economie_circulaire_acteur.serialize(format='json') | safe }}
                </script>
            {% endfor %}
        </div>
    </div>
{% endblock %}
