<thead>
    {% if dagrun_lines|length > 0 and dagrun_lines[0].change_type == 'UPDATE_ACTOR' %}

        <tr>
            <th scope="col">change_type</th>
            <th scope="col">meta_data</th>
            <th scope="col">Identifiant Unique</th>
            <th scope="col">Candidats</th>
            <th scope="col">row_updates</th>
        </tr>
    {% endif %}

</thead>
<tbody>
    {% for dagrun_line in dagrun_lines if dagrun_line.change_type == 'UPDATE_ACTOR' %}
        <tr>
            <td>{{ dagrun_line.get_change_type_display() }}</td>
            <td>{{ dagrun_line.meta_data if dagrun_line.meta_data else "-" }}</td>
            <td>
                <a href="{{ dagrun_line.row_updates.admin_link }}">{{ dagrun_line.display_acteur_details().identifiant_unique
                    }}</a>
            </td>
            <td>
                <table>
                    <tr>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Code Naf</th>
                        <th>Siret</th>
                        <th>Etat</th>
                        <th>Nombre etablissements ouverts</th>
                        <th>Est Siège</th>
                        <th>latitude</th>
                        <th>longitude</th>



                    </tr>
                    {% for candidat in dagrun_line.row_updates.ae_result  %}
                        <tr>
                            <td>{{ candidat.nom_candidat }}</td>
                            <td>{{ candidat.adresse_candidat }}</td>
                            <td>{{ candidat.categorie_naf_candidat }}</td>
                            <td>{{ candidat.siret_candidat }}</td>
                            <td>
                                <turbo-frame id="candidat-{{ candidat.siret_candidat }}-{{loop.index}}">
                                    <form method="post" action="{{ request.path }}">
                                        <input type="hidden" name="siret" value="{{ candidat.siret_candidat }}">
                                        <input type="hidden" name="index" value="{{loop.index}}">
                                        <button type="submit">
                                            {{ candidat.etat_admin_candidat }}
                                        </button>
                                    </form>
                                </turbo-frame>
                            </td>
                            <td>{{ candidat.nombre_etablissements_ouverts }}</td>
                            <td>{{ candidat.siege_flag }}</td>
                            <td>{{ candidat.latitude_candidat }}</td>
                            <td>{{ candidat.longitude_candidat }}</td>

                        </tr>
                    {% endfor %}

                </table>
            </td>
            <td>
                <details>
                    <summary>Données brutes</summary>
                    <pre class="qfdmo-text-wrap">{{ dagrun_line.row_updates }}</pre>
                </details>
            </td>
        </tr>
    {% endfor %}
</tbody>
{% if dagrun_lines.has_other_pages %}
    <form method="get" action="">
        <label for="page-select">Go to page:</label>
        <select id="page-select" class="fr-select" name="page" onchange="this.form.submit()">
            {% for num in dagrun_lines.paginator.page_range %}
                <option value="{{ num }}" {% if dagrun_lines.number== num %}selected{% endif %}>
                    {{ num }}
                </option>
            {% endfor %}
        </select>
        <input type="hidden" name="dagrun" value="{{ request.GET.dagrun }}">
        <noscript>
            <input type="submit" value="Go">
        </noscript>
    </form>
{% endif %}
