{% extends "dsfr/footer.html" %}
{% load menu_tags %}

{% block footer_top %}
<div class="fr-footer__top">
    <div class="fr-container">
    {% if request %}
    {% flat_menu show_menu_heading=True handle="surfooter_assistant" template="ui/components/footer/footer-top-menu.html" %}
    {% endif %}
    </div>
</div>
{% endblock footer_top %}

{% block footer_links %}
{% if request %}
{% flat_menu handle="footer_assistant" template="ui/components/footer/footer-menu.html" %}
{% endif %}

{% endblock footer_links %}
{% load static %}
