{% load dsfr_tags %}
<div class="qf-flex qf-flex-col qf-items-center qf-justify-center qf-gap-1w md:qf-gap-2w qf-mb-2w">
    {% dsfr_link url="https://quefairedemesdechets.ademe.fr" label="En savoir plus sur ce site" is_external=True %}

    <div class="qf-flex qf-gap-2w md:qf-gap-4w">
        {% include "ui/components/footer/combined_logos.html" %}
    </div>

    <div class="qf-flex qf-gap-2w">
        {% include "ui/components/modals/share.html" with button_only=True button_text="Partager" button_extra_classes="fr-btn--secondary fr-btn--icon-left fr-icon-share-line" %}
        {% include "ui/components/modals/embed.html" with button_only=True button_text="Intégrer" button_extra_classes="fr-btn--tertiary fr-btn--icon-left fr-icon-code-s-slash-line" %}
    </div>
</div>
