{% extends "ui/forms/widgets/autocomplete/results.html" %}

{% block results %}
    {% for feature in features %}
        {% include "ui/forms/widgets/autocomplete/adresse_results_item.html" %}
    {% empty %}
        <li
            id="option-geolocation"
            role="option"
            tabindex="-1"
            class="qf-flex qf-flex-row qf-justify-between qf-list-none qf-p-1w qf-bg-white focus:qf-bg-blue-france-sun-113-625 focus:qf-text-white focus-within:qf-bg-blue-france-sun-113-625 focus-within:qf-text-white aria-[selected=true]:qf-bg-blue-france-sun-113-625 aria-[selected=true]:qf-text-white hover:qf-bg-grey-1000-50-hover qf-cursor-pointer"
            data-next-autocomplete-target="option"
            data-controller="geolocation"
            data-action="click->geolocation#requestLocation keydown->next-autocomplete#navigate"
        >
            <span class="qf-flex qf-items-center qf-gap-2w">
                <svg class="qf-w-6 qf-h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                </svg>
                Autour de moi
            </span>
        </li>
    {% endfor %}
{% endblock results %}
