<div
    data-controller="next-autocomplete{% for key, value in wrapper_attrs.items %}{% if key == "data-controller" %} {{ value }}{% endif %}{% endfor %}"
    data-next-autocomplete-endpoint-url-value="{{ endpoint_url }}"
    data-next-autocomplete-turbo-frame-id-value="{{ turbo_frame_id }}"
    data-next-autocomplete-limit-value="{{ limit }}"
    {% if navigate %}data-next-autocomplete-navigate-value="true"{% endif %}
    {# TODO: add optional data-action block #}
    {% for key, value in wrapper_attrs.items %}{% if key != "data-controller" %}{{ key }}="{{ value }}" {% endif %}{% endfor %}
    class="qf-relative"
>
    {# Input, copy pasted from django/forms/widgets/input.html #}
    <input
        type="search"
        {% include "django/forms/widgets/attrs.html" %}
        {% if display_value %}
        name="{{ widget.name }}"
        {% if widget.value != None %} value="{{ widget.value }}"{% endif %}
        {% endif %}
        {# Custom attributes to match w3c combobox pattern #}
        role="combobox"
        aria-controls="results-frame"
        aria-expanded="false"
        aria-activedescendant=""
        data-action="next-autocomplete#search keydown->next-autocomplete#navigate focus->next-autocomplete#showListbox"
        data-next-autocomplete-target="input"
    >
    <input
        type="hidden"
        data-next-autocomplete-target="hiddenInput"
        name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value }}"{% endif %}
    >

    {# Results #}
    {% include "ui/forms/widgets/autocomplete/results.html" %}
    {# spinner displays only when parent turbo frame is loading #}

    <div class="peer-aria-[busy]:qf-visible qf-invisible qf-absolute qf-z-50 qf-right-1w qf-top-auto qf-bottom-[3px]">
    {% include "ui/components/spinner.html" with small=True %}
    </div>
</div>
