<turbo-frame id='contact-form'>
 <form
method="post"
        action="{% url 'qfdmd:nous-contacter' %}"
    >
        {% csrf_token %}
        {% if request.resolver_match.url_name == 'nous-contacter' %}
          {{ form }}
          <button class="fr-btn" type="submit">
              Envoyer mon message
          </button>
        {% else %}
          <div class="qf-flex qf-flex-row qf-gap-1w qf-items-center">
            <span class="fr-icon--lg fr-icon fr-icon-success-fill" aria-hidden="true"></span>

            <span>
              Votre message a bien été envoyé
            </span>
          </div>
        {% endif %}
    </form>
</turbo-frame>
