
<div id="{{action_direction}}" data-choose-action-target='{{action_direction}}'>
    {% for action in action_by_direction(request, action_direction) %}
        <button
            type="button"
            class="fr-tag fr-mb-1v fr-ml-1v"
            name="{{action.nom}}"
            data-action="click->choose-action#apply"
            {% if action.description %} title="{{ action.description }}"{% endif %}
            aria-pressed="{{ 'true' if action.active else 'false' }}">
            {{ action.nom_affiche }}
        </button>
    {% endfor %}
</div>
