<style>
    .validated {
        background-color: #d4edda !important; /* Light green */
    }
    .rejected {
        background-color: #f8d7da !important; /* Light red */
    }
    .decision-used {
        background-color: #cce5ff !important; /* Light blue */
    }
</style>

<turbo-frame id="{{identifiant_unique}}">
    <table>
        <tr>
            <th>Action</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Code Naf</th>
            <th>Siret</th>
            <th>Etat</th>
            <th>Nombre etablissements ouverts</th>
            <th>Est Siège</th>
            <th>Meilleure proposition</th>
            <th>Map Link</th>
        </tr>
        {% for candidat in suggestion_unitaire.suggestion.ae_result %}
            {% if candidat.etat_admin_candidat != 'F' %}
                {% with comparison_result=(suggestion_unitaire.suggestion.best_candidat_index and loop.index == suggestion_unitaire.suggestion.best_candidat_index|int) %}
                    {# Ces valeurs sont définies dans dags/utils/shared_constants.py, à garder synchronisées entre Django et Airflow #}
                    <tr class="{% if suggestion_unitaire.status == 'ATRAITER' and comparison_result %}validated{% elif suggestion_unitaire.status == 'REJETER' %}rejected{% endif %}">

                        <td>
                            <form method="post" action="{{ request.path }}" target="form-frame-{{identifiant_unique}}-{{ loop.index }}">
                                {{ csrf_input }}
                                <input type="hidden" name="id" value="{{ suggestion_unitaire.id }}">
                                <input type="hidden" name="suggestion_cohorte" value="{{ suggestion_cohorte }}">
                                <input type="hidden" name="identifiant_unique" value="{{ identifiant_unique }}">
                                <input type="hidden" name="index" value="{{ loop.index }}">
                                <button class="fr-btn" type="submit" name="action" value="validate">O</button>
                                <button class="fr-btn fr-btn--secondary" type="submit" name="action" value="reject">N</button>
                            </form>
                        </td>

                        <td>{{ candidat.nom_candidat }}</td>
                        <td>{{ candidat.adresse_candidat }}</td>
                        <td>{{ candidat.categorie_naf_candidat }}</td>
                        <td>{{ candidat.siret_candidat }}</td>
                        <td>{{ candidat.etat_admin_candidat }}</td>
                        <td>{{ candidat.nombre_etablissements_ouverts }}</td>
                        <td>{{ candidat.siege_flag }}</td>
                        <td class="{% if candidat.used_for_decision %}decision-used{% endif %}">
                            {% if candidat.used_for_decision %}Yes{% else %}No{% endif %}
                        </td>
                        <td>
                            <a href="https://www.google.com/maps?q={{ candidat.longitude_candidat }},{{ candidat.latitude_candidat }}" target="_blank" rel="noreferrer">Afficher sur Maps</a>
                        </td>
                    </tr>
                {% endwith %}
            {% endif %}
        {% endfor %}
    </table>
</turbo-frame>
