<div class="fr-mb-3w qfdmo-relative{% if is_iframe(request) %}{% if form.initial.adresse %} qfdmo-min-h-[400px]{% else %} qfdmo-min-h-[200px]{% endif %}{% else %} qfdmo-flex-grow md:qfdmo-min-h-[62vh]{% endif %}">
    <div class="qfdmo-absolute qfdmo-inset-0 qfdmo-flex qfdmo-flex-col">
        <div
            class="qfdmo-flex-grow qfdmo-relative"
            data-controller="map"
            data-map-location-value="{{ location }}"
            id="map" data-map-target="map"
        >
            {% if not form.initial.adresse %}
                <div class="qfdmo-absolute qfdmo-inset-0 qfdmo-bg-black qfdmo-opacity-70 qfdmo-font-black qfdmo-z-[1000]" style="background-color:gray">
                    <div class="qfdmo-flex qfdmo-h-full qfdmo-w-full qfdmo-items-center qfdmo-justify-center qfdmo-text-2xl md:qfdmo-text-4xl qfdmo-text-center">
                        Précisez une adresse pour afficher la carte
                    </div>
                </div>
            {% elif not acteurs %}
                <div class="qfdmo-absolute qfdmo-inset-0 qfdmo-bg-black qfdmo-opacity-70 qfdmo-font-black qfdmo-z-[1000]" style="background-color:gray">
                    <div class="qfdmo-flex qfdmo-h-full qfdmo-w-full qfdmo-items-center qfdmo-justify-center qfdmo-text-2xl md:qfdmo-text-4xl qfdmo-text-center">
                        Il n'existe pas de solution localisée proche de chez vous (<30 km), avez vous envigagé une solution en ligne ?
                            </div>
                        </div>
            {% endif %}
            {% for acteur in acteurs %}
                <script type="application/json" data-map-target="acteur">
                    {{ acteur.serialize(format='json') | safe }}
                </script>
            {% endfor %}
        </div>
        {% if nb_acteurs_digitaux %}
            <button type='button' class="fr-btn fr-btn--tertiary-no-outline" data-action="click->choose-action#toggleSideover">
                Afficher les {{ nb_acteurs_digitaux }} solutions en ligne
            </button>
        {% endif %}
    </div>
    {% if nb_acteurs_digitaux %}
        <div id='slideover-container' data-choose-action-target="sideoverContainer" class="qfdmo-absolute qfdmo-inset-0 qfdmo-z-[1000] sqfdmo-w-full qfdmo-h-full{% if not form.initial.digital %} qfdmo-invisible{% endif %}">
            <div id="slideover" class="qfdmo-w-full qfdmo-bg-white qfdmo-h-full qfdmo-absolute">
                <div class="qfdmo-absolute qfdmo-inset-0 qfdmo-flex qfdmo-flex-col">
                    <div class="qfdmo-flex-grow qfdmo-relative qfdmo-overflow-auto">
                        {% for acteur_digital in acteurs_digitaux.all() %}

                            <div class="fr-tile fr-tile--sm fr-tile--horizontal fr-enlarge-link" id="tile-6661">
                                <div class="fr-tile__body">
                                    <div class="fr-tile__content">
                                        <h3 class="fr-tile__title">
                                            <a href="{{ acteur_digital.url }}" target="_blank">{{ acteur_digital.nom }}</a>
                                        </h3>
                                        <p class="fr-tile__detail">description du service</p>
                                        <div class="fr-tile__start">
                                            {% for action in acteur_digital.acteur_actions(direction=form.initial.direction) %}
                                                <p class="fr-badge fr-badge--sm fr-badge--yellow-tournesol">{{action.nom}}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                    <button type='button' class="fr-btn fr-btn--tertiary-no-outline" data-action="click->choose-action#toggleSideover">
                        Retour à la carte
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Transform it as a Stimulus contoller
    <script>
        function toggleSlideover(){
            document.getElementById('slideover-container').classList.toggle('qfdmo-invisible')
        }
    </script>
    -->
</div>
