{% if is_iframe %}
    <input type="hidden" name="iframe">
{% endif %}
{% if is_carte %}
    <input type="hidden" name="carte" data-search-solution-form-target='carte'>
{% endif %}
{% if request.GET.get('limit') %}
    <input type="hidden" name="limit" value="{{ request.GET.get('limit') }}">
{% endif %}
{% if request.GET.get('address_placeholder') %}
    <input type="hidden" name="address_placeholder" value="{{ request.GET.get('address_placeholder') }}">
{% endif %}
<input type="hidden" name="r" value="{{ range(1000) | random }}">
{% if request.GET.get("first_dir") %}
    <input type="hidden" name="first_dir" value="{{ request.GET.get("first_dir") }}">
{% endif %}
