<div>
    <form class="qfdmo-mt-2w fr-mb-1v" id='search_form' action='#solutions'>
        {% include "qfdmo/partials/featureflip_inputs.html" %}
        {{ form.direction }}
        {{ form.action_list }}
        <div data-controller='autocomplete'
            data-autocomplete-max-option-displayed-value=5
            data-autocomplete-nb-char-to-search-value=2
        >
            <div class="form-group">
                {{ form.sous_categorie_objet.label_tag() }}
                {{ form.sous_categorie_objet }}
            </div>
        </div>
        <div data-controller='address-autocomplete'
            data-address-autocomplete-max-option-displayed-value=5
            data-address-autocomplete-is-ban-address-value='true'
        >
            <div class="form-group">
                {{ form.adresse.label_tag() }}
                {{ form.adresse }}
            </div>
            {{ form.longitude }}
            {{ form.latitude }}
        </div>
        <div class="fr-grid-row fr-grid-row--bottom">
            <div class="fr-col-12 fr-col-md-9">
                <label>Je souhaite</label>
                {% with action_direction='jai' %}
                    {% include "qfdmo/partials/action_list_by_direction.html"  %}
                {% endwith %}
                {% with action_direction='jecherche' %}
                    {% include "qfdmo/partials/action_list_by_direction.html"  %}
                {% endwith %}
            </div>
            <div class="qfdmo-w-full qfdmo-flex qfdmo-flex-row qfdmo-justify-stretch">
                <button
                    name='digital'
                    value='1'
                    class="fr-btn{% if not form.initial.digital %} fr-btn--secondary{% endif %} qfdmo-w-1/2"
                >
                    <div class='qfdmo-w-full qfdmo-flex qfdmo-items-center qfdmo-justify-center'>
                        <span class="fr-icon-global-line" aria-hidden="true"></span><span>Rechercher en ligne</span>
                    </div>
                </button>
                <button
                    name='digital'
                    value='0'
                    class="fr-btn{% if form.initial.digital %} fr-btn--secondary{% endif %} qfdmo-w-1/2"
                >
                    <div class='qfdmo-w-full qfdmo-flex qfdmo-items-center qfdmo-justify-center'>
                        <span class="fr-icon-road-map-line" aria-hidden="true"></span><span>Rechercher à proximité</span>
                    </div>
                </button>
            </div>
        </div>
    </form>
</div>
