{% extends 'qfdmo/_addresses_partials/filters/panel_filters.html' %}

{% load carte_tags %}

{% block modal_title %}
Filtres
{% endblock modal_title %}

{% block modal_content %}
    <input
        id="{{ form.direction.id_for_label }}"
        name="{{ form.direction.html_name }}"
        value="{{ form.direction.value|default:'' }}"
        type="hidden"
        data-search-solution-form-target="direction"
    >
    {{ form.action_displayed }}

    {% hide_object_filter as hidden %}
    {% include 'qfdmo/_addresses_partials/filters/_object_filter.html' with hidden=hidden %}

    {% include 'qfdmo/_addresses_partials/filters/_labels_filters.html' %}
{% endblock modal_content %}
