{% extends "admin/change_form.html" %}
{% load admin_urls i18n %}

{% block submit_buttons_bottom %}
    {% block submit-row %}
        <div class="submit-row">
            <a class="closelink" href="{% url 'qfdmo:getorcreate_revisionacteur' acteur_identifiant=original.identifiant_unique %}">Modifier l'acteur</a>
            {% url opts|admin_urlname:'changelist' as changelist_url %}
            <a href="{% add_preserved_filters changelist_url %}" class="closelink">{% translate 'Close' %}</a>
        </div>
    {% endblock submit-row %}
{% endblock submit_buttons_bottom %}
