<tr>
    <td>
        {{ correction.final_acteur.render_as_card()|safe }}
        <a class='fr-btn' href="{{ reverse('qfdmo:solution_detail', kwargs={'identifiant_unique': correction.identifiant_unique}) }}" target="_blank" rel="noopener">
            Details
        </a>
        <a class='fr-btn' href="{{ reverse('qfdmo:solution_admin', kwargs={'identifiant_unique': correction.identifiant_unique}) }}" target="_blank" rel="noopener">
            Admin
        </a>
    </td>
    <td>
        {% if correction.resultat_brute_source.error %}
            {{ correction.resultat_brute_source.message }}<br>
        {% else %}
            <a href="https://annuaire-entreprises.data.gouv.fr/entreprise/{{ correction.resultat_brute_source.raw_result.siren }}" target="_blank" rel="noopener">{{ correction.resultat_brute_source.raw_result.siren }} - Entreprise active</a> :
            {% if correction.resultat_brute_source.entreprise_active %}
                <span class="qfdmo-bg-green-emeraude qfdmo-bg-opacity-30"> Oui </span>
            {% else %}
                <span class="qfdmo-bg-red-500 qfdmo-bg-opacity-30"> Non </span>
            {% endif %}
            <br>
            <a href="https://annuaire-entreprises.data.gouv.fr/etablissement/{{ correction.resultat_brute_source.raw_result.siret }}" target="_blank" rel="noopener">{{ correction.resultat_brute_source.raw_result.siret }} - Etablissement actif</a> :
            {% if correction.resultat_brute_source.etablissement_actif %}
                <span class="qfdmo-bg-green-emeraude qfdmo-bg-opacity-30"> Oui </span>
            {% else %}
                <span class="qfdmo-bg-red-500 qfdmo-bg-opacity-30"> Non </span>
            {% endif %}
            <br>
            Nb Etablissements : {{ correction.resultat_brute_source.nb_etablissements }}<br>
            {% if correction.resultat_brute_source.raw_result.dateCessation %}
                <br>Date de cessation : {{ correction.resultat_brute_source.raw_result.dateCessation }}<br>
            {% endif %}

        {% endif %}
        <br><span class="qfdmo-bg-red-500">Etablissement à INACTIVER ?</span>
    </td>
    <td>
        <p class="fr-py-1w">
            Statut de la correction : {{correction.correction_statut}}
        </p>
        <fieldset class="fr-fieldset" id="{{correction.id}}" aria-labelledby="radio-hint-legend radio-hint-messages">
            <div class="fr-fieldset__element fr-py-1w qfdmo-bg-green-emeraude qfdmo-bg-opacity-30">
                <div class="fr-radio-group">
                    <input type="radio" id="accept-{{correction.id}}" name="{{correction.id}}" value="accept" {% if correction.accepted_by_default() %}checked{% endif %}>
                    <label class="fr-label" for="accept-{{correction.id}}">
                        Accepter
                    </label>
                </div>
            </div>
            <div class="fr-fieldset__element fr-py-1w qfdmo-bg-red-500 qfdmo-bg-opacity-30">
                <div class="fr-radio-group">
                    <input type="radio" id="reject-{{correction.id}}" name="{{correction.id}}" value="reject" {% if correction.rejected_by_default() %}checked{% endif %}>
                    <label class="fr-label" for="reject-{{correction.id}}">
                        Refuser
                    </label>
                </div>
            </div>
            <div class="fr-fieldset__element fr-py-1w">
                <div class="fr-radio-group">
                    <input type="radio" id="ignore-{{correction.id}}" name="{{correction.id}}" value="ignore" {% if correction.ignored_by_default() %}checked{% endif %}>
                    <label class="fr-label" for="ignore-{{correction.id}}">
                        Ignorer
                    </label>
                </div>
            </div>
        </fieldset>
    </td>
</tr>
