{% load dsfr_tags modal_tags %}
<header
    class="
    qf-bg-white qf-border-b qf-border-solid qf-border-t-0 qf-border-x-0 qf-border-grey-900
    max-nolegend:qf-p-1w
    {% if not mode_liste %}qf-shadow-lg{% endif %}"
>
    <div
        class="qf-flex qf-flex-col nolegend:qf-flex-row nolegend:qf-items-center"
    >

        {% if not carte_config or not carte_config.supprimer_branding %}
        <div
            class="qf-items-center qf-hidden nolegend:qf-flex qf-flex-row"
            id="logo"
            data-remove-if-internal
        >
            {% include 'ui/layout/_partials/header_logos.html' %}
        </div>
        {% endif %}


        {# Recherche adresse #}
        <div class="fr-my-1w qf-flex-grow qf-flex qf-flex-col
            {% if carte_config and carte_config.supprimer_branding %}qf-p-2w{% endif %}"
        >
            {% include "ui/components/carte/adresse_input_form.html" %}
        </div>

        {# Navigation entre carte / liste #}
        <div class="nolegend:qf-px-2w max-nolegend:qf-flex qf-justify-between qf-items-end" id="view-mode-nav" data-testid="view-mode-nav">
            {{ forms.view_mode }}
            <div class="nolegend:qf-hidden">
            {% modal_button modal_id="filtres" button_text="Filtres" button_extra_classes="fr-btn--secondary fr-btn--icon-left fr-icon-equalizer-line fr-btn--sm" %}
            </div>
        </div>
    </div>
</header>
