{% load carte_tags dsfr_tags %}
<div class="qf-flex qf-flex-col qf-gap-1w qf-px-2w">
    <header class="qf-flex qf-justify-end qf-gap-1w qf-py-2w">
        {% dsfr_button label="Filtres" extra_classes="max-md:qf-hidden fr-btn--icon-left fr-icon-equalizer-fill fr-btn--secondary" data_action="search-solution-form#toggleAdvancedFilters:prevent" data_testid="advanced-filters:prevent" %}
        {% dsfr_button label="Proposer un nouveau lieu" extra_classes="max-md:qf-w-full fr-btn--icon-left fr-icon-add-line" %}
        {% dsfr_button label="Infos" extra_classes="max-md:qf-hidden fr-btn--icon-left fr-icon-info-line fr-btn--secondary" data_action="search-solution-form#toggleAPropos:prevent" %}
    </header>
    <main>
        {% acteurs_table paginated_acteurs_obj %}
    </main>
    <footer>
        {% dsfr_pagination paginated_acteurs_obj %}
    </footer>
</div>
