<turbo-frame id="search">
    <div
        data-controller="search"
        data-action="
            keydown.esc->search#clear:prevent
            keydown.up->search#up:prevent
            keydown.down->search#down:prevent"
        class="
        {# Z-index here helps prevent autocomplete overlapping on the accordion on the homepage #}
        qf-relative qf-z-10
        qf-rounded-3xl qf-overflow-hidden
        group-data-[home]:qf-rounded-[2rem]
        max-md:qf-rounded-[2rem]
        qf-border-solid qf-border-[3px] qf-border-green-menthe-850-hover qf-bg-white
        qf-flex qf-flex-col"
    >
        <form
            data-search-target="form"
            data-turbo-frame="search-results"
            action="{% url 'qfdmd:search' %}"
            class="qf-pl-4w {# should match the svg icon width #}
            md:group-data-[home]:qf-h-7w
            qf-h-5w
            qf-content-center
            "
        >
            {% csrf_token %}

            <button
                type="submit"
                class="qf-absolute qf-left-0
                group-data-[home]:-qf-mt-1v -qf-mt-1w qf-m-auto
                fr-btn fr-icon-search-line fr-btn--tertiary-no-outline
                qf-text-green-menthe-main-548
                "
            >
            </button>

            {% for field in search_form %}
                {{ field }}
            {% endfor %}
        </form>

        <turbo-frame
            id="search-results"
            class="qf-flex qf-flex-col"
        >
            {% if search_form.results %}
                {% for result in search_form.results %}
                    {% include "./_search_result.html" %}
                {% endfor %}
            {% endif %}
        </turbo-frame>
    </div>
</turbo-frame>
