{% with id=search_form.id.value %}
<turbo-frame id="{{ id }}">
    <div
        data-controller="search"
        data-action="
            search:click:outside->search#clear:prevent
            keydown.esc->search#clear:prevent
            keydown.up->search#up:prevent
            keydown.down->search#down:prevent"
            {% comment %} Z-index here helps prevent autocomplete overlapping on the accordion on the homepage {% endcomment %}
        class="qf-relative qf-z-10 qf-overflow-hidden"
    >
        <form
            data-search-target="form"
            data-turbo-frame="{{ id }}:search-results"
            action="{% url 'qfdmd:search' %}"
            class="qf-p-1w {# Padding is required to prevent focus is well displayed #}"
        >
            {% for field in search_form %}
                {{ field }}
            {% endfor %}
            <turbo-frame
                id="{{ id }}:search-results"
                data-search-target="results"
                class=" qf-flex qf-flex-col"
            >
                {% if search_form.results %}
                    <div class="qf-flex qf-flex-col qf-border-x qf-border-y-0 qf-border-solid qf-border-grey-1000-50-hover qf-bg-white">
                        {% for result in search_form.results %}
                            {% if beta %}
                                {% include "./_search_result_beta.html" %}
                            {% else %}
                                {% include "./_search_result.html" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </turbo-frame>
        </form>
    </div>
</turbo-frame>
{% endwith %}
