{% comment %}
This widget is copy pasted from django/forms/widgets/input.html
https://github.com/django/django/blob/main/django/forms/templates/django/forms/widgets/input.html

It is used mainly for styles, to add clasnames.
{% endcomment %}
<input
    class="qf-pl-1w qf-pr-2w
    focus:qf-outline-none
    qf-w-full
    qf-text-base
    md:group-data-[home]:qf-text-2xl
    qf-text-grey-425 qf-font-bold
    placeholder:qf-text-grey-425
    "
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
    placeholder="Entrez un objet ou un déchet"
    type="{{ widget.type }}"
    name="{{ widget.name }}"{% if widget.value != None %}
    value="{{ widget.value|stringformat:'s' }}"{% endif %}
    data-action="search#submitForm"
    data-search-target="input"
    {% include "django/forms/widgets/attrs.html" %}
>
