{% extends base_template %}
{% load static turbo_tags %}

{% block body_classes %}qf-h-screen{% endblock %}

{% block content %}
{% namespaced "search_form" as form_id %}
<turbo-frame
    id="{% main_frame_id %}"
    {% if request.user.is_authenticated and DEBUG %}
    data-turbo-action="advance"
    {% endif %}
    data-name="{{ request.resolver_match.url_name }}"
    class="qf-group"
>
    {# Controleur général de gestion de la navigation et du formulaire #}
    <form
        id='{{ form_id }}'
        data-controller="search-solution-form"
        data-search-solution-form-target="searchForm"
        data-search-solution-form-is-iframe-value="{{ is_embedded }}"
        data-action="
        map:updateBbox->search-solution-form#updateBboxInput
        search-solution-form:captureInteraction->analytics#captureInteractionWithMap
        address-autocomplete:formSubmit->search-solution-form#submitForm
        ss-cat-object-autocomplete:formSubmit->search-solution-form#submitForm
        ss-cat-object-autocomplete:optionSelected->search-solution-form#checkSsCatObjetErrorForm"
        class="
        qf-rounded-lg qf-border qf-border-solid qf-border-grey-900
        qf-group
        {% if not mode_liste %} qf-h-[660px] qf-min-h-full qf-overflow-hidden {% else %}qf-h-full{% endif %}"
        qf-m-0
        qf-flex qf-flex-col qf-flex-auto
        qf-relative"
        {# TODO: attempt to remove this conditionnal... #}
        {% if request.resolver_match.namespace == "qfdmd" and request.resolver_match.url_name == "carte" %}
        action="carte/"
        {% elif carte_config %}
        action="{{ carte_config.get_absolute_url }}"
        {% endif %}
        data-search-form-visible
        data-search-solution-form-map-container-id-value="{% main_frame_id %}"
    >
        <input type="hidden" name="{{ MAP_CONTAINER_ID }}" value="{% main_frame_id %}">
        {{ forms.legacy }}
        {{ forms.map }}
        <section class="map-grid qf-relative">
            {% include 'ui/components/carte/header.html' %}

            {% if mode_liste %}
                {% include "ui/components/carte/mode_liste.html" %}
            {% else %}
                {% include "ui/components/carte/mode_carte.html" %}
            {% endif %}

            {% include "ui/components/acteur/acteur_detail.html" with no_draggable=mode_liste %}
        </section>
        {% include "ui/components/modals/filtres.html" with filtres_form=forms.filtres legende_form=forms.legende_filtres modal_only=True %}
        {% include "ui/components/modals/infos.html" with modal_only=True %}
    </form>
</turbo-frame>
{% endblock content %}
