{% extends base_template %}
{% load static %}

{% block content %}
<turbo-frame
    id="{{ map_container_id }}"
    {% if request.user.is_authenticated and DEBUG %}
    data-turbo-action="advance"
    {% endif %}
    data-name="{{ request.resolver_match.url_name }}"
>
    {# Controleur général de gestion de la navigation et du formulaire #}
    <form
        id='{{ map_container_id }}:search_form'
        data-controller="search-solution-form"
        data-search-solution-form-target="searchForm"
        data-search-solution-form-is-iframe-value="{{ is_embedded }}"
        data-action="
        map:updateBbox->search-solution-form#updateBboxInput
        search-solution-form:captureInteraction->analytics#captureInteractionWithMap
        address-autocomplete:formSubmit->search-solution-form#advancedSubmit
        ss-cat-object-autocomplete:formSubmit->search-solution-form#advancedSubmit
        ss-cat-object-autocomplete:optionSelected->search-solution-form#checkSsCatObjetErrorForm"
        class="
        qf-rounded-lg qf-border qf-border-solid qf-border-grey-900
        qf-group
        qf-h-full qf-overflow-hidden
        qf-m-0
        qf-flex qf-flex-col qf-flex-auto
        qf-relative"
        {# TODO: attempt to remove this conditionnal... #}
        {% if request.resolver_match.namespace == "qfdmd" and request.resolver_match.url_name == "carte" %}
        action="carte/"
        {% elif carte_config %}
        action="{{ carte_config.get_absolute_url }}"
        {% endif %}
        data-search-form-visible
        data-search-solution-form-map-container-id-value="{{ map_container_id }}"
    >
        <input type="hidden" name="map_container_id" value="{{ map_container_id }}">
        <section class="map-grid qf-relative">
            {% block form_header %}
                {% include 'ui/components/carte/header.html' %}
            {% endblock form_header %}

            <main
                class="
                qf-flex
                qf-flex-col
                {% if is_digital %}
                {# Is useful for digital view so that the users can scroll in the results #}
                qf-overflow-auto
                {% endif %}
                qf-h-full
                "
                tabindex="0"
            >
            {% if forms.view_mode.view.value == "liste" %}
                {% include "ui/components/carte/mode_liste.html" %}
            {% else %}
                {% include "ui/components/carte/mode_carte.html" %}
            {% endif %}
            </main>

            {# Part of this tag' style is defined in qfdmo.css because it would have been a bit unreadable as tailwind classes #}
            <aside class="
                md:qf-relative qf-z-20
                aria-[hidden=false]:qf-block qf-hidden
                md:qf-overflow-auto
                max-md:qf-overflow-visible
                qf-bg-white
                max-md:qf-absolute
                max-md:qf-top-full max-md:qf-bottom-0 max-md:qf-left-0 max-md:qf-right-0
                max-md:qf-drop-shadow-[0_0_100px_rgba(0,0,0,0.3)]
                max-md:qf-rounded-t-xl
                max-md:qf-h-full
                max-md:transition-transform max-md:duration-500
                aria-[hidden=true]:max-md:qf-animate-out
                aria-[hidden=true]:max-md:qf-fade-out
                aria-[hidden=true]:data-[exit-animation-ended=true]:qf-hidden"
            tabindex="0"
            id="acteurDetailsPanel"
            aria-hidden="true"
            data-controller="acteur-details"
            data-acteur-details-map-container-id-value="{{ map_container_id }}"
            >
                {% include "ui/components/carte/panels/acteur_detail.html" %}
            </aside>

            {% block content_footer %}
            {% endblock content_footer %}
        </section>

        {% block form_modals %}
            {# Panel «Filtres» #}
            {% include 'ui/components/carte/modals/filters.html' %}

            {# Panel À propos #}
            {# TODO: refacto turbo, should be moved outside of form #}
            {% include 'ui/components/carte/modals/a_propos.html' %}
        {% endblock form_modals %}

    </form>
</turbo-frame>
{% endblock content %}

{% block modals %}
    {% include "ui/components/carte/reparacteur_modale.html" %}
{% endblock modals %}
