{% extends base_template %}

{% load turbo_tags %}

{% block body_classes %}
qf-h-svh qf-h-screen qf-overflow-hidden qf-bg-white
{% endblock body_classes %}

{% block content %}
<turbo-frame id="mapContainer" class="qf-bg-white">
    {# Controleur général de gestion de la navigation et du formulaire #}
    <form
        id='search_form'
        data-controller="search-solution-form"
        data-search-solution-form-target="searchForm"
        data-search-solution-form-is-iframe-value="{{ is_embedded }}"
        data-turbo-frame="addressesPanel"
        data-action="
        map:updateBbox->search-solution-form#updateBboxInput
        search-solution-form:captureInteraction->analytics#captureInteractionWithMap
        address-autocomplete:formSubmit->search-solution-form#advancedSubmit
        ss-cat-object-autocomplete:formSubmit->search-solution-form#advancedSubmit
        ss-cat-object-autocomplete:optionSelected->search-solution-form#checkSsCatObjetErrorForm
        {% block form_controller_data_actions %}{% endblock %}"
        class="
        qf-group
        qf-h-full qf-max-h-svh qf-max-h-screen md:qf-overflow-hidden
        qf-m-0
        qf-flex qf-flex-col qf-flex-auto
        qf-relative"
        data-search-form-visible
        data-search-solution-form-map-container-id-value="{% main_frame_id %}"
    >

        <input type="hidden" name="{{ MAP_CONTAINER_ID }}" value="{% main_frame_id %}">
        <section class="qf-relative map-grid">
            {# Part of this tag' style is defined in qfdmo.css because it would have been a bit unreadable as tailwind classes #}
            {% include 'ui/components/formulaire/header.html' with extra_classes="qf-bg-white" %}
            {% include "ui/components/formulaire/main.html" %}
            {% include "ui/components/formulaire/acteur_detail.html" %}
            {% include "ui/components/formulaire/footer.html" %}
        </section>

        {% block form_modals %}
            {# Panel «Formulaire de recherche» #}
            {% include 'ui/components/formulaire/search_form.html' %}

            {# Panel «Filtres avancés» #}
            {% include 'ui/components/formulaire/modals/advanced_filters.html' %}
        {% endblock form_modals %}
    </form>
</turbo-frame>
{% endblock content %}
