{% extends "ui/layout/assistant.html" %}
{% load dsfr_tags qfdmd_tags suggestions_tags %}

{% block analytics_action %}homePageView{% endblock %}

{% block main %}
<div data-home class="qf-group qf-flex qf-justify-center qf-flex-col qf-gap-2w">
    <div class="qf-bg-green-menthe-975-75 qf-py-3w
    qf-flex qf-flex-col qf-gap-3w qf-justify-center qf-text-center">

    {# title #}
    <div class="logo">
        {% include "ui/components/logo/site_logo_large.html" %}
    </div>

    {# subtitle #}
    <div class="fr-h4 [&_strong]:qf-px-1v [&_strong]:qf-py-0-5v qf-max-w-[650px] qf-mx-auto [&_strong]:qf-rounded-full [&_strong]:qf-bg-green-menthe-sun-373-moon-652 [&_strong]:qf-text-white [&_strong]:qf-leading-none [&_strong]:qf-inline-block">
    Vous aider à <strong>prolonger</strong> la vie de vos objets, faire des <strong>économies</strong> et réduire vos déchets !
    </div>

    {# search #}
    <div class="qf-w-full qf-mx-auto qf-max-w-3xl qf-pb-6w">
        {{ assistant.header_autocomplete_search_form }}
    </div>
</div>

{% if not iframe %}
<div class="qf-mx-auto qf-mt-4w qf-w-full">
    {% include "sites_conformes_content_manager/blocks/blocks_stream.html" with stream=page.body page=page %}
</div>
{% endif %}
</div>

{% endblock main %}
