{% extends "ui/layout/assistant.html" %}
{% load dsfr_tags qfdmd_tags suggestions_tags %}

{% block pre_main %}
<div class="fr-container">
{% patchwork %}
</div>
{% endblock pre_main %}

{% block analytics_action %}homePageView{% endblock %}

{% block main %}
<div data-home class="qf-group qf-flex qf-flex-col qf-gap-5w">
    {# search + patchwork #}
    <div class="qf-w-full qf-max-w-3xl qf-m-auto qf-relative qf-pb-6w">
        <div class="qf-absolute qf-left-0 qf-right-0 qf-top-0">
            {% include "ui/components/search/view.html" with big=True search_form=home_search_form %}
        </div>
    </div>

    {% if not iframe %}
    <div class="qf-mx-auto qf-mt-4w">
        {% include "sites_faciles_content_manager/blocks/blocks_stream.html" with stream=page.body page=page %}
    </div>
    {% endif %}
</div>

{% endblock main %}
