{% extends "ui/layout/base.html" %}
{% load static %}

{% block page_title %}Info-tri{% endblock %}

{% block body_classes %}qf-bg-white !qf-h-auto{% endblock %}

{% block content %}
<div class="qf-flex qf-items-center qf-flex-col qf-justify-end qf-pb-1w qf-min-h-fit">
    {% include "infotri/components/preview.html" %}
</div>
{% endblock content %}

{% block js %}
    {# Override base.html js block to load iframe-resizer v5 instead of v4 #}
    <script src="{% static 'infotri-child.js' %}" defer></script>

    {{ block.super }}
{% endblock js %}
