{% extends "ui/pages/produit.html" %}

{% load wagtail_dsfr_tags wagtailcore_tags %}

{% block title %}
  <title>{{ page.seo_title|default:page.title }}</title>
{% endblock title %}

{% block description %}
  {% if page.search_description %}<meta name="description" content="{{ page.search_description }}" />{% endif %}
{% endblock description %}

{% block social_media %}
  <meta property="og:site_name" content="{{ request.get_host }}" />
  <meta property="og:title"
        content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{% canonical_url %}" />
  <meta property="og:description" content="{{ page.search_description }}" />
  <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />

  {% if page.get_translations.live %}
    {% for translation in page.get_translations.live %}
      <meta property="og:locale:alternate"
            content="{{ translation.locale.language_code }}" />
    {% endfor %}
  {% endif %}

  <meta name="twitter:title"
        content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}" />
  <meta name="twitter:description" content="{{ page.search_description }}" />
  <meta property="og:image" content="{% static 'assistant/og-image.jpg' %}" />
{% endblock social_media %}

{% comment %}
Here we want to remove the fr-container class set on the <main> tag
so that the green background heading can properly expand to the full
page width.
{% endcomment %}
{% block main_classes %}{% endblock %}

{% block main %}
<div
    class="qf-flex qf-flex-col md:qf-gap-4
    qf-gap-6w max-lg:qf-pr-0 max-xl:qf-pr-6w"
>
    {% block main_heading %}
        {% include "ui/components/produit/heading.html" with pronom=page.pronom title=page.compiled_titre_phrase infotri=page.compiled_infotri %}
    {% endblock main_heading %}

    <div class="qf-flex qf-flex-col max-md:qf-order-2 md:qf-row-start-2 md:qf-col-span-2">
        {% include "sites_faciles_content_manager/blocks/blocks_stream.html" with stream=page.body page=page %}
    </div>
</div>
{% endblock main %}
