{% extends "ui/layout/assistant.html" %}

{% load static wagtail_dsfr_tags wagtailcore_tags %}


{% block analytics_action %}produitPageView{% endblock %}

{% comment %}
Here we want to remove the fr-container class set on the <main> tag
so that the green background heading can properly expand to the full
page width.
{% endcomment %}

{% block main %}
<div
    class="qf-flex qf-flex-col
    qf-gap-5w
    max-lg:qf-pr-0"
>
    {% block main_heading %}
        {% include "ui/components/produit/heading.html" with pronom=page.pronom title=page.compiled_titre_phrase infotri=page.compiled_infotri %}
    {% endblock main_heading %}

    <div class="qf-flex qf-flex-col max-md:qf-order-2 md:qf-row-start-2 md:qf-col-span-2">
        {% include "sites_faciles_content_manager/blocks/blocks_stream.html" with stream=page.body page=page %}
        {% include "ui/snippets/share_and_embed.html" with extra_classes="md:qf-hidden qf-px-2w qf-mt-2w" %}
    </div>
</div>
{% endblock main %}
