{% extends "ui/layout/assistant.html" %}
{% load static wagtailcore_tags qfdmd_tags %}

{% block analytics_action %}produitPageView{% endblock %}

{% block title %}
<title>{{ object.nom }} | {{ seo.title }}</title>
{% endblock title %}

{% block description %}
    {% if object.meta_description %}<meta name="description" content="{{ object.meta_description }}" />{% endif %}
{% endblock description %}

{% block social_media %}
    <meta property="og:site_name" content="{{ request.get_host }}" />
    <meta property="og:title" content="{{ object.nom }}" />
    <meta property="og:type" content="article" />
    {% if object.meta_description %}<meta property="og:description" content="{{ object.meta_description }}" />{% endif %}
    <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />
    <meta name="twitter:title" content="{{ object.nom }}" />
    {% if object.meta_description %}<meta name="twitter:description" content="{{ object.meta_description }}" />{% endif %}
    <meta property="og:image" content="{% static 'assistant/og-image.jpg' %}" />
{% endblock social_media %}

{% block extra_js %}
{% endblock extra_js %}

{% block main %}
{% with produit=object.produit %}
{% with bon_etat=object.bon_etat %}
{% with mauvais_etat=object.mauvais_etat %}
<article
    class="qf-flex qf-flex-col md:qf-grid md:qf-grid-cols-[minmax(200px,1fr)] md:qf-grid-rows-[auto] md:qf-gap-4
    qf-auto-rows-min qf-auto-cols-min
    qf-gap-6w max-lg:qf-pr-0
    qf-pt-3w md:qf-pt-5w"
>
    <header class="
    md:qf-row-start-1 md:qf-col-start-1
    max-md:qf-order-1
    qf-flex qf-flex-col qf-gap-3w qf-items-start">
        <a
            href="{% url 'qfdmd:home' %}"
            class="qf-flex qf-gap-1v qf-justify-center qf-items-center
            qf-text-green-menthe-sun-373-moon-652 qf-bg-none
            md:qf-hidden qf-mr-auto"
        >
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.6668 6.66589L12.6669 12.6658H11.3336L11.3335 7.99922L4.5523 7.99916L7.18548 10.6323L6.24264 11.5752L2 7.33249L6.24264 3.08984L7.18548 4.03266L4.55227 6.66582L12.6668 6.66589Z" fill="#37635F"/>
            </svg>
            <span>{{ ASSISTANT.nouvelle_recherche }}</span>
        </a>
        <h1 class="qf-m-0">
            {{ object.nom|capfirst }}
        </h1>
        <div class="mr-auto">
            {% include "ui/components/produit/_infotri.html" with infotri=produit.infotri %}
        </div>
    </header>

    {% include "ui/snippets/share_and_embed_produit.html" with extra_classes="max-md:qf-order-last md:qf-min-w-[17rem] md:qf-row-start-1 md:qf-col-start-2" %}
    {% include "ui/components/produit/produit.html" with extra_classes="max-md:qf-order-2 md:qf-row-start-2 md:qf-col-span-2" %}
</article>
{% endwith %}
{% endwith %}
{% endwith %}
{% endblock main %}
