{% extends "ui/components/formulaire/filtres/_label.html" %}

{% block icon %}
{% include "ui/components/icons/reparacteurs.html" %}
{% endblock icon %}

{% block label %}
Lieux labellisés Répar’Acteurs
{% endblock label %}

{% block help %}
Afficher uniquement les artisans labellisés (uniquement valable lorsque l'action « réparer » est sélectionnée). Les Répar'Acteurs sont une initiative de la <a
  href='https://www.artisanat.fr/nous-connaitre/vous-accompagner/reparacteurs'
  target="_blank"
  rel="noreferrer"
  title="sur le site de la CMA - Nouvelle fenêtre"
>
  Chambre des Métiers et de l’Artisanat
</a>
{% endblock help %}
