{% include "admin/custom-openlayers.html" %}

<div>
    <input type="text" id="search" name="search" value="" />
    <input type="button" id="search-button" name="search-button" value="Placer sur la carte" />
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var address_composed = []
            address_composed.push(document.getElementById("id_adresse").value);
            address_composed.push(document.getElementById("id_adresse_complement").value);
            address_composed.push(document.getElementById("id_code_postal").value + ' ' + document.getElementById("id_ville").value);
            var search = document.getElementById("search").value = address_composed.join(', ');
        });
        document.addEventListener("DOMContentLoaded", function() {
            var searchButton = document.getElementById("search-button");
            searchButton.addEventListener("click", function() {
                var search = document.getElementById("search").value;
                var url = "https://api-adresse.data.gouv.fr/search/?q=" + search + "&limit=1";
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        var lon = data.features[0].geometry.coordinates[0];
                        var lat = data.features[0].geometry.coordinates[1];
                        var map = geodjango_location.map;

                    // Supprimer tous les marqueurs de la carte
                        geodjango_location.clearFeatures();
                        document.getElementById(geodjango_location.options.id).value = '{ "type": "Point", "coordinates": [ ' + lon + ', ' + lat + ' ] }'
                        var point = new ol.Feature({
                            geometry: new ol.geom.Point(ol.proj.fromLonLat([lon, lat]))
                        });
                        geodjango_location.featureCollection.push(point);
                        geodjango_location.map.setView(new ol.View({
                            center: ol.proj.fromLonLat([lon, lat]),
                            zoom: 15
                        }));

                    })
                    .catch(error => console.error(error));
            });
        });
    </script>

</div>
