project_id            = "your-project-id"
organization_id       = "your-organization-id"
access_key            = "access-key"
secret_key            = "secret-key"  # pragma: allowlist secret

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN = ""
AIRFLOW_CONN_WEBAPP_DB = ""
AIRFLOW_CONN_SCALEWAYLOGS = ""
DATABASE_URL = ""
DB_WAREHOUSE = ""
ENVIRONMENT = ""
POSTGRES_DB = ""
POSTGRES_HOST = ""
POSTGRES_PASSWORD = ""
POSTGRES_PORT = ""
POSTGRES_SCHEMA = ""
POSTGRES_USER = ""
SCW_ACCESS_KEY = ""
SCW_DEFAULT_ORGANIZATION_ID = ""
SCW_DEFAULT_PROJECT_ID = ""
SCW_SECRET_KEY = ""
SECRET_KEY = ""
_AIRFLOW_WWW_USER_USERNAME = ""
_AIRFLOW_WWW_USER_PASSWORD = ""
AIRFLOW__CORE__EXECUTION_API_SERVER_URL = ""
AIRFLOW__API_AUTH__JWT_SECRET = ""
AIRFLOW__CORE__ALLOWED_DESERIALIZATION_CLASSES = ""