<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="{% block robots %}index, follow{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--Title and desc-->

        <title>{% block page_title %}Que faire de mes objets{% endblock%}</title>
        <meta name="description" content="{% block page_description %}Donner une nouvelle vie à vos objets{% endblock %}">

        <!--Favicon-->
        <link rel="shortcut icon" href="{{ static('favicon-16x16.png') }}" type="image/x-icon"><!-- 32×32 -->

        <!--Css-->

        <link rel="stylesheet" href="{{ static('qfdmo.css') }}">
        {% block css_extras %}{% endblock %}

        <!--Js-->
        <script src="{{ static('qfdmo.js') }}"></script>
        {% block javascript_extras %}{% endblock %}

        {% if is_iframe(request) %}
            <script src="{{ static('iframe.js') }}"></script>
        {% endif %}

    </head>

    <body class="qfdmo-flex qfdmo-flex-col">
        {% if not is_iframe(request) %}
            {% block header %}
                {% include "layout/header.html" %}
            {% endblock %}
        {% endif %}
        <main role="main" id="solutions">
            {% block content %}{% endblock %}
        </main>
        {% if not is_iframe(request) %}
            {% block footer %}
                {% include "layout/footer.html" %}
            {% endblock %}
        {% endif %}
        {% block js %}
        {% endblock %}
        {% if is_iframe(request) %}
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.6/iframeResizer.contentWindow.js"
                integrity="sha512-hBWsS94l8+snzSPo759jDKZ3z3jn3WT4snJZTBaeMPbrCGzDrYdl2pN9EaXjh6IqEZC7wF10qcmp42TPRVgAYQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"
                defer
            ></script>
        {% endif %}
    </body>
</html>
