<!DOCTYPE html>
<html lang="fr" class="qfdmo-scroll-smooth">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="{% block robots %}index, follow{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {#Meta for linkedin#}
        <meta prefix="og: http://ogp.me/ns#" property="og:title" content="{% block shared_page_title %}Longue vie aux objets{% endblock %}">
        <meta prefix="og: http://ogp.me/ns#" property="og:description" content="{% block shared_page_description %}Donnons une nouvelle vie aux objets. Longue vie aux objets met en avant toutes les bonnes adresses pour réparer, partager, donner, vendre... afin de prolonger la vie des objets du quotidien.{% endblock %}">
        <meta prefix="og: http://ogp.me/ns#" property="og:image" content="{% block shared_page_image %}{{ request.scheme }}://{{ request.get_host() }}{{ static('lvao-homepage.jpg') }}{% endblock %}">

        {#Title and desc#}
        <title>{% block page_title %}Longue vie aux objets{% endblock %}</title>
        <meta name="description" content="{% block page_description %}Donnons une nouvelle vie aux objets{% endblock %}">

        {#Favicon#}
        <link rel="shortcut icon" href="{{ static('favicon-16x16.png') }}" type="image/x-icon">{# 16×16 #}

        {#Css#}
        <link rel="stylesheet" href="{{ static('qfdmo.css') }}">
        {% block css_extras %}{% endblock %}

        {#Js#}
        <script src="{{ static('qfdmo.js') }}"></script>
        {% block javascript_extras %}{% endblock %}

        {% if is_embedded(request) %}
            <script src="{{ static('iframe_resizer.js') }}"></script>
        {% endif %}
    </head>

    <body class="qfdmo-flex qfdmo-flex-col">
        {% if not is_embedded(request) %}
            {% block header %}
                {% include "layout/header.html" %}
            {% endblock %}
        {% endif %}
        <main role="main" id="solutions">
            <noscript>
                <div class="fr-container fr-my-3w">
                    <div class="fr-alert fr-alert--error">
                        <h3 class="fr-alert__title">L'application nécessite Javascript pour être exécutée correctement</h3>
                        <p>Javascript est désactivé dans votre navigateur. Veuillez l'activer pour une meilleure expérience.</p>
                        <p>Vous trouverez sur le lien suivant comment activer Javascript dans votre navigateur : <a href="https://www.enable-javascript.com/fr/" target="_blank" rel="noopener">https://www.enable-javascript.com/fr/</a></p>
                    </div>
                </div>
            </noscript>
            <div class="fr-container fr-my-3w qfdmo-hidden" id='obsolete_browser_message'>
                <div class="fr-alert fr-alert--warning">
                    <h3 class="fr-alert__title">Une mise à jour de votre navigateur est nécessaire</h3>
                    <p>La version de votre navigateur étant trop ancienne, nous ne pouvons vous garantir une expérience optimale sur la carte Longue vie aux objets. Si vous le souhaitez, vous pouvez aussi essayer de vous connecter sur un autre navigateur.</p>
                </div>
            </div>
            {% block content %}{% endblock %}
        </main>
        {% if not is_embedded(request) %}
            {% block footer %}
                {% include "layout/footer.html" %}
            {% endblock %}
        {% endif %}
        {% block js %}
        {% endblock %}
        {% if is_embedded(request) %}
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.6/iframeResizer.contentWindow.js"
                integrity="sha512-hBWsS94l8+snzSPo759jDKZ3z3jn3WT4snJZTBaeMPbrCGzDrYdl2pN9EaXjh6IqEZC7wF10qcmp42TPRVgAYQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"
                defer
            ></script>
        {% endif %}
    </body>
</html>
