<footer class="fr-footer" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand qf-self-start">
                <a href="/" title="Retour à l’accueil du site - Nom de l’entité (ministère, secrétariat d‘état, gouvernement)" class="fr-footer__brand-link qf-outline-none qf-bg-none">
                    <p class="fr-logo">
                        République
                        <br>française
                    </p>
                </a>
            </div>
            <div class="fr-footer__content">
                <p class="fr-footer__content-desc">"Longue vie aux objets", startup d'état de l'ADEME, propose des outils numériques gratuits de sensibilisation au tri et à la consommation responsable qui valorisent les acteurs de l’économie circulaire sur chaque territoire</p>
                <ul class="fr-footer__content-list">
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" target="_blank" href="https://www.ademe.fr/" rel="noreferrer">ademe.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" target="_blank" href="https://data.ademe.fr/" rel="noreferrer">data.ademe.fr</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ url('qfdmo:sitemap') }}">Plan du site</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ url('qfdmo:legal_notices') }}">Mentions légales</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ url('qfdmo:cgu') }}">Conditions générales d'utilisation</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ url('qfdmo:cookies') }}">Politique des cookies</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ url('qfdmo:personal_data') }}">Données personnelles</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ url('qfdmo:accessibility') }}">Accessibilité : non conforme</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ url('qfdmo:contact-form') }}" target="_blank" rel="noreferrer">Nous contacter</a>
                </li>
            </ul>
            <div class="fr-footer__bottom-copy">
                <p>Sauf mention explicite de propriété intellectuelle détenue par des tiers, les le code source et les contenus de ce site sont proposés sous <a href="https://github.com/incubateur-ademe/quefairedemesobjets/blob/main/LICENSE" target="_blank"  rel="noreferrer">licence MIT</a></p>
            </div>
        </div>
    </div>
</footer>
