{# Panel «Formulaire de recherche» #}
<div
    class="
    qf-max-h-screen qf-overflow-auto
    qf-absolute top-0 right-0 left-0
    qf-bg-white
    qf-flex-grow"
    data-search-solution-form-target="searchFormPanel"
>
    <h1 class="qf-sr-only">Longue vie aux objets</h1>
    <div class="qf-flex">
        <div data-testid="form-content">
            {# TODO: REFACTO OVERFLOW : supprimer les overflow et le padding left #}
            <div class="qf-flex-grow md:qf-pl-3v max-md:qf-px-1w">
                {# Direction #}
                <fieldset class="fr-segmented fr-segmented--sm qf-w-full fr-mt-3w">
                    <legend class="fr-segmented__legend qf-hidden">
                        {{ form.direction.label }}
                    </legend>
                    {{ form.direction }}
                </fieldset>

                {{ form.action_displayed }}

                {{ form.action_list }}

                {# Recherche Objet #}
                {% include 'qfdmo/_addresses_partials/filters/_object_filter.html' %}

                {# Recherche adresse #}
                <div class="fr-mt-3w fr-px-1v fr-input-group">
                    {% include 'qfdmo/_addresses_partials/adresse_input_form.html' %}
                </div>

                {# Gestes #}
                <div class="fr-mt-3w fr-px-1v">
                    {% with action_direction='jai' %}
                        {% include "qfdmo/partials/action_list_by_direction.html" %}
                    {% endwith %}
                    {% with action_direction='jecherche' %}
                        {% include "qfdmo/partials/action_list_by_direction.html" %}
                    {% endwith %}
                </div>
            </div>

            <div class="fr-my-1w qf-w-full qf-flex qf-flex-col sm:qf-max-w-[604px] qf-mx-auto qf-pl-3v">
                {# Advanced filters #}
                <button
                    class="fr-my-1w qf-w-full sm:qf-w-fit fr-btn fr-btn--tertiary-no-outline qf-flex qf-justify-center sm:qf-text-left"
                    type="button"
                    data-action="search-solution-form#toggleAdvancedFilters"
                    data-testid="advanced-filters"
                >
                    Filtres avancés
                </button>

                <button
                    class="fr-btn qf-whitespace-nowrap qf-float-left qf-w-full sm:qf-w-max qf-flex qf-justify-center"
                    data-action="click -> search-solution-form#advancedSubmit"
                    type="button"
                    data-with-controls="true"
                    data-without-zone="true"
                    data-with-dynamic-form-panel="true"
                    data-testid="rechercher-adresses-submit"
                >
                    Rechercher des adresses
                </button>
            </div>
        </div>

        <div class="fr-p-3w qf-my-auto qf-flex-grow qf-hidden sm:qf-block">
            <img
                src="{{ static('france_map.svg') }}"
                alt=""
                class="qf-max-w-[100%]"
            >
        </div>
    </div>
</div>
