{% extends "layout/base.html" %}

{% block content %}
    <div class="fr-container fr-my-3w">
        <h1>Configurateur d'Iframe</h1>

        {{ form }}

        <hr>

        <h2>Résultats</h2>
        <h3>Code à implémenter</h3>
        <p>Il vous suffit de copier/coller ce code dans votre site Internet. En cas de difficultés, de questions, ou pour tout autre échange, vous pouvez contacter l’équipe.</p>

        {% include "qfdmo/iframe_configurator/_iframe.html" %}
    </div>
{% endblock content %}
