{% extends "layout/base.html" %}

{% block content %}
    <div class="fr-container fr-my-3w">
        <h1>Configurateur d'Iframe</h1>

        <form action="{{ url('qfdmo:iframe_configurator') }}" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            {{ form }}
            <div class="fr-input-group fr-my-4w">
            <button type="submit" class="fr-btn" title="Valider">
                Valider ce formulaire
            </button>
            <button type="" class="fr-btn fr-btn--secondary" title="Annuler">
                Annuler
            </button>
            </div>
        </form>

        <hr>

        {% if data %}
        <h2>Résultats</h2>
        <h3>Code à implémenter</h3>
        <p>Il vous suffit de copier/coller ce code dans votre site Internet. En cas de difficultés, de questions, ou pour tout autre échange, vous pouvez contacter l’équipe.</p>

        <turbo-frame>
            {{ data.epci_codes }}
            {{ data.available_actions }}
            {{ data.limit }}
        </turbo-frame>
        {% endif %}


    </div>
{% endblock content %}
