{% extends "layout/base.html" %}

{% block content %}
    <div class="fr-container fr-my-3w">
        <h1>Configurateur d'Iframe</h1>

        <form action="{{ url('qfdmo:iframe_configurator') }}" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            {{ form }}
            <div class="fr-input-group fr-my-4w">
            <button type="submit" class="fr-btn" title="Valider">
                Prévisualiser
            </button>
            </div>
        </form>

        {% if form.cleaned_data %}
            <hr>
            <div
                data-controller="scroll"
                class="qfdmo-max-w-screen-lg"
            >
                <h2>Résultats</h2>
                <h3>Code à implémenter</h3>
                <p>Il vous suffit de copier/coller ce code dans votre site Internet. En cas de difficultés, de questions, ou pour tout autre échange, vous pouvez contacter l’équipe.</p>
                <div
                    data-controller="copy"
                    class="qfdmo-flex
                    qfdmo-p-2w qfdmo-bg-grey-975
                    "
                >
                    <pre
                        data-copy-target="toCopy"
                        class="
                        qfdmo-m-0 qfdmo-pr-1w
                        qfdmo-text-blue-france-sun-113 qfdmo-font-bold
                        qfdmo-whitespace-break-spaces
                        qfdmo-break-all
                    ">{{ iframe_script }}</pre>
                    <button
                        class="fr-btn qfdmo-mb-auto qfdmo-ml-auto"
                        title="Copier"
                        data-action="click->copy#toClipboard"
                        data-copy-target="button"
                    >
                        Copier
                    </button>
                </div>

                <div class="fr-alert fr-alert--info qfdmo-mt-1w qfdmo-mb-4w">
                    <p>
                        Cette balise HTML vous permet d'afficher le simulateur à l'intérieur d'une page de votre site internet.
                        Le module sera automatiquement mis à jour avec les dernières nouveautés.
                    </p>
                </div>
            </div>
            {{ iframe_script|safe }}
        {% endif %}
    </div>
{% endblock content %}
