{% extends "qfdmd/base.html" %}
{% load dsfr_tags %}

{% block header %}
{% include "components/header/header_home.html" %}
{% endblock header %}

{% block analytics_action %}homePageView{% endblock %}

{% block body_attrs %}data-home{% endblock %}

{% block main %}
<div class="qf-flex qf-flex-col qf-gap-7w">
    {# search + patchwork #}
    <div class="qf-w-full qf-max-w-3xl qf-m-auto qf-relative qf-pb-6w">
        <div class="qf-absolute qf-left-0 qf-right-0 qf-top-0">
            {% include search_view_template_name with big=True %}
        </div>
    </div>

    {# suggestion #}
    <div class= "qf-max-w-2xl qf-mx-auto qf-text-center qf-flex qf-flex-col qf-gap-3w">
        <p class="qf-m-0">
        En panne d’inspiration ? Essayez une des suggestions ci‑dessous.
        </p>
        <div
            class="qf-flex qf-gap-x-2w qf-gap-y-3w
            qf-flex-wrap qf-items-center qf-justify-center "
        >
            {% for suggestion in object_list %}
            {% with suggestion.produit as produit %}
            <a
                class="qf-btn"
                href="{% url 'qfdmd:synonyme-detail' slug=produit.slug %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
            >
                {{ produit.nom|capfirst }}
            </a>
            {% endwith %}
            {% endfor %}
        </div>
    </div>

    <div class="qf-max-w-3xl qf-mx-auto">
        {% dsfr_accordion accordion %}
    </div>
</div>
{% endblock main %}
