{% extends "pages/produit.html" %}

{% load wagtailcore_tags %}

{% block title %}
<title>{{ page.title }} | {{ seo.title }}</title>
{% endblock title %}

{% block main_classes %}
{% if not is_synonyme %}{{ block.super }}{% endif %}
{% endblock main_classes %}

{% block main %}
<article
    class="qf-flex qf-flex-col
    qf-gap-2w max-lg:qf-pr-0 max-xl:qf-pr-6w"
>


  <header class="qf-mt-3w md:qf-mt-5w qf-flex qf-flex-col  qf-gap-3w">
      <a
          href="{% url 'qfdmd:home' %}"
          class="qf-flex qf-gap-1v qf-justify-center qf-items-center
          qf-text-green-menthe-sun-373-moon-652 qf-bg-none
          md:qf-hidden qf-mr-auto"
      >
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.6668 6.66589L12.6669 12.6658H11.3336L11.3335 7.99922L4.5523 7.99916L7.18548 10.6323L6.24264 11.5752L2 7.33249L6.24264 3.08984L7.18548 4.03266L4.55227 6.66582L12.6668 6.66589Z" fill="#37635F"/>
          </svg>
          <span>{{ ASSISTANT.nouvelle_recherche }}</span>
      </a>
      <h1 class="qf-m-0">
          {{ page.title|capfirst }}
      </h1>
      {% include "components/produit/_infotri.html" with infotri=page.infotri %}
  </header>

  {% include "sites_faciles_content_manager/blocks/blocks_stream.html" with stream=page.body %}
</article>
{% endblock main %}
