{% extends "pages/produit.html" %}

{% load wagtailcore_tags %}

{% block title %}
<title>{{ page.title }} | {{ seo.title }}</title>
{% endblock title %}

{% comment %}
{% block main_classes %}
{% if not is_synonyme %}{{ block.super }}{% endif %}
{% endblock main_classes %}
{% endcomment %}

{% block main %}
<article
    class="qf-flex qf-flex-col md:qf-grid md:qf-grid-cols-[minmax(200px,1fr)] md:qf-grid-rows-[auto] md:qf-gap-4
    qf-auto-rows-min qf-auto-cols-min
    qf-gap-6w max-lg:qf-pr-0 max-xl:qf-pr-6w"
>

    {% block main_heading %}
    {% if page.synonyme %}
        {% include "components/produit/heading.html" with title=page.get_parent.title infotri=page.get_parent.specific.infotri synonyme=page.synonyme.titre_phrase %}
    {% else %}
        {% include "components/produit/heading.html" with title=page.titre_phrase infotri=page.infotri synonyme=page.synonyme %}
    {% endif %}
    {% endblock main_heading %}

    <div class="qf-flex qf-flex-col max-md:qf-order-2 md:qf-row-start-2 md:qf-col-span-2">

  {% include "sites_faciles_content_manager/blocks/blocks_stream.html" with stream=page.compiled_body page=page %}
</article>
{% endblock main %}
