{% extends "pages/produit.html" %}

{% load wagtailcore_tags %}

{% block title %}
<title>{{ page.title }} | {{ seo.title }}</title>
{% endblock title %}

{% block main_classes %}
{% if not is_synonyme %}{{ block.super }}{% endif %}
{% endblock main_classes %}

{% block main %}
<article
    class="qf-flex qf-flex-col md:qf-grid md:qf-grid-cols-[minmax(200px,1fr)] md:qf-grid-rows-[auto] md:qf-gap-4
    qf-auto-rows-min qf-auto-cols-min
    qf-gap-6w max-lg:qf-pr-0 max-xl:qf-pr-6w
    qf-pt-3w md:qf-pt-5w"
>
    {% block main_heading %}
        {% include "./heading.html" with title=page.title infotri=page.infotri %}
        {% include "snippets/share_and_embed_produit.html" with extra_classes="max-md:qf-order-last md:qf-min-w-[17rem] md:qf-row-start-1 md:qf-col-start-2" %}
    {% endblock main_heading %}

      {% include "sites_faciles_content_manager/blocks/blocks_stream.html" with stream=page.body %}
</article>
{% endblock main %}
