{% extends "qfdmd/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'qfdmo.css' %}">
{% endblock extra_css %}

{% block extra_js %}
<script src="{% static 'qfdmo.js' %}"></script>
{% endblock extra_js %}

{% block title %}
{{ block.super }} | {{ object.nom }}
{% endblock title %}

{% block meta_description %}{{ object.meta_description|default:block.super }}{% endblock %}

{% block main %}
{% with object.produit as produit %}
<article
    class="qf-flex qf-flex-col
    qf-gap-4w"
>
    <header class="qf-mt-3w md:qf-mt-5w">
        <h1 class="qf-m-0">
            {{ object.nom|capfirst }}
        </h1>
    </header>

    {% include "components/produit/produit.html" %}
</article>
{% endwith %}
{% endblock main %}
