{% extends "qfdmd/base.html" %}

{% block analytics_action %}produitPageView{% endblock %}

{% block title %}
{{ object.nom }} | {{ block.super }}
{% endblock title %}

{% block meta_description %}{{ object.meta_description|default:block.super }}{% endblock %}

{% block main %}
{% with object.produit as produit %}
{% with object.bon_etat as bon_etat %}
{% with object.mauvais_etat as mauvais_etat %}
<article
    class="qf-flex qf-flex-col
    qf-gap-4w max-lg:qf-pr-0 max-xl:qf-pr-6w"
>
    <header class="qf-mt-3w md:qf-mt-5w">
        <h1 class="qf-m-0">
            {{ object.nom|capfirst }}
        </h1>
    </header>

    {% include "components/produit/produit.html" %}
</article>
{% endwith %}
{% endwith %}
{% endwith %}
{% endblock main %}

{% block structured_data %}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "QAPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Que faire de mon {{ object.nom|capfirst }} ?",
        "answerCount": 2,
        "datePublished": "2025-02-02T15:34-05:00",
      "url": "{{ request.build_absolute_uri }}",
        "author": {
          "@type": "Organization",
          "name": "ADEME"
        },
        "acceptedAnswer": {
          "@type": "Answer",
            "text": "{{ object.qu_est_ce_que_j_en_fais|striptags }}",
          "url": "{{ request.build_absolute_uri }}",
          "datePublished": "2024-02-14T16:34-05:00",
            "author": {
              "@type": "Organization",
              "name": "ADEME"
            }
        },
        "suggestedAnswer": [
          {
            "@type": "Answer",
            "text": "Si votre objet est en bon état....voilà quoi en faire",
            "url": "{{ request.build_absolute_uri }}#bonetat",
            "datePublished": "2024-02-14T15:39-05:00",
            "author": {
              "@type": "Organization",
              "name": "ADEME"
            }
          }, {
            "@type": "Answer",
            "text": "Si votre objet est en mauvais état....voilà quoi en faire",
            "url": "{{ request.build_absolute_uri }}#mauvaisetat",
            "datePublished": "2024-02-14T16:02-05:00",
            "author": {
              "@type": "Organization",
              "name": "ADEME"
            }
          }
        ]
      }
    }
</script>
{% endblock structured_data %}
