{% extends "qfdmd/base.html" %}

{% block analytics_action %}produitPageView{% endblock %}

{% block title %}
<title>{{ object.nom }} | {{ seo.title }}</title>
{% endblock title %}

{% block meta_description %}{{ object.meta_description|default:block.super }}{% endblock %}

{% block main %}
{% with produit=object.produit %}
{% with bon_etat=object.bon_etat %}
{% with mauvais_etat=object.mauvais_etat %}
<article
    class="qf-flex qf-flex-col
    qf-gap-2w max-lg:qf-pr-0 max-xl:qf-pr-6w"
>
    {% include "components/produit/produit.html" %}
</article>
{% endwith %}
{% endwith %}
{% endwith %}
{% endblock main %}
