{% block modal_wrapper_for_id %}
<button
    class="fr-btn {{ button_extra_classes }} qf-whitespace-nowrap"
    data-fr-opened="false"
    aria-controls="fr-modal-{{ id }}"
    aria-labelledby="sidebar-action-{{ id }}"
>
      {% block button_text %}{% endblock %}
</button>

<dialog
    aria-labelledby="fr-modal-title-{{ id }}"
    role="dialog"
    id="fr-modal-{{ id }}"
    class="fr-modal z-50 qf-text-left"
>
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-{{ id }}">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h2 id="fr-modal-title-{{ id }}" class=" fr-modal__title">
                            {% block modal_title %}
                            titre de la modale
                            {% endblock modal_title %}
                        </h2>
                        {% block modal_content %}
                        <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. maecenas varius tortor nibh, sit amet tempor nibh finibus et. aenean eu enim justo. vestibulum aliquam hendrerit molestie. mauris malesuada nisi sit amet augue accumsan tincidunt. maecenas tincidunt, velit ac porttitor pulvinar, tortor eros facilisis libero, vitae commodo nunc quam et ligula. ut nec ipsum sapien. interdum et malesuada fames ac ante ipsum primis in faucibus. integer id nisi nec nulla luctus lacinia non eu turpis. etiam in ex imperdiet justo tincidunt egestas. ut porttitor urna ac augue cursus tincidunt sit amet sed orci.</p>
                        {% endblock modal_content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
{% endblock modal_wrapper_for_id %}
