<div class= "qf-max-w-2xl qf-mx-auto qf-text-center qf-flex qf-flex-col qf-gap-3w">
    <p class="qf-m-0">
    {{ heading }}
    </p>

    <ul
        class="qf-flex qf-gap-x-2w qf-gap-y-1w md:qf-gap-y-3w
        qf-leading-[3]
        qf-flex-wrap qf-items-center qf-justify-center "
    >
        {% for text, href in suggestions %}
        <li class="qf-list-none qf-p-0">
        {% include "components/button.html" with text=text|capfirst testid="suggestion" %}
        </li>
        {% endfor %}
    </ul>
</div>
