{% extends 'qfdmo/_addresses_partials/filters/panel_filters.html' %}

{% block modal_title %}
Filtres
{% endblock %}

{% block modal_content %}
    <input
        id="{{ form.direction.id_for_label}}"
        name="{{ form.direction.html_name}}"
        value="{{ form.direction.value() or '' }}"
        type="hidden"
        data-search-solution-form-target="direction"
    >
    {{ form.action_displayed }}
    {% with hidden=hide_object_filter(request) %}
        {% include 'qfdmo/_addresses_partials/filters/_object_filter.html' %}
    {% endwith %}
    {% include 'qfdmo/_addresses_partials/filters/_labels_filters.html' %}
{% endblock modal_content %}
