{% include "gis/openlayers.html" %}

<div data-controller="map-search"
     data-map-search-widget-id-value="{{ widget.attrs.id }}"
     data-map-search-address-field-ids-value="id_adresse,id_adresse_complement,id_code_postal,id_ville">
    <input data-map-search-target="input"
           type="text"
           id="map-search-input"
           name="search"
           class="vTextField"
           placeholder="Adresse à rechercher…" />
    <input type="button"
           data-action="click->map-search#search"
           value="Placer sur la carte" />
</div>
