{% extends "layout/base.html" %}

{% block page_title %}
Réutiliser la carte | {{ super() }}
{% endblock page_title %}

{% block content %}
    <div class="fr-container fr-my-3w">
        <h1 class='qf-sr-only'>Réutiliser la carte sur mon site Internet</h1>
        <h2>Paramètres de l’intégration</h2>
        <form action="{{ url('qfdmo:iframe_configurator') }}" method="post">
            {{ csrf_input }}
            {{ form }}
            <div class="fr-input-group fr-my-4w">
            <button type="submit" class="fr-btn" title="Valider">
                Prévisualiser
            </button>
            </div>
        </form>

        {% if form.cleaned_data %}
            <hr>
            <div
                class="qf-max-w-screen-lg"
                data-controller="scroll"
            >
                <h2>Résultat</h2>
                <h3>Code à implémenter</h3>
                <p>Il vous suffit de copier/coller ce code dans votre site Internet. En cas de difficultés, de questions, ou pour tout autre échange, vous pouvez
                    <a
                        href="{{ url('qfdmo:contact-form') }}?campaign=configurateur"
                        target="_blank"
                        rel="noreferrer"
                    >
                        contacter l’équipe
                    </a>
                    .
                </p>
                {# REFACTO JINJA : when Jinja will be dropped, use components/code/code.html here #}
                <div
                    data-controller="copy"
                    class="qf-flex
                    qf-p-2w qf-bg-grey-975
                    "
                >
                    <pre
                        data-copy-target="toCopy"
                        class="
                        qf-m-0 qf-pr-1w
                        qf-text-blue-france-sun-113
                        qf-whitespace-break-spaces
                        qf-break-all
                    ">{{ iframe_script }}</pre>
                    <button
                        class="fr-btn qf-mb-auto qf-ml-auto"
                        title="Copier"
                        data-action="click->copy#toClipboard"
                        data-copy-target="button"
                    >
                        Copier
                    </button>
                </div>

                <div class="fr-alert fr-alert--info qf-mt-1w qf-mb-4w">
                    <p>
                        Cette balise HTML vous permet d'afficher le simulateur à l'intérieur d'une page de votre site internet.
                        Le module sera automatiquement mis à jour avec les dernières nouveautés.
                    </p>
                </div>
            </div>

            <h3>Prévisualisation</h3>
            {{ iframe_script|safe }}
        {% endif %}
    </div>
{% endblock content %}

{% block js %}{% endblock js %}
