{% load qfdmd_tags %}

<div
    class="
    qf-relative qf-z-10
    qf-rounded-3xl qf-overflow-hidden
    group-data-[home]:qf-rounded-[2rem]
    max-md:qf-rounded-[2rem]
    qf-border-solid qf-border-[3px] qf-border-green-menthe-sun-373-moon-652-hover qf-bg-white
    qf-flex qf-flex-col"
>
    <form
        class="qf-pl-4w {# should match the svg icon width #}
        qf-flex qf-flex-row-reverse qf-relative
        md:group-data-[home]:qf-h-7w
        qf-h-5w
        qf-content-center
        "
    >
        {% for field in autocomplete_search_form %}
            {{ field }}
        {% endfor %}
        <button
            type="submit"
            class="qf-absolute qf-top-0 qf-bottom-0 qf-left-0
            qf-m-auto qf-pl-1v
            fr-btn fr-icon-search-line fr-btn--tertiary-no-outline
            focus:qf-bg-green-menthe-sun-373-moon-652-hover
            focus:qf-ring focus:qf-ring-inset focus:qf-ring-blue-france-sun-113-625-hover
            qf-rounded-l-full
            focus:qf-text-white
            focus:!qf-outline-none
            qf-h-full
            !qf-max-h-[none]
            qf-text-green-menthe-sun-373-moon-652-hover"
        ><span class="qf-sr-only">Rechercher</span></button>
    </form>
</div>
