{% load qfdmd_tags %}
{% with id=search_form.id.value %}
<turbo-frame id="{{ id }}">
    <div
        data-controller="search"
        data-action="
            search:click:outside->search#clear:prevent
            keydown.esc->search#clear:prevent
            keydown.up->search#up:prevent
            keydown.down->search#down:prevent"
        class="
        {# Z-index here helps prevent autocomplete overlapping on the accordion on the homepage #}
        qf-relative qf-z-10
        qf-rounded-3xl qf-overflow-hidden
        group-data-[home]:qf-rounded-[2rem]
        max-md:qf-rounded-[2rem]
        qf-border-solid qf-border-[3px] qf-border-green-menthe-sun-373-moon-652-hover qf-bg-white
        qf-flex qf-flex-col"
    >
        <form
            data-search-target="form"
            data-turbo-frame="{{ id }}:search-results"
            action="{% url 'qfdmd:search' %}"
            class="qf-pl-4w {# should match the svg icon width #}
            qf-flex qf-flex-row-reverse qf-relative
            md:group-data-[home]:qf-h-7w
            qf-h-5w
            qf-content-center
            "
        >
            {% for field in search_form %}
                {{ field }}
            {% endfor %}
            <button
                type="submit"
                class="qf-absolute qf-top-0 qf-bottom-0 qf-left-0
                qf-m-auto qf-pl-1v
                fr-btn fr-icon-search-line fr-btn--tertiary-no-outline
                focus:qf-bg-green-menthe-sun-373-moon-652-hover
                focus:qf-ring focus:qf-ring-inset focus:qf-ring-blue-france-sun-113-625-hover
                qf-rounded-l-full
                focus:qf-text-white
                focus:!qf-outline-none
                qf-h-full
                !qf-max-h-[none]
                qf-text-green-menthe-sun-373-moon-652-hover"
            ><span class="qf-sr-only">Rechercher</span></button>
        </form>

        <turbo-frame
            id="{{ id }}:search-results"
            data-search-target="results"
            class="qf-flex qf-flex-col"
        >
            {% if search_form.results %}
                {% for result in search_form.results %}
                    {% with specific=result.specific %}
                        {% include specific.search_result_template with result=specific %}
                    {% endwith %}
                {% endfor %}
            {% endif %}
        </turbo-frame>
    </div>
</turbo-frame>
{% endwith %}
