{% load static %}
<header class="qf-flex qf-flex-col fr-container qf-relative">
    <div class="qf-flex qf-justify-between qf-pt-3w">
        <a
            class="qf-bg-none qf-flex qf-gap-2w"
            href="{% url 'qfdmd:home' %}"
        >
            <img
                src="{% static 'assistant/bloc-marque.svg' %}"
                class="max-md:qf-max-w-[220px]"
            >
            {% if not assistant.is_home %}
                {% include "components/logo/animated.html" %}
            {% endif %}
        </a>

        {% block header_search %}
        <div
            class="qf-absolute qf-right-2w qf-w-[320px] qf-z-20
            max-md:qf-hidden"
        >
            {% include search_view_template_name %}
        </div>
        {% endblock header_search %}
    </div>

    {% block header_post %}
    {% endblock header_post %}
</header>
