{% extends "dsfr/header.html" %}
{% load menu_tags static %}

{% block header_search %}
    <div
        class="qf-w-[320px]
        qf-ml-auto
        max-md:qf-hidden"
    >
        {% include "components/search/view.html" %}
    </div>
{% endblock header_search %}

{% block brand %}
{% include "components/logo/animated.html" %}
{% endblock brand %}

{% block header_tools_links %}
{% endblock header_tools_links %}

{% block service_title %}
{% endblock service_title %}

{% block service_tagline %}
{% endblock service_tagline %}

{% block operator_logo %}
<img
    src="{% static 'assistant/bloc-marque.svg' %}"
    class="max-md:qf-max-w-[220px]"
    alt="Bloc-marque Ademe & République française"
>
{% endblock operator_logo %}

{% block main_menu %}

{% flat_menu handle="header_assistant" template="components/header/header_menu.html" %}
{% endblock main_menu %}
