project_id            = "your-project-id"
organization_id       = "your-organization-id"
webapp_db_username    = "webapp"
webapp_db_password    = "your-secure-password"  # pragma: allowlist secret
webapp_db_admin_username = "webapp_admin"
webapp_db_admin_password    = "your-secure-password"  # pragma: allowlist secret
webapp_db_metabase_username = "webapp_metabase"
webapp_db_metabase_password    = "your-secure-password"  # pragma: allowlist secret
warehouse_db_username = "warehouse"
warehouse_db_password = "your-secure-password"  # pragma: allowlist secret
warehouse_db_admin_username = "warehouse_admin"
warehouse_db_admin_password = "your-secure-password"  # pragma: allowlist secret
warehouse_db_metabase_username = "warehouse_metabase"
warehouse_db_metabase_password = "your-secure-password"  # pragma: allowlist secret
airflow_db_username = "airflow"
airflow_db_password = "your-secure-password"  # pragma: allowlist secret
airflow_db_admin_username = "airflow"
airflow_db_admin_password = "your-secure-password"  # pragma: allowlist secret
access_key            = "access-key"
secret_key            = "secret-key"  # pragma: allowlist secret