<div class="qfdmo-flex qfdmo-items-start qfdmo-text-info-425">
    <span class="fr-icon-info-fill fr-icon--md qfdmo-scale-75 qfdmo-origin-top"></span>
    <p class="fr-text--xs qfdmo-mb-0">
        Un EPCI est un Établissement public de coopération intercommunale. Pour plus d’informations, <a
            href="https://www.insee.fr/fr/metadonnees/definition/c1160"
            target="_blank"
            rel="noreferrer"
            title="Définition code EPCI - Nouvelle fenêtre"
        >
            rendez-vous sur le site de l’INSEE
        </a>.
    </p>
</div>
