<div
    class="qfdmo-flex qfdmo-flex-col
    qfdmo-grid-cols-1 lg:qfdmo-grid md:qfdmo-grid-cols-[minmax(0,576px)_1fr] qfdmo-gap-7w"
    data-controller="autocomplete"
    data-autocomplete-endpoint-url-value="{{ extra_attrs.endpoint }}"
    data-autocomplete-empty-label-value="{{ extra_attrs.empty_label }}"
>
    <div class="qfdmo-flex qfdmo-flex-col qfdmo-gap-2w">
        <div class="qfdmo-relative">
            {# search box #}
            <input
                data-action="autocomplete#search"
                data-autocomplete-target="input"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                type="text"
                name="search"
                class="fr-input"
            >
            {# This is automatically populated based on the input value #}
            {# Selected results displayed alongside the input #}
            <div
                data-autocomplete-target="searched"
                class="autocomplete-items qfdmo-w-full empty:qfdmo-hidden"
            >
            </div>
        </div>
        {{ extra_attrs.additionnal_info }}
    </div>
    <div class="qfdmo-flex qfdmo-flex-col qfdmo-gap-1w -qfdmo-mt-6w qfdmo-w-full">
        <p class="qfdmo-m-0">{{ extra_attrs.selected_label }} (<span data-autocomplete-target="counter">0</span>)</>
        <div
            class="fr-text--sm qfdmo-p-2w
            qfdmo-flex qfdmo-gap-3v
            qfdmo-flex-wrap
            qfdmo-border qfdmo-border-solid qfdmo-border-grey-900"
            data-autocomplete-target="selected"
        ></div>
    </div>

    {# Hidden form that stores the submitted data #}
    <div class="qfdmo-hidden">
        {% include hidden_template_name %}
    </div>
</div>
