{% extends "forms/widgets/autocomplete.html" %}

{% block data_action %}
{{ block.super }}
change->autocomplete#change
{% endblock data_action %}

{% block choices %}
    <div class="autocomplete-items" data-autocomplete-target="listbox" role="listbox">
        {% for group, option, _ in widget.optgroups %}
            <div
                role="option"
                class="qfdmo-hidden"
                id="{{ option.0.value }}"
                data-action="click -> autocomplete#setActiveOptionFrom"
                data-autocomplete-target="option"
                data-autocomplete-search-value="{{ option.0.value }} {{ option.0.label }}"
                data-autocomplete-value-value="{{ option.0.value }}"
            >
                {{ option.0.label }}
            </div>
        {% endfor %}
    </div>
{% endblock choices %}
