{% extends "ui/components/modals/base.html" %}
{% load script_tags %}

{% block modal_footer %}{% endblock %}

{% block button_text %}
{{ button_text|default:"Intégrer sur votre site" }}
{% endblock button_text %}

{% block modal_title %}
Intégrer notre outil à votre site ou application
{% endblock modal_title %}

{% block modal_content %}
<div class="qf-flex qf-flex-col qf-gap-1w">
    <p>
        Il vous suffit de copier/coller ce code dans votre site Internet. En cas de difficultés, de questions, ou pour tout autre échange, vous pouvez contacter notre équipe.
    </p>

    {% assistant_iframe_script as script %}
    {% include "ui/components/code/code.html" with script=script %}

    <p><strong>Vous souhaitez réutiliser le code de notre outil ?</strong>
        Cet outil est développé de manière ouverte (open source). L’ensemble du code est <a
            href="https://github.com/incubateur-ademe/quefairedemesobjets/"
            target="_blank"
            rel="noreferrer"
            title="Lien vers le dépôt GitHub - Nouvelle fenêtre"
        >disponible librement</a>.
    </p>
</div>
{% endblock modal_content %}

{% block modal_wrapper_for_id %}
    {% with id="integrer-le-site" %}
    {{ block.super }}
    {% endwith %}
{% endblock modal_wrapper_for_id %}
