{% extends "ui/components/modals/base.html" %}
{% load dsfr_tags script_tags turbo_tags %}

{% block size_classes %}fr-col-12 fr-col-md-10 fr-col-lg-10{% endblock %}

{% block button_extra_classes %}fr-btn--secondary fr-btn--icon-left fr-icon-info-line{% endblock %}

{% block button_text %}
Modifier
{% endblock button_text %}

{% block modal_title %}
Modification d'un acteur
{% endblock modal_title %}

{% block modal_content %}
<turbo-frame id="modal-modifier-{{ object.pk }}">
    {% if form %}
        <form method="post" class="qf-flex qf-flex-col qf-gap-2w qf-group" action="{% url "qfdmd:contrib" %}">
            {{ form.errors }}
            {{ form }}
            {% dsfr_button label="Valider" %}
            {% include "ui/components/carte/shared/disclaimers/loading_solutions.html" %}
        </form>
    {% else %}
    Merci pour vos modifications, elles seront prises en compte sous 30 minutes environ.
    {% endif %}
</turbo-frame>
{% endblock modal_content %}

{% block modal_footer %}{% endblock %}

{% block modal_wrapper_for_id %}
{% with id=id|default:"modifier" %}
{{ block.super }}
{% endwith %}
{% endblock modal_wrapper_for_id %}
