{% extends "ui/components/modals/base.html" %}
{% load dsfr_tags script_tags turbo_tags %}

{% block size_classes %}fr-col-12 fr-col-md-10 fr-col-lg-10{% endblock %}

{% block button_extra_classes %}fr-btn--secondary fr-btn--icon-left fr-icon-info-line{% endblock %}

{% block button_text %}
Modifier
{% endblock button_text %}

{% block modal_title %}
Modification d'un acteur
{% endblock modal_title %}

{% block modal_content %}
<turbo-frame id="contrib-acteur-{{ object.pk }}" src="{% url "qfdmd:contrib" object.pk %}"></turbo-frame>
{% endblock modal_content %}

{% block modal_footer %}{% endblock %}

{% block modal_wrapper_for_id %}
{% with id=id|default:"modifier" %}
{{ block.super }}
{% endwith %}
{% endblock modal_wrapper_for_id %}
