<button
    type="button"
    class="
    qf-flex qf-flex-col qf-items-center
    qf-bg-none qf-no-external-link-icon
    qf-space-y-1v
    {% if mobile_only %}
    md:qf-hidden
    {% endif %}
    "
    {% block href_attr %}data-href="{{ url }}{% if utm_source %}?utm_source={{ utm_source }}{% endif %}"{% endblock %}
    {% if title %}title="{{ title }}"{% endif %}
    {% block data_action %}data-action="click -> analytics#captureInteractionWithSolutionDetails click->acteur-details#navigateExternal{% endblock %}
">
    <span class="
        fr-btn fr-btn--sm
        qf-rounded-full
        {% if icon %}{{ icon }}{% endif %}
        {% if extra_classes %}{{ extra_classes }}{% endif %}">
    </span>
    <span class="fr-text--xs fr-mb-0 qf-whitespace-nowrap">{{ text }}</span>
</button>
