{% load acteur_tags %}

{% acteur_url object as url %}
{% acteur_frame_id as frame_id %}

<div class="qf-flex qf-gap-1v qf-max-w-[300px] qf-flex-col">
    <span class="qf-inline">
        {# The wrapping span here prevents the link underline to span over several lines. #}
        <a
            href="{{ url }}"
            data-turbo-frame="{{ frame_id }}"
            data-uuid="{{ object.uuid }}"
            class="qf-mr-auto"
            data-testid="acteur-list-link"
        >
            <strong class="max-md:qf-text-lg max-md:qf-text-blue-france-sun-113-625">{{ object.libelle|title }}</strong>
        </a>
    </span>
    {% acteur_label %}
</div>
