{% load acteur_tags turbo_tags %}
<aside class="
    {% block classes %}
      {# The classes below are specific to carte and can be overriden in Formulaire #}
      qf-z-20
      qf-pt-2w
      max-md:qf-h-full
    {% endblock classes %}

      max-md:qf-left-0
      qf-overflow-auto
      qf-absolute
      max-md:bottom-0

     qf-top-0 qf-right-0 qf-bottom-0
    aria-[hidden=true]:qf-invisible
    md:qf-transition-transform
    md:qf-duration-250
     md:qf-w-[400px] md:qf-translate-x-full
    aria-[hidden=false]:md:qf-translate-x-0
    qf-px-2w
    qf-border-l qf-border-grey-900 qf-border-solid qf-border-t-0 qf-border-r-0 qf-border-b-0
    qf-bg-white
    max-md:qf-bottom-0 max-md:qf-left-0 max-md:qf-right-0
    max-md:qf-drop-shadow-[0_0_100px_rgba(0,0,0,0.3)]
    aria-[hidden=true]:max-md:qf-fade-out
    aria-[hidden=true]:data-[exit-animation-ended=true]:qf-hidden
    "
tabindex="0"
id="acteurDetailsPanel"
aria-hidden="{{ preview|yesno:"false,true" }}"
data-controller="acteur-details"
data-search-solution-form-target="acteurDetailsPanel"
data-acteur-details-map-container-id-value="{% main_frame_id %}"
data-action="keydown.esc@window->acteur-details#hide:stop"
>
  {# Content #}
  <div
      class="qf-flex-grow qf-relative"
      data-acteur-details-target="content"
  >
      {# Close button #}
      <span
          class="
          qf-cursor-pointer
          qf-inline-flex
          fr-icon fr-icon-close-line
          qf-flex qf-justify-end
          qf-absolute qf-left-auto qf-right-0 qf-top-0
          qf-z-10
          qf-bg-white qf-p-1v qf-pr-0 qf-rounded-full
          qf-text-blue-france-sun-113-625"
          data-action="click->acteur-details#hide"
          data-testid="acteur-details-close"
      >
      </span>
      <turbo-frame
          id="{% acteur_frame_id %}"
      ></turbo-frame>
  </div>
</aside>
