{% load analytics_tags dsfr_tags qfdmd_tags static wagtailuserbar %}

{% comment %}
SEO tags are taken from Sites Faciles templates
https://github.com/numerique-gouv/sites-faciles/blob/main/content_manager/templates/content_manager/content_page.html
https://github.com/numerique-gouv/sites-faciles/blob/main/templates/base.html
{% endcomment %}

{% with contact_modal_id="contact" %}

<!DOCTYPE html>
<html
    lang="fr"
    class="qf-scroll-smooth"
    data-no-branding
>
    <head>
        <meta charset="utf-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        {% block title %}
            <title>
            {% if title %}{{ title }} —{% endif %}
            {{ settings.sites_faciles_content_manager.CmsDsfrConfig.site_title }}</title>
        {% endblock title %}

        {% canonical_url %}

        {% block description %}
        <meta name="description" content="{% block meta_description %}{{ seo.description }}{% endblock %}">
        {% endblock description %}

        {% if block_robots %}<meta name="robots" content="noindex, nofollow" />{% endif %}
        {% favicon %}

        {% comment %}
        Preload https://developer.mozilla.org/fr/docs/Web/HTML/Attributes/rel/preload
        {% endcomment %}

        {% dsfr_css %}
        <link rel="stylesheet" href="{% static 'qfdmd.css' %}">

        {% block social_media %}
        <meta property="og:image" content="{% static 'assistant/og-image.jpg' %}" />
        {% endblock social_media %}

        {% matomo assistant.MATOMO_ID %}

        {% block extra_css %}
        {% endblock extra_css %}

        {% block extra_js %}
        {% endblock extra_js %}
    </head>

    <body
        class="qf-flex qf-flex-col qf-group
        {% if iframe %}
        qf-overflow-hidden
        qf-rounded-lg !qf-border !qf-border-solid !qf-border-grey-900
        {% endif %}"
        {% if STIMULUS_DEBUG %}data-stimulus-debug="true"{% endif %}
        {% block body_attrs %}{% endblock %}
        data-controller="state analytics"
        {# State #}
        {% if location %}
        data-map-location-value="{{ location }}"
        {% endif %}
        data-state-map-outlet="[data-controller='map']"
        data-state-address-autocomplete-outlet="[data-controller='address-autocomplete']"
        data-state-search-solution-form-outlet="[data-controller='search-solution-form']"
        {% posthog_data_attributes assistant.POSTHOG_KEY %}
        data-analytics-initial-action-value="{% block analytics_action %}{% endblock %}"
        {# Actions #}
        data-action="address-autocomplete:change->state#setLocation"
    >

        {% if request.user.is_authenticated %}
        {% wagtailuserbar %}
        <div class="qf-mt-2w qf-bg-red-marianne-main-472 qf-text-white qf-text-center qf-w-full qf-py-1v qf-text-xs">
        Vous êtes bien authentifié, vos statistiques PostHog seront ignorées pour cette session | <a href="{% url 'admin:index' %}">accéder à l'administration</a>
        </div>
        {% endif %}

        {% block header %}
        {% include "ui/components/header/header.html" %}
        {% endblock header %}

        {% block pre_main %}
        {% endblock pre_main %}

        <main id="content" class="{% block main_classes %}fr-container{% endblock %} qf-pb-7w">
            {% block main %}
            {% endblock main %}
        </main>

        {% block footer %}
        {% include "ui/components/footer/footer.html" %}
        {% endblock footer %}

        {% dsfr_js %}
        <script type="module" src="{% static 'qfdmd.js' %}"></script>
        {% if iframe and request.user.is_authenticated %}
            <div class="qf-mb-2w qf-bg-warning-425-625-hover qf-text-white qf-text-center qf-w-full qf-py-1v qf-text-xs">
            Le mode iframe de l'assistant est actif
            </div>
        {% endif %}
        {% if "posthog" in request.GET %}
            <div class="qf-bg-green-bourgeon-main-640 qf-text-white qf-text-center qf-w-screen qf-py-1v qf-text-xs">
            Identifiant PostHog : {{ assistant.POSTHOG_KEY }} | Score de conversion : <span id="posthog-banner-conversion-score"></span>
             </div>
        {% endif %}
        {% if "debug" in request.GET %}
            <ul class="qf-list-none qf-flex qf-gap-4w">
                <li>
                SHA : {{ VERSION }}
                </li>
                <li>
                APP : {{ APP }}
                </li>
            </ul>
        {% endif %}
    </body>
</html>

{% endwith %}
