<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>IFrame test : QFDMO</title>
        <meta name="description" content="IFrame test : QFDMO">

    </head>
    <body>
        <div>
            <h1>Page d'affichage dynamique de l'iframe de l'application</h1>
            <p>Ci-dessous s'affiche l'iframe de l'application</p>
        </div>
        {% if request.GET.get('no-height') %}
            <div data-testid="iframe-no-height-wrapper" style="display: none;">
        {% endif %}
        {% if request.GET.get('carte') %}
            <script src="http://localhost:8000/static/carte.js"
                    data-action_displayed="preter|emprunter|louer|mettreenlocation|reparer|donner|echanger|acheter|revendre"
                    data-max-width="800px"
                    data-height="100vh"
                    data-bounding_box="{&quot;southWest&quot;: {&quot;lat&quot;: 47.570401, &quot;lng&quot;: 1.597977}, &quot;northEast&quot;: {&quot;lat&quot;: 48.313697, &quot;lng&quot;: 3.059159}}">
            </script>
        {% else %}

            <script src="http://localhost:8000/static/iframe.js"
                    data-max_width="800px"
                    data-height="100vh"
                    data-direction="jai"
                    data-first_dir="jai"
                    data-action_list="reparer|echanger|mettreenlocation|revendre"
            ></script>
        {% endif %}
        {% if request.GET.get('no-height') %}
            </div>
        {% endif %}
        <div>
            <p>Fin de l'affichage de l'iframe de l'application</p>
        </div>
    </body>
</html>
