{% load dsfr_tags %}
<div>
  <div class="qf-flex qf-flex-col qf-text-right qf-text-grey-425 fr-text--xs">
    {% if request.user.is_staff %}
    <span>
      Pour le staff :
      <a
        target="_blank"
        rel="noreferrer"
        data-turbo="false"
        href="{{ object.change_url }}"
      >
        Lien vers l'admin
      </a>
    </span>
    {% endif %}

    <span> Mis à jour le {{ object.modifie_le_display }} </span>
  </div>

{% if request.user.is_authenticated %}
    {% include "ui/components/modals/modifier.html" with button_only=True %}
{% else %}
  <div class="fr-callout fr-callout--blue-cumulus">
        <a
        class="fr-my-1w qf-mr-auto fr-btn fr-btn--secondary qf-whitespace-nowrap qf-justify-center"
        href="{{ object.suggestion_form_url }}"
        target="_blank"
        rel="noreferrer"
        title="Proposer une modification - Nouvelle fenêtre"
        data-action="click -> analytics#captureInteractionWithSolutionDetails"
        >
        Proposer une modification
        </a>

        <div class="qf-flex qf-flex-col qf-mt-2w qf-gap-1w">
            <h3 class="fr-text--lead">Vous êtes agent public ?</h3>
            <p>Modifiez immédiatement ces données sur l’espace agent public.
                En vous connectant vous acceptez nos modalités d’utilisation.
            </p>
        <div>
            <button class="fr-connect pro-connect">
                <span class="fr-connect__login">S’identifier avec</span
                ><span class="fr-connect__brand">ProConnect</span>
            </button>
        </div>
        </div>
  </div>
{% endif %}
</div>
