Que faire de{% if line_break %}<br>{% endif %} mes <span
    data-controller="blink"
    data-blink-words-value='["objets"]'
    class="qf-text-green-menthe-sun-373-moon-652-hover"
    {% comment %}
    This tag is excluded from our automated axe accessibilty tests because
    it triggers a false positive. Its contrast is sufficient at 4.62 for
    a big title, but for some reason Axe does not detect that the text
    here is displayed in a large font-size.
    {% endcomment %}}
    data-disable-axe
>déchets</span>{% include "./_cursor.html" %}?
