<div>
    <div class="fr-mb-1w">
        {% for action in acteur.acteur_actions(direction=direction) %}
            <p class="fr-badge fr-badge--sm fr-badge--yellow-tournesol">
                <span class="fr-icon-settings-5-line" aria-hidden="true"></span>&nbsp;
                {{action.nom_affiche}}
            </p>
        {% endfor %}
    </div>
    <h3 class="fr-mb-1w" style="max-width: 90%;">
        {{ acteur.nom_affiche }}
    </h3>
    {% if acteur.url %}
        <p class="qfdmo-text-sm fr-mb-2w">
            <a href="{{ acteur.url }}" target="_blank">{{ acteur.url }}</a>
        </p>
    {% endif %}
    <p class="qfdmo-text-sm fr-mb-2w">
        {% for acteur_service in acteur.acteur_services() %}
            {{ acteur_service }}{% if not loop.last %}<br>{% endif %}
        {% endfor %}
    </p>
    {% if not acteur.is_digital %}
        <p class="qfdmo-text-sm">
            {{ acteur.adresse }}<br>
            {% if acteur.adresse_complement %}
                {{ acteur.adresse_complement }}<br>
            {% endif %}
            {{ acteur.code_postal }} {{ acteur.ville }}
            {% if acteur.telephone %}
                <br> {{ acteur.telephone }}
            {% endif %}
        </p>
    {% endif %}
</div>
