{% extends base_template %}

{% block content %}
     <turbo-frame id="turboForm">
         {# Controleur général de gestion de la navigation et du formulaire #}

         <form
             data-controller="search-solution-form" id='search_form'
             data-search-solution-form-target="searchForm"
             data-search-solution-form-is-iframe-value="{{ is_embedded }}"
             data-turbo-frame="addressesPanel"
             class="
                     qfdmo-max-h-[800px]{% if is_embedded %} qfdmo-h-screen{% else %} qfdmo-h-svh{% endif %}
                     qfdmo-flex qfdmo-flex-col qfdmo-flex-auto
                     qfdmo-relative qfdmo-overflow-hidden"
             data-action="
                         map:displayDetails->search-solution-form#displayDetails
                         map:updateBbox->search-solution-form#updateBboxInput
                         map:setSrcDetailsAddress->search-solution-form#setSrcDetailsAddress
                         ss-cat-object-autocomplete:optionSelected->search-solution-form#checkSsCatObjetErrorForm
                         address-autocomplete:optionSelected->search-solution-form#advancedSubmit
                         address-autocomplete:formSubmit->search-solution-form#advancedSubmit
                         ss-cat-object-autocomplete:formSubmit->search-solution-form#advancedSubmit
                         "
         >
             {% include "qfdmo/partials/featureflip_inputs.html" %}

             {# Panel Header #}
             {# TODO: refacto turbo, should be moved outside of form #}
             {% include 'qfdmo/carte/_header.html' %}

             {# Panel Result #}
             {% include 'qfdmo/carte/_result.html' %}

             {# Panel «Filtres» #}
             {% include 'qfdmo/carte/_filters.html' %}

             {# Panel «Legend» #}
             {# TODO: refacto turbo, should be moved outside of form #}
             {% include 'qfdmo/carte/_legend.html' %}

             {# Panel À propos #}
             {# TODO: refacto turbo, should be moved outside of form #}
             {% include 'qfdmo/carte/_a_propos.html' %}

             {{ form.epci_codes }}
         </form>
     </turbo-frame>

     {% include 'qfdmo/reparacteur_modale.html' %}
{% endblock content %}
