<div>
  <button
      {# The rounded-full here need to match the one of the icon #}
      class="fr-btn {{ button_extra_classes }}"
      data-fr-opened="false"
      aria-controls="fr-modal-{{ id }}"
      aria-labelledby="sidebar-action-{{ id }}"
  >
  {{ button_label }}
  </button>
  <dialog
      aria-labelledby="fr-modal-title-{{ id }}"
      role="dialog"
      id="fr-modal-{{ id }}"
      class="fr-modal qf-z-50"
  >
      <div class="fr-container fr-container--fluid fr-container-md">
          <div class="fr-grid-row fr-grid-row--center">
              <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                  <div class="fr-modal__body">
                      <div class="fr-modal__header">
                          <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-{{ id }}">Fermer</button>
                      </div>
                      <div class="fr-modal__content">
                        {% include modal %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </dialog>
</div>
