<fieldset class="fr-fieldset qf-gap-y-2w" aria-labelledby="labels-filters-legend">
    <legend class="qf-hidden" id="labels-filters-legend">
        Choisir le(s) filtre(s)
    </legend>

    {% include "ui/components/formulaire/filtres/_labels_filters_field.html" with field=form.bonus %}

    {% include "ui/components/formulaire/filtres/_labels_filters_field.html" with field=form.ess %}

    {% include "ui/components/formulaire/filtres/_labels_filters_field.html" with field=form.label_reparacteur %}

    {% include "ui/components/formulaire/filtres/_labels_filters_field.html" with field=form.pas_exclusivite_reparation %}
</fieldset>
