{% extends 'layout/base.html' %}

{% block content %}
    <div class="fr-container qfdmo-bg-blue-france qfdmo-min-h-screen qfdmo-flex qfdmo-flex-col qfdmo-flex-auto">
        <div class="qfdmo-bg-orange-terre-battue qfdmo-relative qfdmo-h-0 qfdmo-duration-300 qfdmo-overflow-hidden"
            id="search_summary"
        >
            <button
                type="button"
                class="fr-btn fr-m-1w fr-btn--icon-left fr-icon-search-line"
                onclick="toggleSearch()"
            >Retour à la recherche</button>
        </div>
        <div class="qfdmo-bg-green-emeraude qfdmo-relative qfdmo-h-0 qfdmo-flex-grow qfdmo-duration-300 qfdmo-overflow-hidden"
            id="search_form"
        >
            <p>Search</p>
            <p>here is my search, I have a lot to say !!!</p>
            <p>Many inputs</p>
            <button
                type="button"
                class="fr-btn fr-m-1w fr-btn--icon-left fr-icon-search-line"
                onclick="toggleSearch()"
            >Rechercher les adresses</button>
        </div>
        <div class="qfdmo-bg-yellow-tournesol qfdmo-relative qfdmo-h-0 qfdmo-duration-300 qfdmo-overflow-hidden qfdmo-z-1" id="adresses">
            <p>Adresse : Carte / En ligne / A domicile</p>
            <button
                type="button"
                class="fr-btn"
                onclick="displayDetail()"
            >Afficher le detail d'une fiche</button>
            <div class="
                qfdmo-bg-purple-glycine qfdmo-absolute qfdmo-duration-300 qfdmo-overflow-hidden
                qfdmo-w-full qfdmo-h-0 qfdmo--bottom-0
                md:qfdmo-h-full md:qfdmo-w-0 md:qfdmo--right-0 md:qfdmo-top-0"
                id="detail">
                <p>detail de l'adresse</p>
                <button class="fr-btn" onclick="displayFullDetail()">Full</button>
                <button class="fr-btn" onclick="displayDetail()">Collapse</button>
                <button class="fr-btn" onclick="hideDetail()">Close</button>
            </div>
        </div>
    </div>
    <script>
        let searchView = true
        function toggleSearch() {
            var search_form = document.getElementById("search_form");
            var adresses = document.getElementById("adresses");
            let search_summary = document.getElementById("search_summary");
            hideDetail()
            if (searchView) {
                searchView = false
                adresses.classList.add("qfdmo-flex-grow");
                search_summary.classList.remove("qfdmo-h-0");
                search_form.classList.remove("qfdmo-flex-grow");
            } else {
                searchView = true
                search_form.classList.add("qfdmo-flex-grow");
                search_summary.classList.add("qfdmo-h-0");
                adresses.classList.remove("qfdmo-flex-grow");
            }
        }
        function displayDetail() {
            var detail = document.getElementById("detail");

            // mobile
            detail.classList.remove("qfdmo-h-0");
            detail.classList.remove("qfdmo-h-full");
            detail.classList.add("qfdmo-h-1/3");

            // desktop
            detail.classList.add("md:qfdmo-w-2/5");
            detail.classList.remove("md:qfdmo-w-full");
            detail.classList.remove("md:qfdmo-w-0");
        }
        function displayFullDetail() {
            var detail = document.getElementById("detail");

            // mobile
            detail.classList.remove("qfdmo-h-0");
            detail.classList.remove("qfdmo-h-1/3");
            detail.classList.add("qfdmo-h-full");

            // desktop
            detail.classList.add("md:qfdmo-w-full");
            detail.classList.remove("md:qfdmo-w-0");
            detail.classList.remove("md:qfdmo-w-2/5");

        }
        function hideDetail() {
            var detail = document.getElementById("detail");

            // mobile
            detail.classList.add("qfdmo-h-0");
            detail.classList.remove("qfdmo-h-full");
            detail.classList.remove("qfdmo-h-1/3");

            // desktop
            detail.classList.add("md:qfdmo-w-0");
            detail.classList.remove("md:qfdmo-w-full");
            detail.classList.remove("md:qfdmo-w-2/5");

        }
    </script>
{% endblock %}
