/* Import de Tailwind CSS pour Django Admin */
@tailwind base;
@tailwind components;
@tailwind utilities;

.suggestion-text-removed {
  @apply qf-text-red-500 qf-line-through;
}

.suggestion-text-added {
  @apply qf-text-green-800;
}

.no-suggestion-text {
  @apply qf-text-grey-425-625;
}

.model-suggestion.change-list .action-select {
  height: 100px;
}

.tabs {
  @apply qf-border-0 qf-border-b qf-border-solid;
}

.tabs li {
  @apply qf-inline-block qf-p-1w qf-text-center !important;
}

.tabs li.active {
  @apply qf-border-b-2 qf-font-bold !important;
}

.tabs li:hover {
}

.tabs li:active {
}
