@import "./dsfr-overrides.css";
@import "./maplibre-overrides.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  font-family: Marianne, arial, sans-serif;
  font-weight: 500;
}

/*
Style the autocomplete container:
*/

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  z-index: 10001;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.active-pinpoint [data-animated] {
  @apply qf-animate-wave qf-fill-mode-forwards;
}

.map-grid {
  @apply max-nolegend:qf-flex qf-flex-col;
  @apply qf-h-full nolegend:qf-grid qf-gap-0;
  @apply qf-grid-flow-row-dense;
  @apply qf-transition-[grid-template-columns] qf-ease-in qf-duration-200;
  @media (min-width: 768px) {
    grid-template-rows: var(--header-height) 1.5fr var(--footer-height);
    grid-template-areas:
      "header"
      "map"
      "footer";
  }

  > footer {
    grid-area: footer;
  }

  > aside {
    grid-area: map;
  }

  > header {
    grid-area: header;
  }

  > main {
    grid-area: map;
  }
}

:root {
  --footer-height: 0;
  --sidebar-width: 0;
  --header-height: 120px;
  --footer-height: 0;
  --base-header-height: 117px;
  --legend-buttons-height: 40px;

  /* keep max width value in sync with tailwind breakpoints config */
  @media (min-width: 1024px) {
    --header-height: var(--base-header-height);
  }
}

:root[data-legend-hidden] {
  /* keep max width value in sync with tailwind breakpoints config */
  @media (max-width: 1024px) {
    --header-height: var(--base-header-height);
  }
}

:root[data-no-branding] {
  --base-header-height: 105px;
  --header-height: var(--base-header-height);
  @media (max-width: 1024px) {
    --header-height: calc(var(--legend-buttons-height) + var(--base-header-height));
  }
}

:root[data-formulaire] {
  --footer-height: 100px;
  --header-height: 135px;
}
