.fr-icon-action-acheter::before,
.fr-icon-action-acheter::after {
  -webkit-mask-image: url("../svg/acheter.svg");
  mask-image: url("../svg/acheter.svg");
}

.fr-icon-action-donner::before,
.fr-icon-action-donner::after {
  -webkit-mask-image: url("../svg/donner.svg");
  mask-image: url("../svg/donner.svg");
}

.fr-icon-action-echanger::before,
.fr-icon-action-echanger::after {
  -webkit-mask-image: url("../svg/echanger.svg");
  mask-image: url("../svg/echanger.svg");
}

.fr-icon-action-emprunter::before,
.fr-icon-action-emprunter::after {
  -webkit-mask-image: url("../svg/emprunter.svg");
  mask-image: url("../svg/emprunter.svg");
}

.fr-icon-action-louer::before,
.fr-icon-action-louer::after {
  -webkit-mask-image: url("../svg/louer.svg");
  mask-image: url("../svg/louer.svg");
}

.fr-icon-action-mettreenlocation::before,
.fr-icon-action-mettreenlocation::after {
  -webkit-mask-image: url("../svg/mettreenlocation.svg");
  mask-image: url("../svg/mettreenlocation.svg");
}

.fr-icon-action-preter::before,
.fr-icon-action-preter::after {
  -webkit-mask-image: url("../svg/preter.svg");
  mask-image: url("../svg/preter.svg");
}

.fr-icon-action-reparer::before,
.fr-icon-action-reparer::after {
  -webkit-mask-image: url("../svg/reparer.svg");
  mask-image: url("../svg/reparer.svg");
}

.fr-icon-action-vendre::before,
.fr-icon-action-vendre::after {
  -webkit-mask-image: url("../svg/vendre.svg");
  mask-image: url("../svg/vendre.svg");
}

.fr-icon-share-line::before,
.fr-icon-share-line::after {
  -webkit-mask-image: url("../svg/share-line.svg");
  mask-image: url("../svg/share-line.svg");
}

.fr-icon-shield-check-line::before,
.fr-icon-shield-check-line::after {
  -webkit-mask-image: url("../svg/shield-check-line.svg");
  mask-image: url("../svg/shield-check-line.svg");
}

.fr-icon-money-euro-box-line::before,
.fr-icon-money-euro-box-line::after {
  -webkit-mask-image: url("../svg/money-euro-box-line.svg");
  mask-image: url("../svg/money-euro-box-line.svg");
}

.fr-icon-percent-line::before,
.fr-icon-percent-line::after {
  -webkit-mask-image: url("../svg/bonus-reparation.svg");
  mask-image: url("../svg/bonus-reparation.svg");
}

.fr-icon-tools-fill::before,
.fr-icon-tools-fill::after {
  -webkit-mask-image: url("../svg/tools-fill.svg");
  mask-image: url("../svg/tools-fill.svg");
}

.fr-icon-hand-heart::before,
.fr-icon-hand-heart::after {
  -webkit-mask-image: url("../svg/hand-heart.svg");
  mask-image: url("../svg/hand-heart.svg");
}

.fr-icon-money-euro-circle-line::before,
.fr-icon-money-euro-circle-line::after {
  -webkit-mask-image: url("../svg/money-euro-circle-line.svg");
  mask-image: url("../svg/money-euro-circle-line.svg");
}

.fr-icon-epingle-plus::before,
.fr-icon-epingle-plus::after {
  -webkit-mask-image: url("../svg/epingle-plus.svg");
  mask-image: url("../svg/epingle-plus.svg");
}

.fr-btn--icon-left.fr-btn[target="_blank"]::after {
  display: none;
}

/*
DSFR customization for tabs
*/

.fr-tabs--noborder-mobile {
  &:before,
  & {
    @apply max-md:qf-shadow-none;
  }

  .fr-tabs__list {
    @apply max-md:qf-p-0;
  }

  .fr-tabs__panel {
    @apply max-md:qf-py-1w max-md:qf-px-0;
  }

  .fr-tabs__list {
    @apply max-md:qf-space-x-1w max-md:qf-min-h-min;
  }

  .fr-tabs__tab {
    @apply max-md:qf-m-0;
  }
}

.fr-tabs--noborder {
  &:before,
  & {
    @apply qf-shadow-none;
  }

  .fr-tabs__list {
    @apply qf-p-0;
  }

  .fr-tabs__panel {
    @apply qf-py-1w qf-px-0;
  }

  .fr-tabs__list {
    @apply qf-space-x-1w qf-min-h-min;
  }

  .fr-tabs__tab {
    @apply qf-m-0;
  }
}

.qf-no-external-link-icon {
  &,
  .fr-link& {
    &:after {
      content: none;
    }
  }
}
.fr-link--no-underline {
  background-image: none !important;
}

.fr-btn--secondary-light {
  background-color: #f5f5fe !important;
  color: var(--text-active-blue-france) !important;
  border-style: none !important;
}

.fr-btn--secondary-light:hover {
  background-color: #dcdcfc !important;
}

/* OPTIMIZE : solution temporaire, pour coller aux contraintes d'accessibilité
* de Havas, cf https://www.notion.so/accelerateur-transition-ecologique-ademe/ACCESSIBILIT-CARTE-FORMULAIRE-Contr-le-segment-actif-pas-assez-clair-48f99736d566414d8d7ba5c1a6e24361?pvs=4
* À remonter au DSFR et supprimer lorqsu'ils l'auront implémenté.
*/
.fr-segmented__element input:checked:focus + label {
  outline: 2px solid #0a76f6;
}

.fr-input[type="range"] {
  box-shadow: none;
}

.fr-header__service {
  @apply qf-hidden;
}

.fr-table--mode-liste {
  @apply max-md:qf-mt-0;

  thead {
    @apply max-md:qf-hidden;
  }
  tbody {
    @apply max-md:qf-flex qf-flex-col qf-gap-1w;
  }

  tr {
    @apply max-md:qf-flex qf-flex-col;
    @apply max-md:qf-border max-md:qf-border-solid max-md:qf-py-2w max-md:qf-mb-0 max-md:qf-border-grey-900 max-md:qf-mb-2w;
  }

  td {
    @apply max-md:!qf-px-2w;
  }

  .fr-table__content table tbody td {
    @apply max-md:!qf-bg-none;
  }

  .fr-table__wrapper::after {
    @apply max-md:!qf-bg-none;
  }
}

#view-mode-nav {
  > .fr-input-group {
    @apply qf-mb-0;
  }
}

.fr-segmented__legend:not(:has(*)),
.fr-fieldset__legend:not(:has(*)) {
  @apply qf-hidden;
}

/* Duplicated styles from DSFR source to provide responsive approach for
segmented elements in the view mode switch
https://github.com/GouvernementFR/dsfr/blob/6a2bbfe02e396d8d77c50efee9638ab78c7b277b/src/dsfr/component/segmented/style/module/_sm.scss#L9
*/
@media (width < 48rem) {
  .max-nolegend\:fr-segmented--sm {
    input + label {
      max-width: 100%;
      min-height: 2rem;
      max-height: none;
      overflow: initial;
      padding: 0.25rem 0.75rem;
      font-size: 0.875rem;
      line-height: 1.5rem;
      &::before {
        --icon-size: 1rem;
        margin-left: -0.125rem;
        margin-right: 0.5rem;
      }
    }
  }
}
