@import "./carte.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p a {
    @apply qf-text-blue-france-sun-113-625;
  }

  pre,
  code {
    @apply qf-text-blue-france-sun-113-625 qf-font-bold;
  }
}

@layer components {
  .patchwork {
    @apply qf-grid md:qf-gap-y-[1.75rem] max-md:qf-pb-2w qf-pb-4w qf-pt-4w qf-relative;
    grid:
      ". item-1 . item-2 . item-3 item-4 . item-5 . item-6 item-7 . item-8 item-9 ." 1fr
      "item-10 . item-11 item-12 . item-13 . item-14 . item-15 . . item-16 item-17 . item-18" 1fr
      ". item-19 item-20 . logo logo logo logo logo logo logo logo item-21 . item-22 ." 1fr
      "item-23 item-24 . item-25 . . . . . . . . item-26 . item-27 item-28" 1fr
      / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    .logo {
      grid-area: logo;
      @apply max-md:qf-pt-1w max-md:qf-h-[6.5rem] md:qf-h-9w;
      @apply md:qf-pt-2w qf-flex qf-justify-center qf-items-center;
    }

    /* First row */
    .item-1 {
      grid-area: item-1;
      @apply -qf-translate-x-[1rem];
      @apply max-xl:qf-hidden;
    }
    .item-2 {
      grid-area: item-2;
      @apply -qf-translate-x-[2rem];
      @apply max-xl:qf-hidden;
    }
    .item-3 {
      grid-area: item-3;
      @apply -qf-translate-x-[3rem];
      @apply max-xl:qf-hidden;
    }
    .item-4 {
      grid-area: item-4;
      @apply qf-translate-x-[1rem];
      @apply max-xl:qf-hidden;
    }
    .item-5 {
      grid-area: item-5;
      @apply qf-translate-x-[1rem];
      @apply max-xl:qf-hidden;
    }
    .item-6 {
      grid-area: item-6;
      @apply max-xl:qf-hidden;
    }
    .item-7 {
      grid-area: item-7;
      @apply qf-translate-x-[2rem] qf-translate-y-[3rem];
      @apply max-xl:qf-hidden;
    }
    .item-8 {
      grid-area: item-8;
      @apply -qf-translate-y-[0.25rem];
      @apply max-xl:qf-hidden;
    }
    .item-9 {
      grid-area: item-9;
      @apply qf-translate-x-[3rem];
      @apply max-xl:qf-hidden;
    }

    /* Second row */
    .item-10 {
      grid-area: item-10;
      /* @apply max-lg:qf-hidden max-md:qf-block; */
    }
    .item-11 {
      grid-area: item-11;
      @apply xl:qf-translate-y-[0.25rem] xl:-qf-translate-x-[2rem];
      /* @apply max-xl:-qf-translate-y-[2rem] max-xl:qf-translate-x-[3rem]; */
      @apply max-xl:qf-hidden max-lg:qf-block;
    }
    .item-12 {
      grid-area: item-12;
      @apply md:qf-translate-y-[.75rem] md:qf-translate-x-[1rem];
    }
    .item-13 {
      grid-area: item-13;
      @apply md:-qf-translate-y-[.5rem] md:qf-translate-x-[1rem];
    }
    .item-14 {
      grid-area: item-14;
      @apply md:-qf-translate-y-[.5rem] md:qf-translate-x-[1rem];
      @apply max-md:qf-block md:qf-hidden lg:qf-block;
    }
    .item-15 {
      grid-area: item-15;
      @apply md:qf-translate-x-[1rem];
    }
    .item-16 {
      grid-area: item-16;
      @apply md:qf-translate-y-[2rem] md:qf-translate-x-[.5rem];
    }
    .item-17 {
      grid-area: item-17;
      @apply md:-qf-translate-y-[.5rem] md:qf-translate-x-[2rem];
    }
    .item-18 {
      grid-area: item-18;
      /* @apply max-lg:qf-hidden; */
    }

    /* 3rd row, left */
    .item-19 {
      grid-area: item-19;
      @apply md:-qf-translate-x-[2rem] md:-qf-translate-y-[1rem];
    }
    .item-20 {
      grid-area: item-20;
      @apply max-md:qf-block max-lg:qf-hidden;
      @apply md:qf-translate-x-[2.5rem];
    }
    /* 3rd row, right */
    .item-21 {
      grid-area: item-21;
      @apply max-lg:qf-hidden max-md:qf-block;
      @apply md:qf-translate-x-[4rem];
    }
    .item-22 {
      grid-area: item-22;
      @apply md:qf-translate-x-[3rem] md:-qf-translate-y-[.25rem];
    }

    /* 4th row, left */
    .item-23 {
      grid-area: item-23;
      @apply md:-qf-translate-y-[1rem] md:-qf-translate-x-[1rem];
    }
    .item-24 {
      grid-area: item-24;
      @apply md:qf-translate-y-[.5rem] md:qf-translate-x-[2rem];
    }
    .item-25 {
      grid-area: item-25;
      @apply md:qf-translate-x-[1rem];
    }

    /* 4th row, right */
    .item-26 {
      grid-area: item-26;
    }
    .item-27 {
      grid-area: item-27;
      @apply md:-qf-translate-y-[1rem] md:-qf-translate-x-[2rem];
    }
    .item-28 {
      grid-area: item-28;
      @apply -qf-translate-y-[.5rem] qf-translate-x-[1rem];
      @apply max-md:qf-hidden;
    }

    .icon {
      @apply max-md:qf-w-[2rem] max-md:qf-h-[2rem];

      svg {
        @apply qf-w-full qf-h-full;
      }
      a {
        &:hover {
          @apply md:qf-scale-[1.1];
        }

        @apply qf-origin-center qf-transition-transform !qf-bg-none qf-inline-flex;

        &:active {
          background-color: transparent;
        }
      }
    }
  }
  @media (max-width: 1280px) {
    .patchwork {
      /* Hide the first line */
      grid:
      /* ". item-1 . item-2 . item-3 item-4 . item-5 . item-6 item-7 . item-8 item-9 ." 1fr */
        "item-10 . item-11 item-12 . item-13 . item-14 . item-15 . . item-16 item-17 . item-18" 1fr
        ". item-19 item-20 . logo logo logo logo logo logo logo logo item-21 . item-22 ." 1fr
        "item-23 item-24 . item-25 . . . . . . . . item-26 . item-27 item-28" 1fr
        / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }

  @media (max-width: 768px) {
    /** The row height is driven by the logo actual height.
      Making the logo higher will impact all other row. So changes
      to the logo height need to be reflected in each rows by tweaking
      the 0.nfr value at the end of each line.
      */
    .patchwork {
      grid:
        ". item-10 . item-11 . item-12 . item-13 ." 0.4fr
        "item-14 . item-15 . item-16 . item-17 . item-18" 0.4fr
        "logo logo logo logo logo logo logo logo logo" 1fr
        "item-19 . item-20 . item-21 . item-22 . item-23" 0.4fr
        ". item-24 . item-25 . item-26 . item-27 ." 0.4fr
        / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
  .qf-btn {
    @apply qf-rounded-full qf-py-3v qf-px-3w qf-bg-none qf-bg-green-menthe-sun-373-moon-652;
    @apply qf-text-blue-france-975-75 qf-font-bold;
    @apply hover:!qf-bg-green-menthe-sun-373-moon-652-hover qf-transition-colors;
  }
}

.fr-footer__logo {
  @apply qf-max-h-12w;
}

:root {
  --header-height: 72px;
}
