@import "npm:@gouvfr/dsfr/dist/dsfr.css";
@import "npm:@gouvfr/dsfr/dist/utility/utility.css";
@import "npm:leaflet/dist/leaflet.css";
@import "npm:leaflet-extra-markers/dist/css/leaflet.extra-markers.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-control-zoom a {
    background-image: none;
}

.leaflet-marker-icon i.qfdmo-icon {
    margin-top: 5px;
}

/*
Style the autocomplete container:
*/

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10000;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}
