@import "npm:leaflet/dist/leaflet.css";

@import "../css/base.css";
@import "../css/leaflet-overrides.css";
@import "../css/dsfr-overrides.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


pre {
  font-family: Marianne, arial, sans-serif;
  font-weight: 500;
}

/*
Style the autocomplete container:
*/

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  z-index: 10001;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.active-pinpoint [data-animated] {
  @apply qf-animate-wave qf-fill-mode-forwards;
}

.map-grid {
  @apply qf-min-h-screen md:qf-grid qf-gap-0;
  @apply qf-grid-flow-row-dense;
  @apply qf-transition-[grid-template-columns] qf-ease-in qf-duration-200;
  grid-template-columns: auto var(--sidebar-width);
  grid-template-rows: var(--header-height) 1.5fr var(--footer-height);
  grid-template-areas:
    "header header"
    "map detail"
    "footer footer";

  &:has(> aside[aria-hidden="false"]) {
    @apply qf-ease-out;
    --sidebar-width: 400px;
  }

  > aside {
    grid-area: detail;
  }

  > footer {
    grid-area: footer;
  }

  > header {
    grid-area: header;
  }

  > main {
    grid-area: map;
  }
}

:root {
    --footer-height: 0;
    --sidebar-width: 0;
    --header-height: 120px;
}

:root[data-formulaire] {
    --footer-height: 100px;
    --header-height: 135px;
}
