@import "../css/base.css";

p a {
  @apply qf-text-blue-france-sun-113-625;
}
pre,
code {
  @apply qf-text-blue-france-sun-113-625 qf-font-bold;
}

.patchwork {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "top top top"
      "left middle right";
    position: relative;

    .top {
      grid-area: top;
      /* @apply qf-flex qf-flex-wrap qf-gap-4w qf-justify-center; */
      display: grid;
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        grid-auto-rows: 1fr;
    }

    .left {
      grid-area: left;
      display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: 1fr;
    }

    .middle {
        @apply qf-p-7w;
      grid-area: middle;
    }

    .right {
      grid-area: right;
      display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: 1fr;
    }

  .icon {
    @apply qf-aspect-square qf-origin-center qf-inline-flex qf-transition-transform;
    --scale: 1;
    transform: translate(
        calc(var(--random-x, 0) * 1px),
        calc(var(--random-y, 0) * 1px)
      )
      scale(var(--scale))
      rotate(calc(var(--random-rotate, 0) * 2deg));
      &:hover {
        --scale: 1.2;
      }
  }

  .title span {
    color: #30a490; /* Highlight for 'objets' */
  }
}
