@import "npm:@gouvfr/dsfr/dist/dsfr.css";
@import "npm:@gouvfr/dsfr/dist/utility/utility.css";
@import "npm:leaflet/dist/leaflet.css";
@import "npm:leaflet-extra-markers/dist/css/leaflet.extra-markers.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.fr-enlarge-link a::before {
    position: relative !important;
}

.leaflet-container a {
    color: var(--text-action-high-blue-france);
}

.leaflet-control-zoom a {
    background-image: none;
}

.leaflet-popup {
    max-width: 80vw;
}

.leaflet-marker-icon i.qfdmo-icon {
    margin-top: 5px;
}

/*
Style the autocomplete container:
*/

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10001;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/*
    Action icones
*/

.fr-icon-action-acheter::before,
.fr-icon-action-acheter::after {
    -webkit-mask-image: url("svg/acheter.svg");
    mask-image: url("svg/acheter.svg");
}

.fr-icon-action-donner::before,
.fr-icon-action-donner::after {
    -webkit-mask-image: url("svg/donner.svg");
    mask-image: url("svg/donner.svg");
}

.fr-icon-action-echanger::before,
.fr-icon-action-echanger::after {
    -webkit-mask-image: url("svg/echanger.svg");
    mask-image: url("svg/echanger.svg");
}

.fr-icon-action-emprunter::before,
.fr-icon-action-emprunter::after {
    -webkit-mask-image: url("svg/emprunter.svg");
    mask-image: url("svg/emprunter.svg");
}

.fr-icon-action-louer::before,
.fr-icon-action-louer::after {
    -webkit-mask-image: url("svg/louer.svg");
    mask-image: url("svg/louer.svg");
}

.fr-icon-action-mettreenlocation::before,
.fr-icon-action-mettreenlocation::after {
    -webkit-mask-image: url("svg/mettreenlocation.svg");
    mask-image: url("svg/mettreenlocation.svg");
}

.fr-icon-action-preter::before,
.fr-icon-action-preter::after {
    -webkit-mask-image: url("svg/preter.svg");
    mask-image: url("svg/preter.svg");
}

.fr-icon-action-reparer::before,
.fr-icon-action-reparer::after {
    -webkit-mask-image: url("svg/reparer.svg");
    mask-image: url("svg/reparer.svg");
}

.fr-icon-action-vendre::before,
.fr-icon-action-vendre::after {
    -webkit-mask-image: url("svg/vendre.svg");
    mask-image: url("svg/vendre.svg");
}

/*
 * Failed to load some tailwind classes with parcel
 */

.qfdmo--bottom-5 {
    bottom: -1.25rem;
}

.qfdmo-right-2 {
    right: 0.5rem;
}

.qfdmo--top-5 {
    top: -1.25rem;
}