{% if icon %}
    <div
        class="qfdmo-flex qfdmo-flex-row qfdmo-items-center"
    >
{% endif %}
<div class="fr-fieldset__element fr-fieldset__element--inline qfdmo-font-normal">
    <div
        class="fr-checkbox-group qfdmo-flex qfdmo-flex-row qfdmo-items-center"
    >
        {{ field }}
        {{ field.label_tag }}
    </div>
    <span class="fr-hint-text" id="{{ field.id_for_label }}_helptext">{{ field.help_text }}</span>
</div>

{% if icon %}
    {% include icon %}
    </div>
{% endif %}
