<fieldset class="fr-fieldset qf-gap-y-2w" aria-labelledby="labels-filters-legend">
    <legend class="qf-hidden" id="labels-filters-legend">
        Choisir le(s) filtre(s)
    </legend>

    {% with field=form.bonus %}
        {% include "qfdmo/_addresses_partials/filters/_labels_filters_field.html" %}
    {% endwith %}

    {% with field=form.ess %}
        {% include "qfdmo/_addresses_partials/filters/_labels_filters_field.html" %}
    {% endwith %}

    {% with field=form.label_reparacteur %}
        {% include "qfdmo/_addresses_partials/filters/_labels_filters_field.html" %}
    {% endwith %}

    {% with field=form.pas_exclusivite_reparation %}
        {% include "qfdmo/_addresses_partials/filters/_labels_filters_field.html" %}
    {% endwith %}
</fieldset>
