.venv
__pycache__
*.pyc
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
htmlcov

node_modules
.parcel-cache

.env
.env.*

static/compiled
static/collected
staticfiles
media
dist

test-results
playwright-report
blob-report

e2e_tests
unit_tests
integration_tests
