# AWS credentials, needed for images s3 storage (using Scaleway)
AWS_ACCESS_KEY_ID=
AWS_S3_ENDPOINT_URL='https://s3.fr-par.scw.cloud'
AWS_S3_REGION_NAME='fr-par'
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME='qfdmo-interface'

CARTE_MAX_SOLUTION_DISPLAYED=10

# Adding a comment at the end of database url connection string breaks
# the variable when running django server.
# pragma: allowlist nextline secret
DATABASE_URL=postgres://webapp:webapp@localhost:6543/webapp
# pragma: allowlist nextline secret
DB_WEBAPP_SAMPLE=postgres://webapp_sample:webapp_sample@localhost:6543/webapp_sample
# pragma: allowlist nextline secret
SAMPLE_DATABASE_URL=postgres://webapp_sample:webapp_sample@localhost:6543/webapp_sample
REMOTE_SAMPLE_DATABASE_URL=
# pragma: allowlist nextline secret
DB_WAREHOUSE=postgres://warehouse:warehouse@localhost:8765/warehouse
DEBUG=True
WITH_DJANGO_DEBUG_TOOLBAR=True
WITH_DJANGO_SILK=False
# This is only for dev usage, to bypass readonly fields in Django admin
BYPASS_ACTEUR_READONLY_FIELDS=False

# This is the default max number of acteurs displayed on the carte
DEFAULT_MAX_SOLUTION_DISPLAYED=10

# This is the default max distance for the search on the carte
DISTANCE_MAX=30000

# This is the limit for the import/export of data in Django admin, 0 is no limit
DJANGO_IMPORT_EXPORT_LIMIT=0

# This is the environment of the application
ENVIRONMENT=development

# This is the secret key for the application
SECRET_KEY=my-secret-key # pragma: allowlist secret

# This is the Sentry DSN for the application
SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0

STIMULUS_DEBUG=false
POSTHOG_DEBUG=false
ASSISTANT_MATOMO_ID=82

# Posthog Assistant [DEV] project
# pragma: allowlist nextline secret
ASSISTANT_POSTHOG_KEY=phc_fSfhoWDOUxZdKWty16Z3XfRiAoWd1qdJK0N0z9kQHJr
# Posthog Carte [DEV] project
# pragma: allowlist nextline secret
CARTE_POSTHOG_KEY=phc_SwcKewoXg9MZyAIdl8qsyvwz3Vij8Vlrbr2SjEeN3u9

NOTION_TOKEN=
NOTION_CONTACT_FORM_DATABASE_ID=17c6523d57d78140b87f000cd3ecef4b # Correspond à https://www.notion.so/accelerateur-transition-ecologique-ademe/17c6523d57d7808b8cc5f5ccae264f7c?v=17c6523d57d78140b87f000cd3ecef4b&pvs=4

# https://docs.djangoproject.com/en/6.0/ref/settings/#data-upload-max-number-fields
# DATA_UPLOAD_MAX_NUMBER_FIELDS=10000

BASE_URL=https://quefairedemesdechets.ademe.local

# API Stats
POSTHOG_PERSONAL_API_KEY=

# Nginx (local only)
# Set to 1 to disable nginx caching locally
NGINX_DISABLE_CACHE=0
