<div class= "qf-max-w-2xl qf-text-center {{ extra_classes }}">
    {% if heading %}
    <h2 class="qf-text-lg">
    {{ heading }}
    </h2>
    {% endif %}

    <ul
        class="max-md:qf-flex-row qf-p-0 qf-m-0 qf-flex qf-gap-x-2w qf-gap-y-1w md:qf-gap-y-3w
        qf-leading-[3]
        qf-flex-wrap qf-items-center qf-justify-center "
    >
        <li class="max-md:qf-flex-1 qf-list-none qf-p-0">
        {% include "ui/components/modals/share.html" with button_extra_classes="qf-w-full qf-justify-center fr-btn--secondary fr-btn--icon-left fr-icon fr-icon-share-line" %}
        </li>
        <li class="max-md:qf-flex-1 qf-list-none qf-p-0">
        {% include "ui/components/modals/embed.html" with button_extra_classes="qf-w-full qf-justify-center fr-btn--tertiary fr-btn--icon-left fr-icon fr-icon-code-s-slash-line" %}
        </li>
    </ul>
</div>
