<div
    class="fr-container qfdmo-px-0 md:qfdmo-px-2w lg:qfdmo-px-3w qfdmo-relative qfdmo-flex-grow qfdmo-flex qfdmo-flex-col sm:qfdmo-flex-row"
>
    <div class="qfdmo-flex-grow qfdmo-flex qfdmo-flex-col">
        <div class="qfdmo-h-full qfdmo-w-full qfdmo-flex qfdmo-flex-col">
            {% if request.GET["digital"] == "1" %}
                {% include "qfdmo/carte/_digital_results" %}
            {% else %}
                {# Near by addresses#}
                <div
                    class="qfdmo-flex-grow qfdmo-relative qfdmo-shadow qfdmo-overflow-hidden"
                    data-controller="map"
                    data-action="map:captureInteraction->analytics#captureInteractionWithMap"
                    data-map-location-value="{{ location }}"
                >
                    {{ form.bounding_box }}
                    <div id="map" class="qfdmo-absolute qfdmo-inset-0">
                        {% if is_carte(request) %}
                            <a class="qfdmo-flex lg:qfdmo-hidden
                                      qfdmo-bg-white
                                      fr-mb-1w fr-btn fr-btn--icon-left fr-icon-epingle-plus fr-btn--tertiary qfdmo-whitespace-nowrap qfdmo-w-auto qfdmo-justify-center
                                      qfdmo-absolute qfdmo-left-2w qfdmo-right-2w qfdmo-bottom-3w qfdmo-z-[1000]"
                               href="{{ url('qfdmo:address-suggestion-form') }}"
                               target="_blank"
                               rel="noreferrer"
                               aria-label="Proposer une adresse - Nouvelle fenêtre"
                            >
                                Proposer une adresse
                            </a>
                        {% endif %}
                    </div>
                    <button
                        data-map-target="searchInZoneButton"
                        data-turbo-frame="adresses"
                        data-action="click -> search-solution-form#advancedSubmit"
                        class="fr-btn fr-btn--sm fr-btn--secondary fr-m-1w fr-p-1v
                               qfdmo-absolute qfdmo-z-[1010] qfdmo-right-0 qfdmo-hidden qfdmo-bg-white"
                        type="button"
                        data-with-controls={{"false" if is_carte(request) else "true"}}
                        data-testid="searchInZone"
                    >
                        Rechercher dans cette zone
                    </button>
                    {% if is_carte(request) %}
                        <aside
                            class="
                            qfdmo-pl-3w qfdmo-pb-2w qfdmo-pr-2w qfdmo-max-w-[17rem]
                            qfdmo-hidden lg:qfdmo-block
                            qfdmo-absolute qfdmo-bottom-0 qfdmo-left-0 qfdmo-z-[2000]
                            qfdmo-bg-white qfdmo-drop-shadow-lg"
                        >
                            <h2 class="fr-h4 fr-my-2w">
                                Actions possibles
                            </h2>
                            {{form.legend_grouped_action}}
                            <hr class="qfdmo-pb-2w qfdmo-pt-0">
                            <button
                                class="fr-mb-1w fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left
                                fr-icon-equalizer-line
                                qfdmo-w-full qfdmo-flex qfdmo-justify-center"
                                type="button"
                                data-action="click -> search-solution-form#toggleAdvancedFiltersWithSubmitButton"
                                data-testid="advanced-filters-in-legend"
                            >
                                Filtres avancés
                            </button>

                            <a class="fr-mb-1w fr-btn fr-btn fr-btn--sm fr-btn--secondary
                                fr-btn--icon-left fr-icon-epingle-plus
                                qfdmo-whitespace-nowrap qfdmo-w-full qfdmo-flex qfdmo-justify-center"
                               href="{{ url('qfdmo:address-suggestion-form') }}"
                               target="_blank"
                               rel="noreferrer"
                               aria-label="Proposer une adresse - Nouvelle fenêtre"
                            >
                                Proposer une adresse
                            </a>

                            <button
                                class="fr-mb-1w fr-btn fr-btn--sm fr-btn--tertiary fr-btn--icon-left
                                fr-icon-info-line
                                qfdmo-w-full qfdmo-flex qfdmo-justify-center"
                                type="button"
                                data-action="click -> search-solution-form#toggleAPropos"
                            >
                                À propos
                            </button>
                        </aside>
                    {% endif %}
                    {% with address_ok=(form.initial.adresse or form.initial.bounding_box or acteurs) %}
                        <div
                            class="qfdmo-absolute qfdmo-top-1w qfdmo-bottom-1w qfdmo-left-1w qfdmo-right-1w qfdmo-z-[4000]{% if address_ok %} qfdmo-hidden{% endif %} qfdmo-flex qfdmo-flex-row qfdmo-justify-center qfdmo-border qfdmo-border-grey-900 qfdmo-border-solid"
                            data-search-solution-form-target="addressMissing"
                        >
                            <picture>
                                <source srcset="{{ static("map-background-mobile.png")}}" media="(orientation: portrait)">
                                <img
                                    class="qfdmo-absolute qfdmo-left-0 qfdmo-right-0 qfdmo-top-0 qfdmo-bottom-0 qfdmo-w-full qfdmo-h-full qfdmo-object-cover"
                                    src="{{ static("map-background-desktop.png")}}"
                                    alt=""
                                >
                            </picture>
                            <div class="mx-auto qfdmo-max-w-3xl qfdmo-flex qfdmo-flex-col qfdmo-justify-center qfdmo-text-center qfdmo-items-center qfdmo-relative qfdmo-p-1w">
                                <h3 class="qfdmo-text-2xl sm:qfdmo-text-4xl qfdmo-text-center text-black qfdmo-mb-2w">
                                    Découvrez les lieux près de chez vous
                                    pour donner une seconde vie à votre objet !
                                </h3>
                                <p class="qfdmo-max-w-xl qfdmo-text-lg mx-auto qfdmo-text-grey-50">
                                    Saisissez une adresse et recherchez des établissements à proximité qui vous aideront à remettre votre objet en circulation.</p>
                            </div>
                        </div>
                        <div
                            class="qfdmo-absolute qfdmo-inset-0 qfdmo-bg-white qfdmo-opacity-80 qfdmo-font-black qfdmo-z-[1020] {% if acteurs or not address_ok %} qfdmo-hidden{% endif %}"
                            data-search-solution-form-target="NoLocalSolution"
                        >
                            <div class="qfdmo-flex qfdmo-h-full qfdmo-w-full qfdmo-items-center qfdmo-justify-center qfdmo-text-2xl sm:qfdmo-text-4xl qfdmo-text-center{% if is_carte(request) %} lg:qfdmo-pl-[350px]{% endif %}">
                                Il n'existe pas de solution {% if bounding_box %}dans cette zone{% else %}localisée proche de chez vous (&lt;30 km){% endif %}, essayez avec une autre combinaison de filtres.
                            </div>
                        </div>
                    {% endwith %}
                    {% for acteur in acteurs %}
                        <script type="application/json" data-map-target="acteur">
                            {{ acteur.json_acteur_for_display(direction=form.initial.direction, action_list=form.initial.action_list, carte=carte) | safe }}
                        </script>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div
            data-search-solution-form-target="loadingSolutions"
            class="qfdmo-absolute qfdmo-inset-0 qfdmo-bg-white qfdmo-opacity-90 qfdmo-font-black qfdmo-z-[4000] qfdmo-hidden"
        >
            <div class="qfdmo-flex qfdmo-h-full qfdmo-w-full qfdmo-items-center qfdmo-justify-center qfdmo-text-2xl sm:qfdmo-text-4xl ">
                <span class="fr-icon-refresh-line qfdmo-animate-spin"></span>
                <span class="fr-ml-1w">Chargement des adresses...</span>
            </div>
        </div>
        {% if not is_carte(request) %}
            <div class="qfdmo-px-2w sm:qfdmo-px-0 qfdmo-duration-300 sm:qfdmo-h-fit sm:qfdmo-mr-1w qfdmo-flex qfdmo-flex-row-reverse" data-search-solution-form-target="proposeAddressPanel">
                <a class="fr-my-1w fr-btn fr-btn--tertiary qfdmo-whitespace-nowrap qfdmo-w-full sm:qfdmo-w-max qfdmo-flex qfdmo-justify-center"
                   href="{{ url('qfdmo:address-suggestion-form') }}"
                   target="_blank"
                   rel="noreferrer"
                   aria-label="Proposer une adresse - Nouvelle fenêtre"
                >
                    Proposer une adresse
                </a>
            </div>
        {% endif %}
    </div>

    {% include "qfdmo/carte/_detail.html" %}
</div>
