<div class="qf-items-center qf-hidden md:qf-flex qf-flex-row" id="logo">
    {% include 'layout/_partials/header_logos.html' %}
</div>

{# Recherche adresse #}
<div class="fr-my-1w qf-flex-grow qf-flex qf-flex-col
    qf-px-2w md:qf-px-3w
    md:qf-pr-6w
"
>
    {% include 'qfdmo/_addresses_partials/adresse_input_form.html' %}

    <div class="lg:qf-hidden fr-mt-1w qf-flex qf-justify-between">
        <button
            class="fr-btn fr-btn--sm fr-btn--tertiary"
            type="button"
            title="À propos"
            data-action="click -> search-solution-form#toggleAPropos"
        >
            À propos
        </button>
        <div class="qf-flex qf-flex-row-reverse">
            <button
                class="fr-btn fr-btn--sm fr-btn--secondary fr-ml-1w fr-btn--icon-left fr-icon-eye-line"
                type="button"
                data-action="click -> search-solution-form#showLegend"
            >
                Légende
            </button>
            <button
                class="fr-btn fr-btn--sm fr-btn--secondary fr-ml-1w fr-btn--icon-left fr-icon-equalizer-line"
                type="button"
                data-action="search-solution-form#toggleAdvancedFilters"
                data-testid="advanced-filters"
            >
                Filtres
            </button>
        </div>
    </div>
</div>
