{% extends 'layout/base.html' %}

{% block content %}
    <div class="fr-container fr-my-3w">
        <h1>Conditions générales d'utilisation</h1>
        <h2>Article 1 : Objet</h2>
        <p>Les présentes Conditions Générales d’Utilisation ou « CGU » encadrent l’utilisation des services du site <a href="https://longuevieauxobjets.ademe.fr/">longuevieauxobjets.ademe.fr</a> et de son annuaire web (ci-après dénommé « le site »).</p>
        <h2>Article 2 : La base de données du site</h2>
        <p>La base de données du site est constituée des bases de données suivantes :</p>
        <ul>
            <li><a href="https://www.sinoe.org/" target='_blank'>https://www.sinoe.org/</a> dont l'ADEME est propriétaire</li>
            <li><a href="https://www.artisanat.fr/annuaire-repar-acteurs" target='_blank'>https://www.reparacteurs.artisanat.fr/</a> dont les données sont issues des répertoires des Chambres de Métiers et de l’artisanat</li>
            <li>Les contributions d’utilisateurs du site</li>
            <li>Des fédérations, associations, éco-organismes, syndicats</li>
        </ul>
        <p>Le service API Get Company proposé par le site societeinfo.com a été utilisé pour enrichir la base de données de l’annuaire à partir des informations générales des structures spécialisées dans la location d’objets. Les bases de données légales du site societeinfo.com sont actualisées depuis les répertoires SIRENE, INPI et BODACC.</p>
        <p>L’ADEME a fait appel à un bureau d’études externe pour réaliser un inventaire des initiatives locales et nationales spécialisées dans les activités du réemploi. Cet inventaire non exhaustif s’est limité aux structures référencées sur les moteurs de recherche durant la période de contractualisation de cette prestation.</p>
        <p>La récupération de ces bases de données a été réalisée dans le respect de la réglementation en vigueur et en conformité avec le Règlement Général sur la Protection des Données, règlement nᵒ 2016/679.</p>
        <p>Pour connaître notre politique de protection des données personnelles, vous êtes invités à consulter la page Politique de protection des données.</p>
        <p><strong>Utilisation :</strong></p>
        <p>Les structures spécialisées recensées par l’ADEME sont référencées naturellement sur l’annuaire web et ne nécessitent pas d’action de leur part.</p>
        <p>Néanmoins, les structures ont la possibilité de remplir une demande en ligne pour modifier ou supprimer les informations les concernant sur le site. Pour cela, il leur suffit, sur la cartographie des solutions, de cliquer sur la solution concernée, puis sur “Proposer une modification”. La structure peut alors demander à modifier ou supprimer ses informations en soumettant le formulaire. Celui-ci sera traité sous 2 jours ouvrés.</p>
        <p>Les structures non présentes sur la carte et souhaitant être référencées ont la possibilité de remplir une demande d’inscription en ligne. Pour cela, elles sont tout d’abord invitées à faire une recherche par adresse, pour vérifier si elles ne sont pas déjà référencées. Si elles ne sont pas référencées, et souhaitent l’être, il leur suffit de cliquer sur "Proposer une adresse" sur la page d’accueil. Elles accèdent alors au formulaire de demande d’inscription.</p>
        <p>Toutes les demandes d’inscription, de modification et de suppression sont étudiées par l’ADEME avant d’être publiées/dépubliées dans l’annuaire. Les informations et pièces justificatives demandées dans les formulaires sont exclusivement réservées à la vérification et la validation des demandes émises par les structures.</p>
        <p>Un utilisateur externe a aussi la possibilité de signaler une anomalie sur la fiche d’information d’une structure à partir du formulaire “Proposer une modification”. Cette suggestion fera aussi l’objet d’une vérification.</p>
        <h2>Article 3 : Responsabilité</h2>
        <p>Les informations diffusées sur le site sont présentées à titre purement informatif et n’ont pas de valeur contractuelle. En dépit des mises à jour régulières, la responsabilité du site ne peut être engagée en cas de modification des dispositions administratives et juridiques apparaissant après la publication. Il en est de même pour l’utilisation et l’interprétation des informations communiquées sur le site.</p>
        <p>L’ADEME décline toute responsabilité concernant la qualité de service des professionnels référencés sur sa cartographie web.</p>
        <p>Le site ne peut être tenu pour responsable en cas de force majeure ou du fait imprévisible et insurmontable d’un tiers.</p>
        <p>La garantie totale de la sécurité et la confidentialité des données n’est pas assurée. Le site décline toute responsabilité concernant les éventuels virus pouvant infecter le matériel informatique de l’utilisateur après l’utilisation. L’obligation de fourniture du service se limite à une obligation de moyens et la responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès au site et/ou d’utilisation des services.</p>
        <h2>Article 4 : Réutilisation des contenus</h2>
        <h3>4.1. Textes</h3>
        <p>Sauf mention contraire, les textes mis à disposition par l’ADEME sur le site <a href="https://longuevieauxobjets.ademe.fr/">longuevieauxobjets.ademe.fr</a> peuvent être réutilisés sur tous supports (papier, électronique) en France, ou sur des sites web français ou à destination du territoire français.</p>
        <p>Cette autorisation ne constitue pas une licence. Elle est donnée de façon précaire et n’emporte pas le droit d’adapter ou de modifier les éléments utilisés. Elle peut être retirée par l’ADEME à tout moment. À ce titre, l’ADEME ne fournit aucune garantie d’aucune sorte, ce que l’utilisateur reconnaît expressément.</p>
        <p>L’autorisation est donnée à la condition que l’utilisateur indique systématiquement et visiblement la source, de cette manière : Source ADEME (<a href="https://longuevieauxobjets.ademe.fr/">longuevieauxobjets.ademe.fr</a>). Dans l’hypothèse d’une réutilisation sur un support numérique, celle‐ci doit s’accompagner d’un lien hypertexte vers le site web de l’ADEME.</p>
        <p>Cette autorisation n’exempte pas l’utilisateur du respect des droits des tiers.</p>
        <h3>4.2. Iconographie : logos, marques, photographies, illustrations, animations Flash</h3>
        <p>Les éléments iconographiques (logos, marques, images, photographies, illustrations, animations Flash) reproduits sur ce site sont la propriété de l’ADEME ou de leurs titulaires respectifs. Toute utilisation est interdite sauf accord exprès de l’ADEME ou des titulaires et sur demande d’autorisation conformément à la procédure ci-dessous.</p>
        <p>Si vous avez signé un contrat écrit avec l’ADEME décrivant précisément la manière dont vous pouvez utiliser ses éléments iconographiques, vous n’avez pas besoin de suivre la présente procédure d’agrément, sauf si vous souhaitez modifier les conditions d’utilisation définies par votre contrat existant.</p>
        <p>En aucun cas la réutilisation d’un document, la mention de l’ADEME ou de l’un de ses signes distinctifs, ni le renvoi à son site web, ne doit être fait d’une manière qui laisserait croire que l’ADEME a apporté son soutien ou donné son agrément aux produits, services ou activités de l’utilisateur, ni ne les a parrainés, acceptés ou cautionnés.</p>
        <p>L’ADEME se réserve le droit d’agir contre toute personne qui ne respecterait pas les présentes conditions.</p>
        <h3>4.3. Demande d’autorisation</h3>
        <p>Les demandes d’autorisation sont à adresser à <a href="mailto:longuevieauxobjets@ademe.fr">longuevieauxobjets@ademe.fr</a></p>
        <p>Pour chaque demande :</p>
        <ul>
            <li>décrire l’objet de la demande</li>
            <li>préciser la page Internet dans laquelle se situe le document concerné (copie de l’url) ;</li>
            <li>détailler l’utilisation prévue.</li>
        </ul>
    </div>
{% endblock content %}
