{% extends 'layout/base.html' %}

{% block content %}
    <div class="fr-container fr-my-3w">
        <h1>Politique des cookies</h1>
        <p>Mis à jour le 17/01/2024</p>
        <p><strong>L’équipe Longue vie aux objets souhaite vous informer de manière claire et transparente sur l’usage des cookies lorsque vous consultez son site.</strong></p>
        <h2>1. Préambule</h2>
        <p>Pour permettre aux internautes de bénéficier des services proposés par le site longuevieauxobjets.ademe.fr (ci-après le « Site ») tels que sa consultation, l’optimisation de son utilisation ou sa personnalisation en fonction de l’internaute, le Site utilise des cookies.</p>
        <h2>2. Définitions</h2>
        <p>Les cookies sont des informations relatives à la navigation de votre terminal (ordinateur, tablette, smartphone, etc.) sur le Site. Ils sont utilisés pour envoyer des informations à votre navigateur et permettre à ce navigateur de renvoyer des informations au Site (par exemple un identifiant de session ou le choix d’une langue).</p>
        <p>Seul l’émetteur d’un cookie peut lire ou modifier les informations qui y sont contenues. Il existe différents types de cookies :</p>
        <ul>
            <li>des cookies de session qui disparaissent dès que vous quittez le Site ;</li>
            <li>des cookies permanents qui demeurent sur votre terminal jusqu’à expiration de leur durée de vie ou jusqu’à ce que vous les supprimiez à l’aide des fonctionnalités de votre navigateur.</li>
        </ul>
        <p>Vous êtes informés que, lors de vos visites sur ce Site, des cookies peuvent être installés sur votre équipement terminal.</p>
        <h2>3. Finalités des cookies utilisés</h2>
        <p>Les cookies sont utilisés sur le Site pour différentes finalités, pour faciliter votre navigation, pour vous proposer des contenus personnalisés ou pour réaliser des statistiques de visites.</p>
        <p>Le Site utilise des cookies de navigation indispensables à l’utilisation du Site. Ils ont pour finalité exclusive la gestion technique du réseau et de permettre ou faciliter la communication par voie électronique (détection des erreurs de connexion, identification des points de connexion…).</p>
        <p>Le Site utilise également des cookies de performance, dans le but :</p>
        <ul>
            <li>d’analyser la fréquentation et l’utilisation qui est faite du Site, afin de :</li>
            <ul>
                <li>le faire évoluer dans le sens d’une amélioration de l’expérience de navigation, dans l’objectif final de vous proposer un Site toujours plus adapté ;</li>
                <li>de réaliser des études statistiques ;</li>
                <li>de mémoriser les préférences d’affichage de votre navigateur (langue utilisée, paramètres d’affichage, système d’exploitation utilisé, etc.) et d’adapter la présentation du Site lors de vos visites, selon les matériels et logiciels de visualisation ou de lecture que comporte votre équipement terminal et qui sont utilisés pour la navigation sur le Site ;</li>
                <li>de mettre en œuvre des mesures de sécurité ;</li>
            </ul>
            <li>de rendre le Site plus convivial et interactif.</li>
        </ul>
        <h2>4. Quels cookies sont utilisés sur le Site ?</h2>
        <p>Les cookies utilisés sur le Site sont uniquement ceux de Longue vie aux objets.</p>
        <p>Il n’a pas de cookies de tiers.</p>
        <h2>5. Partage de l’utilisation de votre terminal avec d’autres personnes</h2>
        <p>Si votre terminal est utilisé par plusieurs personnes et lorsqu’un même terminal dispose de plusieurs logiciels de navigation, nous ne pouvons pas nous assurer de manière certaine que les services et publicités destinés à votre équipement terminal correspondent bien à votre propre utilisation de cet équipement terminal et non à celle d’un autre utilisateur du même équipement terminal.</p>
        <p>Le partage avec d’autres personnes de l’utilisation de votre équipement terminal et la configuration des paramètres de votre navigateur à l’égard des cookies, relèvent de votre libre choix et de votre responsabilité.</p>
        <h2>6. Gestion des cookies</h2>
        <h3>6.1 Cookies de mesure d’audience</h3>
        <p>Notre site utilise des cookies de mesure d’audience pour suivre le nombre de visites, le nombre de pages vues, l’activité des visiteurs sur le site et leur fréquence de retour. Ces données statistiques sont soumises à un traitement de la part des gestionnaires de statistiques Matomo et Posthog.</p>
        <p>Ces cookies de mesure d’audience sont exemptés de recueil de consentement comme le permet la délibération CNIL n° 2020-091, dans la mesure où ces derniers sont strictement nécessaires au fonctionnement du site et que les données sont anonymisés. </p>
        <p>Cela signifie que votre adresse IP, par exemple, est anonymisée avant d’être enregistrée. Il est donc impossible d’associer vos visites sur ce site à votre personne. Il convient d’indiquer que :</p>
        <ul>
            <li>Les données collectées ne sont pas recoupées avec d’autres traitements</li>
            <li>Les cookies ne permettent pas de suivre la navigation de l’internaute sur d’autres sites</li>
        </ul>
        <h3>6.2 Paramétrages du navigateur</h3>
        <p>Si la plupart des navigateurs sont paramétrés par défaut et acceptent l’installation de cookies, vous avez la possibilité, si vous le souhaitez, de choisir d’accepter tous les cookies, de les rejeter systématiquement ou encore de choisir ceux que vous acceptez selon leur émetteur.</p>
        <p>Vous pouvez également régulièrement supprimer les cookies de votre terminal via votre navigateur. N’oubliez pas cependant de paramétrer l’ensemble des navigateurs de vos différents terminaux (tablettes, smartphones, ordinateurs…).</p>
        <p>Pour la gestion des cookies et de vos choix, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d’aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies.</p>
        <p>Nous attirons toutefois votre attention sur le fait qu’en paramétrant votre navigateur pour refuser les cookies, certaines fonctionnalités, pages, espaces du Site ne seront pas accessibles, ce dont nous ne saurions être responsables.
        </div>
{% endblock content %}
