{% load dsfr_tags %}

{% dsfr_callout title="Test ESS Label Display" text="Cette page teste l'affichage du label ESS dans le panneau de détails d'un acteur. Cliquer sur 'Voir la fiche' d'un acteur avec le label ESS doit afficher 'Enseigne de l'économie sociale et solidaire' dans le panneau de détails." icon_class="fr-icon-alert-line" %}

<iframe
  src="{{ base_url }}/carte?map_container_id=carte&querystring=Ym91bmRpbmdfYm94PQ==&map-bounding_box=&map-adresse=Auray&map-latitude=47.668099&map-longitude=-2.990838&view_mode-view=liste&legende_filtres-groupe_action=1&legende_filtres-groupe_action=2&legende_filtres-groupe_action=3&legende_filtres-groupe_action=4&legende_filtres-groupe_action=5&filtres-synonyme=&filtres-label_qualite=ess&filtres-pas_exclusivite_reparation=on"
  width="100%"
  height="800"
  style="border: 1px solid #ccc;"
></iframe>
