{% load dsfr_tags %}

{% dsfr_callout title="Test Legacy Bonus Parameter" text="Cette page teste que le paramètre legacy bonus=1 dans l'URL initialise correctement le filtre bonus comme coché dans le formulaire de filtres." icon_class="fr-icon-alert-line" %}

<iframe
  src="/carte?querystring=Ym9udXM9MQ%3D%3D&map-adresse=Auray&map-latitude=47.668099&map-longitude=-2.990838&view_mode-view=liste"
  width="100%"
  height="800"
  style="border: 1px solid #ccc;"
  data-testid="carte-iframe"
></iframe>
