{% if not carte_config or not carte_config.cacher_legende %}
<aside
    data-testid="carte-legend"
    class="
    qf-pl-3w qf-py-2w qf-pr-2w qf-max-w-[17rem]
    qf-hidden lg:qf-block
    qf-absolute qf-bottom-0 qf-left-0 qf-z-10
    qf-bg-white qf-drop-shadow-lg"
>

    {% if form.legend_grouped_action|length > 1 %}
    <h2 class="fr-h4 fr-mb-2w">
        Actions possibles
    </h2>
    {{ form.legend_grouped_action }}
    <hr class="qf-pb-2w qf-pt-0">
    {% endif %}
    <button
        class="fr-mb-1w fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left
        fr-icon-equalizer-line
        qf-w-full qf-flex qf-justify-center"
        type="button"
        data-action="search-solution-form#toggleAdvancedFilters"
        data-testid="advanced-filters-in-legend"
    >
        {{ CARTE.filtres_bouton }}
    </button>

    {% comment %} Check if the branding configuration is not set or if branding is allowed.
    If either condition is true, display the "Infos" button. {% endcomment %}
    {% if not carte_config or not carte_config.supprimer_branding %}
    <button
        class="fr-mb-1w fr-btn fr-btn--sm fr-btn--tertiary fr-btn--icon-left
        fr-icon-info-line
        qf-w-full qf-flex qf-justify-center"
        type="button"
        data-action="click -> search-solution-form#toggleAPropos"
        data-remove-if-internal
    >
        Infos
    </button>
    {% endif %}

    {% include "components/carte/_declaration_accessibilite.html" with mobile=False %}
</aside>
{% endif %}
