on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      app_name_key:
        required: true
        type: string

jobs:
  deploy-on-clever-cloud:
    # Displayed in workflow graph in GitHub UI
    # and in left sidebar
    name: Clever Cloud
    runs-on: "ubuntu-slim"
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: 47ng/actions-clever-cloud@f496297399b2351f4459d10f556e1c4eff2566b7 # v2.1.0
        with:
          alias: ${{ vars[inputs.app_name_key] }}
          force: true
        env:
          CLEVER_TOKEN: ${{ secrets.CLEVER_TOKEN }}
          CLEVER_SECRET: ${{ secrets.CLEVER_SECRET }}

# Address actions/missing-workflow-permissions rule in
# code scanning alerts
permissions:
  contents: read
