name: Regression Job

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      update_snapshots:
        required: true
        type: boolean
      playwright_config:
        required: true
        type: string
      upload_screenshots:
        required: true
        type: boolean
      download_screenshots:
        required: true
        type: boolean
    secrets:
      SAMPLE_DB_URI:
        required: true

env:
  PGHOST: localhost
  PGPORT: 5432
  PGUSER: webapp
  PGPASSWORD: webapp # pragma: allowlist secret
  PGDATABASE: webapp
  UV_PROJECT_ENVIRONMENT: .venv
  BASE_URL: http://localhost:8000
  DATABASE_URL: postgres://webapp:webapp@localhost:5432/webapp # pragma: allowlist secret
  SECRET_KEY: coucou # pragma: allowlist secret
  CI: true
  SCREENSHOTS_BASE_PATH: __screenshots__

jobs:
  regression:
    runs-on: ubuntu-latest

    # services:
    #   postgres:
    #     image: postgis/postgis:15-3.3-alpine
    #     options: >-
    #       --health-cmd pg_isready
    #       --health-interval 1s
    #       --health-timeout 1s
    #       --health-retries 50
    #     ports:
    #       - 5432:5432
    #     env:
    #       POSTGRES_USER: webapp
    #       POSTGRES_PASSWORD: webapp # pragma: allowlist secret
    #       POSTGRES_DB: webapp

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
      - run: wget https://raw.githubusercontent.com/incubateur-ademe/quefairedemesobjets/refs/heads/add-regression-testing/playwright.regression.ts
      - run: wget https://raw.githubusercontent.com/incubateur-ademe/quefairedemesobjets/refs/heads/add-regression-testing/e2e_tests/regression.spec.ts

      - name: Setup Playwright
        uses: ./.github/actions/setup-playwright

      - name: Setup frontend
        uses: ./.github/actions/setup-frontend
        with:
          build: "true"

      # - name: Setup backend
      #   uses: ./.github/actions/setup-backend
      #   with:
      #     uv-groups: "--group dev"

      # - name: Install GIS packages
      #   uses: ./.github/actions/install-gis

      # - name: Get current date
      #   id: date
      #   run: echo "value=$(date -u +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      # - name: Prepare Django database
      #   uses: ./.github/actions/prepare-django-db
      #   with:
      #     cache-key: db-dump-${{ hashFiles('**/migrations/**/*.py') }}-${{ steps.date.outputs.value }}
      #     sample-db-uri: ${{ secrets.SAMPLE_DB_URI }}
      #     database-url: ${{ env.DATABASE_URL }}
      #     local-dump-path: database-dump.pgdump

      # - name: collectstatic
      #   run: make collectstatic

      # - name: Restore database
      #   uses: ./.github/actions/pg-restore
      #   with:
      #     database-url: ${{ env.DATABASE_URL }}
      #     dump-path: database-dump.pgdump

      - name: Download baseline screenshots
        if: inputs.download_screenshots
        uses: actions/download-artifact@v4
        with:
          name: regression-screenshots
          path: ${{ env.SCREENSHOTS_BASE_PATH }}

      # - name: Run server
      #   run: uv run python manage.py runserver --noreload &

      # - name: Wait for server
      #   run: |
      #     timeout 20 sh -c 'until curl -s $BASE_URL > /dev/null; do sleep 1; done'
      #     sleep 2

      - name: Run Playwright
        run: |
          if [ "${{ inputs.update_snapshots }}" = "true" ]; then
            npx playwright test --update-snapshots --config=${{ inputs.playwright_config }}
          else
            npx playwright test --config=${{ inputs.playwright_config }}
          fi

      - name: Upload baseline screenshots
        if: inputs.upload_screenshots
        uses: actions/upload-artifact@v4
        with:
          name: regression-screenshots
          path: ${{ env.SCREENSHOTS_BASE_PATH }}

      - name: Upload Playwright diffs on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-diffs
          path: |
            **/*-expected.png
            **/*-actual.png
            **/*-diff.png

permissions:
  contents: read
