on:
  workflow_call:

defaults:
  run:
    shell: bash

jobs:
  python:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgis/postgis:15-3.3-alpine
        env:
          POSTGRES_USER: qfdmo
          POSTGRES_PASSWORD: qfdmo
          POSTGRES_DB: qfdmo
        options: >-
          --health-cmd pg_isready
          --health-interval 1s
          --health-timeout 1s
          --health-retries 50
        ports:
          - 6543:5432

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          cache: "pip"
          python-version: "3.12.1"
      - name: APT update
        run: |
          sudo apt-get clean
          sudo apt-get update
      - name: Install GIS Packages
        run: |
          sudo apt-get install gdal-bin
      - name: Install Dependencies
        run: pip install --require-hashes --no-deps -r requirements.txt -r dev-requirements.txt
      - name: Run unit tests
        run: pytest unit_tests
      - name: Run integration tests
        run: pytest integration_tests
      - name: Check code formatting
        run: black --check --diff .
      - uses: chartboost/ruff-action@v1

  node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".tool-versions"
          cache: "npm"
      - name: Build assets
        run: |
          npm ci
          npm run build
      - name: Check code formatting
        run: npm run lint
      - name: Run tests
        run: npm run test static

  e2e:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgis/postgis:15-3.3-alpine
        env:
          POSTGRES_USER: qfdmo
          POSTGRES_PASSWORD: qfdmo
          POSTGRES_DB: qfdmo
        options: >-
          --health-cmd pg_isready
          --health-interval 1s
          --health-timeout 1s
          --health-retries 50
        ports:
          - 6543:5432
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: ".tool-versions"
          cache: "npm"

      - name: Build assets
        run: |
          npm ci
          npm run build

      - uses: actions/setup-python@v5
        with:
          cache: "pip"
          python-version: "3.12.1"

      - name: Install GIS Packages
        run: |
          sudo apt-get update
          sudo apt-get install gdal-bin

      - name: Install Dependencies
        run: pip install --require-hashes --no-deps -r requirements.txt -r dev-requirements.txt

      - name: Set env variables
        run: cp .env.template .env

      - name: Migrate database
        run: |
          python manage.py migrate

      - name: Populate database
        run: |
          python manage.py loaddata action_directions actions acteur_services acteur_types categories objets

      - name: Run serveur
        run: |
          python manage.py runserver &

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npx playwright test

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
